{% load user_permission_tags %}
{% if user|can_manage_content:object.lesson %}
<div class="list-group-item sortable_item no_transition">
  {% if object.file %}
    <a href="{{ object.file.url }}" class="list-group-item-primary" data-pk="{{ object.pk }}" target="_blank">
  {% else %}
    <a href="{% url 'resources:detail' object.slug %}" class="list-group-item-primary" data-pk="{{ object.pk }}">
  {% endif %}
    <h4 class="list-group-item-heading">{{ object.name }}</h4>
    <p class="list-group-item-text">
        {{ object.description }}
    </p>
  </a>
  <div class="list-group-item-secondary btn-group-vertical">
    <a href="{% url 'resources:detail' slug=object.slug %}" class="btn btn-link" title="Edit">
      <i class="fa fa-edit"></i>
    </a>
    <a href="{% url 'resources:delete' slug=object.slug %}" class="btn btn-link" title="Delete">
      <i class="fa fa-times"></i>
    </a>
  </div>
</div>
{% else %}
{% if object.file %}
<a href="{{ object.file.url }}" class="list-group-item sortable_item no_transition" data-pk="{{ object.pk }}" target="_blank">
{% else %}
<a href="{% url 'resources:detail' object.slug %}" class="list-group-item sortable_item no_transition" data-pk="{{ object.pk }}">
{% endif %}
    <h4 class="list-group-item-heading">{{ object.name }}</h4>
    <p class="list-group-item-text">
        {{ object.description }}
    </p>
</a>
{% endif %}