{% extends "users/base.html" %}
{% load staticfiles i18n avatar_tags %}

{% block title %}{{ object.username }} | Decide to Fly{% endblock %}

{% block content %}
<section class="user-welcome-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="feed">
          {% for comment in comments %}
          <div class="fb-post">
            {% include "features/comment.html" with hide_comments=True %}
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-5">
        <div class="list-group lessons">
          {% for course in courses %}
          {% include "courses/course_list_item.html" %}
          {% endfor %}
        </div>
        {% for group in groups %}
        <p>{{ group.name }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock content %}
