{% extends "users/base.html" %}
{% load static %}{% load i18n %}
{% load avatar_tags %}

{% block title %}Members{% endblock %}

{% block content %}
<section class="user-list-wrapper">
  <div class="container">

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>Users</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="list-group">
            {% for user in user_list %}
              <a href="{% url 'users:detail' user.username %}" class="list-group-item">
                <h3 class="list-group-item-heading">{% avatar user %} {{ user.username }}</h3>
                <p class="list-group-item-text">{{ maker.tagline }}</p>
              </a>
            {% endfor %}
          
        </div>
      </div>
    </div>

  </div>
</section>

{% endblock content %}