{% extends "users/base.html" %}
{% load crispy_forms_tags %}

{% block title %}User: {{ user.username }}{% endblock %}

{% block content %}
<section class="user-form-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <h1>User: {{ user.username }}</h1>
                <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="control-group">
                      <div class="controls">
                        <button type="submit" class="btn btn-success btn-lg">Update</button>
                      </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}