{% extends "base.html" %}
{% load staticfiles %}

{% block nav_actions %}
{% if user.is_staff %}
  <li><a href="{% url 'facebook_groups:add' %}"><i class="fa fa-plus"></i> Add Community</a></li>
{% endif %}
{% endblock nav_actions %}

{% block content %}
<section class="section-groups">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7 col-md-push-3">
          <div>
            <h1 class="discussion-title">{% block page_title %}Discussions{% endblock page_title %}</h1>
            <p class="page-description">{% block page_description %}{% endblock page_description %}</p>
          </div>
        {% block feed %}{% endblock feed %}
        {% block fb_form %}{% endblock fb_form %}
      </div>
      <div class="col-md-3 col-md-pull-7">
        {% block left_panel %}
        {% endblock left_panel %}
      </div>
    </div>
  </div>
</section>
{% endblock content %}