{% extends "base.html" %}
{% load staticfiles %}

{% block nav_actions %}
{% if user.is_staff %}
  <li><a href="{% url 'facebook_groups:add' %}"><i class="fa fa-plus"></i> Add Community</a></li>
{% endif %}
{% endblock nav_actions %}

{% block content %}
<section class="section-groups">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        {% block left_panel %}
        {% endblock left_panel %}
      </div>
      <div class="col-md-7">
          <div class="">
            <h1 class="page-title">
              {% block page_title %}Communities{% endblock page_title %}
            </h1>
            <p class="page-description">
              {% block page_description %}{% endblock page_description %}
            </p>
          </div>
        <div class="header-container">
          {% block cover %}{% endblock cover %}
        </div>
        {% block feed %}{% endblock feed %}
        {% block fb_form %}{% endblock fb_form %}
      </div>
      <div class="col-md-2">
        {% block right_panel %}
        {% endblock right_panel %}
      </div>
    </div>
  </div>
</section>
{% endblock content %}