{% extends "facebook_groups/base.html" %}
{% load staticfiles comments i18n thumbnail query_string %}
{% block title %}{{ facebook_group.name }}{{ block.super }}{% endblock title %}

{% block cover %}
{% if facebook_group.cover %}
  {% thumbnail facebook_group.cover '750x320' crop='center' as im %} {# 2.35:1 #}
    <img src="{{ im.url }}" class="cover-img img-responsive" alt="{{ facebook_group.name }}">
  {% endthumbnail %}
{% else %}
  <img src="{% static 'images/decide-to-fly-home-banner.jpg' %}" class="cover-img img-responsive" alt="{{ facebook_group.name }}">
{% endif %}
{% endblock cover %}

{% block page_title %}{{ facebook_group.name }}{% endblock page_title %}
{% block page_description %}{{ facebook_group.description }}{% endblock page_description %}

{% block nav_actions %}
{% if user.is_staff %}
  <li><a href="{% url 'facebook_groups:edit' fb_uid=facebook_group.fb_uid %}"><i class="fa fa-edit"></i> Edit Community</a></li>
{% endif %}
{% endblock nav_actions %}

{% block nav_secondary %}
<li>
  <a href="{% url 'facebook_groups:list' %}{% query_string request.GET %}">
  <i class="fa fa-arrow-left"></i> &nbsp; Communities
  </a>
</li>
{% endblock nav_secondary %}

{% block feed %}
<section class="feed">
  <div class="panel panel-default panel-comment-create">
    {% if user.is_authenticated %}
    {% get_comment_form for facebook_group as form %}
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#tab-write-new" role="tab" data-toggle="tab">Write</a></li>
        <li><a href="#tab-preview-new" class="tab-preview" data-id='new' data-url="{% url 'dtf_comments:preview_comment' %}" role="tab" data-toggle="tab">Preview</a></li>
    </ul>
<form action="{% comment_form_target %}" method="POST">
            {% csrf_token %}
    <div class="panel-body">
    <!-- Tab panes -->

    <div class="tab-content">
      <div class="tab-pane active" id="tab-write-new">

              <textarea class="form-control" placeholder="Write something..." name="{{ form.comment.html_name }}" id="id_comment"></textarea>
            <div class="hidden">{{ form.honeypot }}</div>
            {{ form.content_type }}
            {{ form.object_pk }}
            {{ form.timestamp }}
            {{ form.security_hash }}
            <input type="hidden" name="next" value="{% url 'facebook_groups:detail' facebook_group.fb_uid %}" />
      </div>

      <div class="tab-pane" id="tab-preview-new"></div>
    </div>
</div>
        <div class="panel-footer">
        <button type="submit" id="id_submit" class="btn btn-primary pull-right"><i class="fa fa-send fa-fw"></i></button>
        <div class="clearfix"></div>
      </div>
    </form>

    {% else %}
      <p>Please <a href="{% url 'account_login' %}">log in</a> to leave a comment.</p>
    {% endif %}
  </div>
  <div id="facebook-feed-list">
    {% if facebook_group.pinned_comment %}
      {% with facebook_group.pinned_comment as comment %}
        <div id="post-{{ comment.id }}" class="fb-post panel panel-pinned">
          {% if user.is_staff %}
            <div class="pull-right pin-post">
              <a href="{% url 'facebook_groups:unpin_comment' fb_uid=facebook_group.fb_uid %}">
                <i class="fa fa-thumb-tack"></i>
              </a>
            </div>
          {% endif %}
          {% include "features/comment.html" %}
        </div>
      {% endwith %}
    {% endif %}
    {% for comment in comments %}
      <div id="post-{{ comment.id }}" class="fb-post panel panel-default">
        {% if user.is_staff %}
          <div class="pull-right pin-post">
            <a href="{% url 'facebook_groups:pin_comment' fb_uid=facebook_group.fb_uid comment_id=comment.id %}">
              <i class="fa fa-thumb-tack"></i>
            </a>
          </div>
        {% endif %}

          {% include "features/comment.html" %}
      </div>
    {% endfor %}
  </div>
  {% include "comments/pager.html" with comment_list=comments %}
</section>
{% endblock %}
{% block javascript %}
{{ block.super }}
<script src="{% static 'bootstrap/js/tab.js' %}"></script>
{% endblock javascript %}