{% extends "facebook_groups/list.html" %}
{% load staticfiles comments i18n %}
{% block title %}{{ facebook_group.name }}{{ block.super }}{% endblock title %}

{% block page_title %}{{ facebook_group.name }}{% endblock page_title %}

{% block feed %}
<section class="feed">
  <div class="">
    <p class="lead">{{ facebook_group.description }}</p>
  </div>
  <div class="clearfix"></div>
  <div class="panel">
    {% if user.is_authenticated %}
      {% get_comment_form for facebook_group as form %}
      <form action="{% comment_form_target %}" method="POST">
        {% csrf_token %}
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Write something..." name="{{ form.comment.html_name }}" id="id_comment">
          <span class="input-group-btn">
            <button type="submit" id="id_submit" class="btn btn-primary"><i class="fa fa-send fa-fw"></i></button>
          </span>
        </div>
        <div class="hidden">{{ form.honeypot }}</div>
        {{ form.content_type }}
        {{ form.object_pk }}
        {{ form.timestamp }}
        {{ form.security_hash }}
        <input type="hidden" name="next" value="{% url 'facebook_groups:detail' facebook_group.fb_uid %}" />
      </form>
    {% else %}
      <p>Please <a href="{% url 'account_login' %}">log in</a> to leave a comment.</p>
    {% endif %}
  </div>
  <div id="facebook-feed-list">
    {% if facebook_group.pinned_comment %}
      {% with facebook_group.pinned_comment as comment %}
        <div id="post-{{ comment.id }}" class="fb-post panel panel-pinned">
          {% if user.is_staff %}
            <div class="pull-right pin-post">
              <a href="{% url 'facebook_groups:unpin_comment' fb_uid=facebook_group.fb_uid %}">
                <i class="fa fa-thumb-tack"></i>
              </a>
            </div>
          {% endif %}
          {% include "comments/detail.html" %}
        </div>
      {% endwith %}
    {% endif %}
    {% for comment in comments %}
      <div id="post-{{ comment.id }}" class="fb-post panel panel-default">
        {% if user.is_staff %}
          <div class="pull-right pin-post">
            <a href="{% url 'facebook_groups:pin_comment' fb_uid=facebook_group.fb_uid comment_id=comment.id %}">
              <i class="fa fa-thumb-tack"></i>
            </a>
          </div>
        {% endif %}
        {% include "comments/detail.html" %}
      </div>
    {% endfor %}
  </div>
  {% include "comments/pager.html" with comment_list=comments %}
</section>
{% endblock %}