{% load query_string thumbnail static %}
<a class="group-item" href="{% url 'facebook_groups:detail' facebook_group.fb_uid %}{% query_string request.GET %}">
	<div class="row">
  <div class="col-md-6">
  	{% if facebook_group.thumbnail %}
    {% thumbnail facebook_group.thumbnail '360x240' crop='center' as im %}
      <img src="{{ im.url }}" class="group-img img-responsive" alt="{{ facebook_group.name }}">
    {% endthumbnail %}
    {% else %}
    <img class="group-img img-responsive" src="{% static 'images/decide-to-fly-home-banner.jpg' %}">
    {% endif %}
  </div><!--/ .col-md-6-->
    <div class="col-md-6">
      <h3 class="group-title">{{ facebook_group.name }}</h3>
      <p class="group-text">{{ facebook_group.description|truncatewords:20 }}</p>
    </div><!--/ .col-md-6-->
</div>
</a><!--/ .course-item-->

