{% extends "pages/base.html" %}
{% load staticfiles i18n %}

{% block title %}About{{ block.super }}{% endblock title %}

{% block content %}
	<!-- - - - - - - - FAQS BLOCK - - - - - - - -->
	<section class="faqs section bg-gray-color">
		<div class="container">
			<div class="row">
	            <div class="section-header col-xs-12 text-center">
	                <h1 class="section-title">FAQs</h1>
	                <hr>
	            </div><!--/ .section-header-->
			</div><!--/ .row-->
			<div class="row">
				<div class="col-sm-6 col-lg-4">
					<article class="entry">
						<h3 class="entry-title">How does the Decide To Fly&trade; Online Community work?</h3>
						<div class="entry-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut lacus at velit consequat sodales. Ut posuere neque in molestie gravida. Integer eu feugiat neque, elementum posuere purus.</p>
						</div><!--/ .entry-body-->
					</article><!--/ .entry-->
				</div><!--/ .col-sm-6.col-lg-4-->
				<div class="col-sm-6 col-lg-4">
					<article class="entry">
						<h3 class="entry-title">Who are Jami’s mentors?</h3>
						<div class="entry-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut lacus at velit consequat sodales. Ut posuere neque in molestie gravida. Integer eu feugiat neque, elementum posuere purus.</p>
						</div><!--/ .entry-body-->
					</article><!--/ .entry-->
				</div><!--/ .col-sm-6.col-lg-4-->
				<div class="col-sm-6 col-lg-4">
					<article class="entry">
						<h3 class="entry-title">Will Jami travel for a speaking event or one-on-one mentoring?</h3>
						<div class="entry-body">
							<p>Yes, Depending upon your schedule and hers, Jami is more than happy to come see to you. Please contact our office directly to learn more details.</p>
						</div><!--/ .entry-body-->
					</article><!--/ .entry-->
				</div><!--/ .col-sm-6.col-lg-4-->
			</div><!--/ .row-->
			<div class="row">
				<div class="col-sm-6 col-lg-4">
					<article class="entry">
						<h3 class="entry-title">Is there another way to work with Jami besides the one-on-one or 360&deg; Mentoring?</h3>
						<div class="entry-body">
							<p>Of course! Jami is available each Sunday evening on a live chat inside the community. You can send your questions to <a href="info@decidetofly.com">info@decidetofly.com</a> or just join in the conversation and type in your question.</p>
						</div><!--/ .entry-body-->
					</article><!--/ .entry-->					
				</div><!--/ .col-sm-6.col-lg-4-->
				<div class="col-sm-6 col-lg-4">
					<article class="entry">
						<h3 class="entry-title">How do I make the most of my Decide To Fly&trade; membership?</h3>
						<div class="entry-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut lacus at velit consequat sodales. Ut posuere neque in molestie gravida. Integer eu feugiat neque, elementum posuere purus.</p>
						</div><!--/ .entry-body-->
					</article><!--/ .entry-->					
				</div><!--/ .col-sm-6.col-lg-4-->
				<div class="col-sm-6 col-lg-4">
					<article class="entry">
						<h3 class="entry-title">As a member, if I have a personal question, can Jami answer it directly?</h3>
						<div class="entry-body">
							<p>Yes. There are many ways to chat with Jami. From her monthly “Ask Jami” live calls to meeting with her live. Simply complete the “Let’s Connect” for on the connect page and we will make sure that we find the best way for you to connect with Jami.</p>
						</div><!--/ .entry-body-->
					</article><!--/ .entry-->					
				</div><!--/ .col-sm-6.col-lg-4-->
			</div><!--/ .row-->
		</div><!--/ .container-->
	</section>
	<!-- - - - - - - -/ FAQS BLOCK - - - - - - - -->
{% endblock content %}