{% extends "base.html" %}
{% load crispy_forms_tags staticfiles %}

{% block sub_header %}
{% endblock sub_header %}

{% block footer_form %}
{% crispy email_form %}
{% endblock footer_form %}

{% block title %}Flute Lessons{% endblock title %}

{% block javascript %}
{{ block.super }}
{% include "includes/js_marketing.html" %}
{% endblock javascript %}

{% block css %}
{{ block.super }}
{% include "includes/css_marketing.html" %}
{% endblock css %}

{% block header %}
  <header>
    <nav class="navbar nav-member navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars"></i>
          </button><!--/ .navbar-toggle-->
        </div><!--/ .navbar-header-->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
              {% block nav_user %}
                {% include "menus/nav_user.html" %}
              {% endblock nav_user %}
          </ul><!--/ .nav-->
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav><!--/ .navbar-->
    <nav class="navbar nav-marketing navbar-static-top" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle hidden" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars"></i>
          </button><!--/ .navbar-toggle-->
          <a href="{% url 'home' %}"><img class="nav-logo" src="{% static 'images/logo-placeholder.png' %}"></a>
        </div><!--/ .navbar-header-->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav navbar-right">
              {% block nav %}
                {% include "menus/nav_marketing.html" %}
              {% endblock nav %}
          </ul><!--/ .nav-->
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav><!--/ .navbar-->
  </header>
{% endblock header %}