{% extends "pages/base.html" %}

{% block title %}Our Community | Decide to Fly{% endblock title %}

{% block content %}
<!-- - - - - - - - LEADER APPLICATION BLOCK - - - - - - - -->
<section class="section bg-gray-color">
	<div class="container">
		<!-- - - Infusionsoft Form - - -->
		<form role="form" accept-charset="UTF-8" action="https://kb140.infusionsoft.com/app/form/process/e4cb196cd2f52c1a00f2c21c60a8f72d" method="POST">
		    <input name="inf_form_xid" type="hidden" value="e4cb196cd2f52c1a00f2c21c60a8f72d" />
		    <input name="inf_form_name" type="hidden" value="User fills out&#a;application form" />
		    <input name="infusionsoft_version" type="hidden" value="1.29.11.21" />
		    <div class="form-group">
		        <label for="inf_field_FirstName">First Name *</label>
		        <input id="inf_field_FirstName" name="inf_field_FirstName" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_field_MiddleName">Middle Name</label>
		        <input id="inf_field_MiddleName" name="inf_field_MiddleName" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_field_LastName">Last Name *</label>
		        <input id="inf_field_LastName" name="inf_field_LastName" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_field_Suffix">Suffix</label>
		        <select id="inf_field_Suffix" name="inf_field_Suffix">
		        	<option value="">Please select one</option>
		        	<option value="I">I</option>
		        	<option value="II">II</option>
		        	<option value="III">III</option>
		        	<option value="IV">IV</option>
		        	<option value="V">V</option>
		        	<option value="PhD">PhD</option>
		        	<option value="Jr">Jr</option>
		       	</select>
		    </div>
		    <div class="form-group">
		        <label for="inf_field_StreetAddress1">Street Address *</label>
		        <input id="inf_field_StreetAddress1" name="inf_field_StreetAddress1" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_field_StreetAddress2">Unit/Apt</label>
		        <input id="inf_field_StreetAddress2" name="inf_field_StreetAddress2" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_field_City">City *</label>
		        <input id="inf_field_City" name="inf_field_City" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_field_State">State *</label>
		        <input id="inf_field_State" name="inf_field_State" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_field_PostalCode">Zip Code *</label>
		        <input id="inf_field_PostalCode" name="inf_field_PostalCode" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_field_Phone1">Primary Phone *</label>
		        <input id="inf_field_Phone1" name="inf_field_Phone1" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_field_Phone2">Secondary Phone</label>
		        <input id="inf_field_Phone2" name="inf_field_Phone2" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_field_Email">Email *</label>
		        <input id="inf_field_Email" name="inf_field_Email" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_field_EmailAddress2">Confirm Email *</label>
		        <input id="inf_field_EmailAddress2" name="inf_field_EmailAddress2" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_field_Website">Website</label>
		        <input id="inf_field_Website" name="inf_field_Website" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_field_Company">Employer *</label>
		        <input id="inf_field_Company" name="inf_field_Company" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_custom_MonthsYearsofEmployment">How long have you been employed? *</label>
		        <input id="inf_custom_MonthsYearsofEmployment" name="inf_custom_MonthsYearsofEmployment" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_field_JobTitle">Job Title *</label>
		        <input id="inf_field_JobTitle" name="inf_field_JobTitle" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_custom_JobDescription">Job Description *</label>
		        <textarea cols="24" id="inf_custom_JobDescription" name="inf_custom_JobDescription" rows="5">
		    </textarea></div>
		    <div class="form-group">
		        <label for="inf_option_Maywecontactyouremployer">May we contact your employer?</label>
		        <div class="infusion-radio">
		            <span class="infusion-option">
		                <input checked="checked" id="inf_option_Maywecontactyouremployer_467" name="inf_option_Maywecontactyouremployer" type="radio" value="467" />
		                <label for="inf_option_Maywecontactyouremployer_467">Yes</label>
		            </span>
		            <span class="infusion-option">
		                <input id="inf_option_Maywecontactyouremployer_469" name="inf_option_Maywecontactyouremployer" type="radio" value="469" />
		                <label for="inf_option_Maywecontactyouremployer_469">No</label>
		            </span>
		        </div>
		    </div>
		    <div class="form-group">
		        <label for="inf_custom_SupervisorName">Supervisor's Name</label>
		        <input id="inf_custom_SupervisorName" name="inf_custom_SupervisorName" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_custom_SupervisorPhone">Phone</label>
		        <input id="inf_custom_SupervisorPhone" name="inf_custom_SupervisorPhone" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_custom_SupervisorEmail">Email</label>
		        <input id="inf_custom_SupervisorEmail" name="inf_custom_SupervisorEmail" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_option_Education">Education</label>
		        <div class="infusion-radio">
		            <span class="infusion-option">
		                <input id="inf_option_Education_471" name="inf_option_Education" type="radio" value="471" />
		                <label for="inf_option_Education_471">Some High School</label>
		            </span>
		            <span class="infusion-option">
		                <input id="inf_option_Education_473" name="inf_option_Education" type="radio" value="473" />
		                <label for="inf_option_Education_473">High School Diploma/GED</label>
		            </span>
		            <span class="infusion-option">
		                <input id="inf_option_Education_475" name="inf_option_Education" type="radio" value="475" />
		                <label for="inf_option_Education_475">Some College</label>
		            </span>
		            <span class="infusion-option">
		                <input id="inf_option_Education_477" name="inf_option_Education" type="radio" value="477" />
		                <label for="inf_option_Education_477">Trade/Technical/Vocational</label>
		            </span>
		            <span class="infusion-option">
		                <input id="inf_option_Education_479" name="inf_option_Education" type="radio" value="479" />
		                <label for="inf_option_Education_479">Associate Degree</label>
		            </span>
		            <span class="infusion-option">
		                <input id="inf_option_Education_481" name="inf_option_Education" type="radio" value="481" />
		                <label for="inf_option_Education_481">Bachelor&rsquo;s Degree</label>
		            </span>
		            <span class="infusion-option">
		                <input id="inf_option_Education_483" name="inf_option_Education" type="radio" value="483" />
		                <label for="inf_option_Education_483">Master&rsquo;s Degree</label>
		            </span>
		            <span class="infusion-option">
		                <input id="inf_option_Education_485" name="inf_option_Education" type="radio" value="485" />
		                <label for="inf_option_Education_485">Professional Degree</label>
		            </span>
		            <span class="infusion-option">
		                <input id="inf_option_Education_487" name="inf_option_Education" type="radio" value="487" />
		                <label for="inf_option_Education_487">Doctorate Degree</label>
		            </span>
		        </div>
		    </div>
		    <div class="form-group">
		        <label for="inf_custom_Skills">Special Skills *</label>
		        <textarea cols="24" id="inf_custom_Skills" name="inf_custom_Skills" rows="5">
		    </textarea></div>
		    <div class="form-group">
		        <label for="inf_custom_Reference1Name">Reference Name *</label>
		        <input id="inf_custom_Reference1Name" name="inf_custom_Reference1Name" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_custom_Reference1Relationship">Relationship *</label>
		        <input id="inf_custom_Reference1Relationship" name="inf_custom_Reference1Relationship" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_custom_Reference1Phone">Phone *</label>
		        <input id="inf_custom_Reference1Phone" name="inf_custom_Reference1Phone" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_custom_Reference1Email">Email</label>
		        <input id="inf_custom_Reference1Email" name="inf_custom_Reference1Email" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_custom_Reference2Name">Reference Name *</label>
		        <input id="inf_custom_Reference2Name" name="inf_custom_Reference2Name" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_custom_Reference2Relationship">Relationship *</label>
		        <input id="inf_custom_Reference2Relationship" name="inf_custom_Reference2Relationship" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_custom_Reference2Phone">Phone *</label>
		        <input id="inf_custom_Reference2Phone" name="inf_custom_Reference2Phone" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_custom_Reference2Email">Email</label>
		        <input id="inf_custom_Reference2Email" name="inf_custom_Reference2Email" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_custom_Reference3Name">Reference Name *</label>
		        <input id="inf_custom_Reference3Name" name="inf_custom_Reference3Name" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_custom_Reference3Relationship">Relationship *</label>
		        <input id="inf_custom_Reference3Relationship" name="inf_custom_Reference3Relationship" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_custom_Reference3Phone">Phone *</label>
		        <input id="inf_custom_Reference3Phone" name="inf_custom_Reference3Phone" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_custom_Reference3Email">Email</label>
		        <input id="inf_custom_Reference3Email" name="inf_custom_Reference3Email" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_custom_Notes">Why do you consider yourself a strong candidate for the Decide to Fly&trade; leadership team? *</label>
		        <textarea cols="24" id="inf_custom_Notes" name="inf_custom_Notes" rows="5">
		    </textarea></div>
		    <div class="form-group">
		        <label for="inf_misc_WouldyourgiftsservebestasaTeamLeaderoranAdministrativeLeader">Would your gifts serve best as a Team Leader or an Administrative Leader? *</label>
		        <input id="inf_misc_WouldyourgiftsservebestasaTeamLeaderoranAdministrativeLeader" name="inf_misc_WouldyourgiftsservebestasaTeamLeaderoranAdministrativeLeader" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_misc_Whatareyourpersonalgoalsforthenextyear">What are your personal goals for the next year? *</label>
		        <input id="inf_misc_Whatareyourpersonalgoalsforthenextyear" name="inf_misc_Whatareyourpersonalgoalsforthenextyear" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_misc_Whatareyourpersonalgoalsforthenextthreeyears">What are your personal goals for the next three years? *</label>
		        <input id="inf_misc_Whatareyourpersonalgoalsforthenextthreeyears" name="inf_misc_Whatareyourpersonalgoalsforthenextthreeyears" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_misc_Howdoyouplantoachievethesegoals">How do you plan to achieve these goals? *</label>
		        <input id="inf_misc_Howdoyouplantoachievethesegoals" name="inf_misc_Howdoyouplantoachievethesegoals" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_misc_WhatdoyouexpecttoreceivepersonallyfromDecidetoFly">What do you expect to receive personally from Decide to Fly&trade;? *</label>
		        <input id="inf_misc_WhatdoyouexpecttoreceivepersonallyfromDecidetoFly" name="inf_misc_WhatdoyouexpecttoreceivepersonallyfromDecidetoFly" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_custom_PersonalBio">In less than 300 words, tell us about yourself. *</label>
		        <textarea cols="24" id="inf_custom_PersonalBio" name="inf_custom_PersonalBio" rows="5">
		    </textarea></div>
		    <div class="form-group">
		        <label for="inf_custom_Referredfrom">How did you hear about us? *</label>
		        <input id="inf_custom_Referredfrom" name="inf_custom_Referredfrom" type="text" />
		    </div>
		    <div class="form-group">
		        <label for="inf_option_Whatwouldbethebestwayforustocontactyou">What would be the best way for us to contact you?</label>
		        <div class="infusion-radio">
		            <span class="infusion-option">
		                <input id="inf_option_Whatwouldbethebestwayforustocontactyou_489" name="inf_option_Whatwouldbethebestwayforustocontactyou" type="radio" value="489" />
		                <label for="inf_option_Whatwouldbethebestwayforustocontactyou_489">Phone</label>
		            </span>
		            <span class="infusion-option">
		                <input id="inf_option_Whatwouldbethebestwayforustocontactyou_493" name="inf_option_Whatwouldbethebestwayforustocontactyou" type="radio" value="493" />
		                <label for="inf_option_Whatwouldbethebestwayforustocontactyou_493">Email</label>
		            </span>
		            <span class="infusion-option">
		                <input checked="checked" id="inf_option_Whatwouldbethebestwayforustocontactyou_495" name="inf_option_Whatwouldbethebestwayforustocontactyou" type="radio" value="495" />
		                <label for="inf_option_Whatwouldbethebestwayforustocontactyou_495">No Preference</label>
		            </span>
		        </div>
		    </div>
		    <button class="btn btn-success btn-lg" type="submit" value="Submit">Submit</button>
		</form>
		<!-- - -/ Infusionsoft Form - - -->
	</div><!--/ .container-->
</section>
<!-- - - - - - - -/ LEADER APPLICATION BLOCK - - - - - - - -->
{% endblock content %}