{% extends "pages/base.html" %}

{% block title %}Courage to Soar | Decide to Fly{% endblock title %}

{% block content %}
  <!-- ----------- ICON SECTIONS BLOCK ----------- -->
  <section class="icon-sections block">
    <div class="container">
      <div class="row">
        <div class="section-header col-xs-12 text-center">
          <h1 class="section-title">Our Services</h1>
          <hr><!--/ .separator-->
        </div><!--/ .section-header-->
      </div><!--/ .row-->
      <div class="row">
        <div class="content-box col-md-4 text-center">
          <a href="#"><i class="icon fa fa-gears"></i></a>
          <h4 class="title">Web Design</h4>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tristique tellus ut lectus suscipit, nec elementum dolor placerat. Proin ut metus vitae purus condimentum dictum a in justo. Nullam luctus cursus fermentum.</p>
          <a href="#"><h5 class="more-info">Read More &nbsp;<i class="fa fa-arrow-right"></i></h5></a>
        </div><!--/ .content-box-->
        <div class="content-box col-md-4 text-center">
          <a href="#"><i class="icon fa fa-group"></i></a>
          <h4 class="title">Bootstrap Framework</h4>
          <p class="description">Maecenas molestie, libero non ornare aliquam, felis augue volutpat quam, eget ultrices eros metus eu neque. Donec accumsan ultricies nisl. Maecenas ut pellentesque ipsum. Mauris est mi, vestibulum non tristique sit amet.</p>
          <a href="#"><h5 class="more-info">Read More &nbsp;<i class="fa fa-arrow-right"></i></h5></a>
        </div><!--/ .content-box-->
        <div class="content-box col-md-4 text-center">
          <a href="#"><i class="icon fa fa-flag"></i></a>
          <h4 class="title">Django Development</h4>
          <p class="description">Suspendisse libero nulla, elementum in sollicitudin id, rutrum eget sapien. Nullam ut posuere diam. Nulla id erat id dolor feugiat facilisis non vel urna. Duis consectetur fermentum libero ut gravida.</p>
          <a href="#"><h5 class="more-info">Read More &nbsp;<i class="fa fa-arrow-right"></i></h5></a>
        </div><!--/ .content-box-->
      </div><!--/ .row-->
    </div><!--/ .container-->
  </section>
  <!-- -----------/ ICON SECTIONS BLOCK ----------- -->
{% endblock content %}