{% extends "pages/base.html" %}

{% block title %}Courage to Soar | Decide to Fly{% endblock title %}

{% block content %}
	<!-- - - - - - - - ABOUT CTS BLOCK - - - - - - - -->
	<section class="about-products">
		<!-- - - PARALLAX BLOCK - - -->
		<section class="section parallax parallax-courage">
			<div class="full-bg-image"></div>
			<div class="container">
				<div class="product-header col-md-12 text-center">
					<h1 class="section-title">Courage to Soar</h1>
					<h3 class="section-subtitle">Vivamus eget rhoncus purus. Proin non urna ligula. Nunc scelerisque, nunc eget placerat feugiat, arcu quam fringilla mauris, quis blandit diam neque posuere nulla. Aliquam scelerisque diam ut fermentum bibendum. Ut sed ullamcorper nibh. Praesent sit amet molestie lectus, non faucibus tellus.</h3>
					<a href="#"><button class="btn btn-lg btn-danger">Member Login</button></a>
				</div><!--/ .col-md-12-->
			</div><!--/ .container-->
		</section>
		<!-- - - /PARALLAX BLOCK - - -->
		<!-- - - INFO BLOCK - - -->
		<section class="section">
			<div class="container">
				<div class="row">
          <div class="section-header col-xs-12 text-center">
          	<h1 class="section-title">What to Expect</h1>
          </div><!--/ .section-header-->
				</div><!--/ .row-->
			</div><!--/ .container-->
				<div class="row products-items">
					<div class="col-sm-6 col-md-4 slideRight">
						<div class="entry">
							<div class="icon top">
								<i class="fa fa-desktop"></i>
							</div>
							<h2 class="entry-title">Online Mentoring</h2>
							<div class="entry-body">
								<p>Curabitur consequat iaculis neque a faucibus. Sed in rhoncus tellus. Mauris tortor nibh, convallis quis sagittis ut, ornare eget metus. Phasellus vel varius ante. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
							</div><!--/ .entry-body-->
						</div><!--/ .entry-->
					</div><!--/ .col-sm-6.col-lg-3-->
					<div class="col-sm-6 col-md-4 slideUp">
						<div class="entry">
							<div class="icon top">
								<i class="fa fa-comments"></i>
							</div>
							<h2 class="entry-title">Live Discussion Boards</h2>
							<div class="entry-body">
								<p>Curabitur consequat iaculis neque a faucibus. Sed in rhoncus tellus. Mauris tortor nibh, convallis quis sagittis ut, ornare eget metus. Phasellus vel varius ante. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
							</div><!--/ .entry-body-->
						</div><!--/ .entry-->
					</div><!--/ .col-sm-6.col-lg-3-->
					<div class="col-sm-6 col-md-4 slideLeft">
						<div class="entry">
							<div class="icon top">
								<i class="fa fa-users"></i>
							</div>
							<h2 class="entry-title">Connect With Peers</h2>
							<div class="entry-body">
								<p>Curabitur consequat iaculis neque a faucibus. Sed in rhoncus tellus. Mauris tortor nibh, convallis quis sagittis ut, ornare eget metus. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
							</div><!--/ .entry-body-->
						</div><!--/ .entry-->
					</div><!--/ .col-sm-6.col-lg-3-->
				</div><!--/ .row.community-items-->
			</section>
			<!-- - - /INFO BLOCK - - -->
	</section>
	<!-- - - - - - - - /ABOUT CTS BLOCK - - - - - - - -->
{% endblock content %}