{% extends "pages/base.html" %}
{% load staticfiles %}

{% block title %}Our Community | Decide to Fly{% endblock title %}

{% block content %}
<div id="wrapper">
	<section class="section-community-header">
		<img src="{% static 'images/hmh/birdcage-jami.jpg' %}">
	</section>

<ul class="list-unstyled">
<li>As women we all need someone to walk beside...</li>
<li>share the joy and the pain of everyday living...</li>
<li>help not let the lows let us get too low...</li>
<li>and be there with each other to celebrate our highest achievements</li>
<li>and all the little steps in between.</li>
</ul>

<p class="">Life is more fun when we are creating it together!</p>


<p class="">This community is for you if:</p>
<ul class="list-unstyled">
<li>You are tired of the negative, gossipy, “water cooler” conversations at work?</li>
<li>You are ready to invite Joy and Fun to be permanent guests in your house.</li>
<li>You are craving balance because you feel overwhelmed by life and all you have “To Do.”</li>
<li>You need support and encouragement to pursue your dreams and passions.</li>
<li>You want to help others and make a difference in the world, but don’t exactly know how yet.</li>
<li>You are ready to escape the daily drama and feel peace in your life.</li>
<li>You know you are in the wrong career but you are afraid to make a change.</li>
</ul>

<p class="">Guess what? There is MORE for you, and you CAN create the life you really wanted to live!</p>


<a href="" class="btn btn-primary btn-lg">Join us today.</a>


<h2 class="">Here is how we support you!</h2>

<p class="">One of the very best tips my mentors gave me is to make sure I surround myself with people in a safe, supportive environment that encourages me to stretch myself to make my best next move. Women need the space to learn and grow and give and share. Successful people share because they believe in abundance and know that there is enough to go around for everyone and more! Decide to Fly is a refreshing approach to self-development.</p>

<h2 class="">Your Membership includes:</h2>

<h3 class="">&quot;THE ONLINE COMMUNITY&quot;</h3>

<p class="">Join the conversation, the inspiration, and the collaboration with like-minded women and become your favorite inspirational quote.</p>

<p class="">24/7 ACCESS TO:</p>

<ul class="list-unstyled">
<li>Virtual conversation with other Decide to Fly community members at any time. Never miss a conversation by downloading our Decide to Fly app for your phone.</li>
<li>Journal your daily progress with our online unique accountability tools</li>
<li>Daily instructional coaching with the tools you will need to be supported along the way</li>
<li>New _(insert word here)_ weekly lessons from Jami. You will learn how to apply and implement self-development in your life so you can successfully move forward towards personal life transformation</li>
<li>Pre-recorded interviews by our hand-selected “Success Navigators”. Meet women from all over the world who have achieved personal success.</li>
</ul>


<p class="">BONUS: First time members receive a FREE “How The World Sees You” test by NY Times best selling author, Sally Hogshead.</p>
<!-- (Insert picture of Sally here) -->

<p class="">PLUS: Join Jami for a live monthly Q & A call which will inspire you to ____________</p>

<p class="">PLUS: Priority Registration and special discount pricing to all our programs and live events.</p>

<h2 class="">EXCLUSIVE REFERRAL PROGRAM</h2>

<p class="">We want to support you in helping grow this community. We believe the more we collaborate, the more we will accelerate. For every new member you refer, you will...</p>

<!--JOIN NOW BUTTON (DECIDE TO FLY HEART WITH WINGS AND WRITE JOIN NOW IN RED IN CENTER OF HEART)-->
<a href="" class="btn btn-primary btn-lg">Join Now</a>

<h2 class="">RISE EVENTS<small>(Included in your membership)</small></h2>

<p class="">On the third Saturday of each month, Decide to Fly members and their guests “RISE” across the nation to join each other with a shared vision. The purpose of this community is to encourage women to live their highest calling by empowering and equipping them with mindset tools for exceptional living, no matter what their passion is. We can fly higher and faster when we all work together! Don’t miss this opportunity to connect with old and new friends, collaborate on your big ideas or challenge, and simply BE with other amazing women who are passionately pursuing their purpose.</p>

<p class="">Our RISE gatherings are hosted by local leaders of the Decide to Fly™ Community on the 3rd Saturday of each month in cities across the country. Find the closest on to you here. (“here” redirects to city where leaders are). Not one in your area yet? Learn about becoming a Decide to Fly leader. (redirects to #9a)</p>

<h2 class="">LIFT EVENTS<br><small>(tickets to this events are not included in membership. Special pricing will be offered to members and priority registration)
</small></h2>

<p class="">Get Ready!</p>

<p class="">Emotions and creativity are at an all time when we invite the master mind into our planning. You are not going to want to miss our 3-day Live Intentionally and Follow Through Event. This weekend is packed full of life changing content, fun, inspiration, and friendship. It is our favorite time of the year!</p>

<!--Insert picture of Lift Event and video (edited from Ritz Carlton event)-->

<a href="" class="btn btn-primary btn-lg">Join Now</a>
<!--JOIN NOW BUTTON (LOGO) -> #3A-->


<h3 class="">How is DECIDE TO FLY different?</h3>

<p class="">The Decide to Fly&trade; Community is not a business networking group. We are a self-development community for women. We want to know who you are, not just what you do.</p>

<p class="">I don’t know about you, but the last thing I wanted was another step program I had to find the time to complete in a crazy schedule. We want to help you get into the flow and freedom so you can live your life full out with peace and joy.</p>

<a href="" class="btn btn-primary btn-lg">Join Now</a>
<!--JOIN NOW BUTTON (LOGO) -> #3A-->

<p class="">Moving your life in the most beneficial direction only takes 15-20 minutes a day of renewing your thoughts and shifting your behaviors. In this community, you never get behind! If you miss a day, just come back, “Check in” (**Use this for now, know we have to create a new name**), and take the next baby step. Every day is your new opportunity. The progress you make is up to you! You can set your pace in this community and you will always be equipped with the tools you need to discover and accomplish any goal you want to achieve.</p>

<ul class="list-unstyled">
<li>The key is to just get going!</li>
<li>We teach you how to stay in present moment,</li>
<li>Keep your focus,</li>
<li>Use this information to apply in the space you’re in now,</li>
<li>Show you how to implement the new information you learn, and</li>
<li>Transform your life!</li>
</ul>

<p class="">It is time to go in the direction of your Destiny!</p>


<p class="">Remember, you are not alone in this journey... Ready to begin.</p>


	<!-- - - - - - - - ABOUT COMMUNITY BLOCK - - - - - - - -->
	<section class="about-community section">
			<div class="container">

				<div class="row">
              <div class="section-header col-xs-12 text-center">
                <h3 class="section-subtitle">If you are ready for NEW starts, NEW chapters, and a NEW outlook...</h3>
                <h1 class="section-subtitle">Decide to Fly&trade;...</h1>
                <h3 class="section-subtitle">and leave your baggage behind</h3>
		           </div><!--/ .section-header-2-->
				</div><!--/ .row-->
				<div class="row">
					<div class="col-md-12 about-content">
						<div class="col-md-5 col-md-offset-0 col-sm-8 col-sm-offset-2 about-left">
							<ul>
								<li class="about-item-1">Lorem ipsum dolor sit amet, consecter adipiscing elit. Donec nec orci idenim lacinia auctor. Ut interdum urna ipsum.</li>
								<li class="about-item-2">Lorem ipsum dolor sit amet, consecter adipiscing elit. Donec nec orci idenim lacinia auctor. Ut interdum urna.</li>
								<li class="about-item-3">Lorem ipsum dolor sit amet, consecter adipiscing elit. Donec nec orci idenim lacinia auctor. Ut interdum urna ipsum.</li>
							</ul>
						</div>
						<div class="col-md-5 col-md-offset-2 col-sm-8 col-sm-offset-2 about-right">
							<ul>
								<li class="about-item-4">Lorem ipsum dolor sit amet, consecter adipiscing elit. Donec nec orci idenim lacinia auctor. Ut interdum urna ipsum.</li>
								<li class="about-item-5">Lorem ipsum dolor sit amet, consecter adipiscing elit. Donec nec orci idenim lacinia auctor. Ut interdum urna ipsum.</li>
								<li class="about-item-6">Lorem ipsum dolor sit amet, consecter adipiscing elit. Donec nec orci idenim lacinia auctor. Ut interdum urna ipsum.</li>
							</ul>
						</div>
						<div class="col-sm-4 col-sm-offset-4">
							<a href="{% url 'buy-community' %}"><button class="btn btn-lg btn-block btn-info">Learn More</button></a>
						</div>
					</div><!--/ .col-md-12-->
				</div><!--/ .row-->
			</div><!--/ .container-->
	</section>
	<!-- - - - - - - - /ABOUT COMMUNITY BLOCK - - - - - - - -->

	<!-- - - - - - - - PURCHASE CTA BLOCK - - - - - - - -->
	<section class="basic-cta section bg-turquoise-color">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<h1 class="cta-title">Ready to begin your journey?</h1>
					<h3 class="cta-subtitle">Nunc scelerisque, nunc eget placerat feugiat, arcu quam fringilla mauris, quis blandit diam neque posuere nulla. Aliquam scelerisque diam ut fermentum bibendum.</h3>
				</div><!--/ .col-md-8-->
				<div class="col-md-3 col-sm-8 col-xs-10 col-md-offset-1 col-sm-offset-2 col-xs-offset-1">
					<a href="#"><button class="btn btn-lg btn-block btn-danger">Join the Community!</button></a>
				</div><!--/ .col-md-3-->
			</div><!--/ .row-->
		</div><!--/ .container-->
	</section><!--/ .section-->
	<!-- - - - - - - - /PURCHASE CTA BLOCK - - - - - - - -->

</div><!--/ #wrapper-->
{% endblock content %}