{% extends "pages/base.html" %}
{% load staticfiles i18n crispy_forms_tags %}

{% block footer %}
{% endblock footer %}

{% block content %}
<div id="wrapper">

	<!-- - - - - - - - WELCOME HOME BLOCK - - - - - - - -->
	<section class="welcome-home">
		<section class="section parallax padding-off">
			<div class="full-bg-image"></div>
			<div class="container">	
				<div class="video-full-entry">
					<div class="row">
						<div class="col-sm-6">
							<div class="text-center">
								<img class="company-logo" src="{% static 'images/decide-to-fly-logo2.png' %}"/>
							</div>
							<h2 class="subtitle" style="margin-left: 13%;">The community to:</h2>
							<h1 class="title text-center"><em>
								<span class="red">Connect, </span>
								<span class="blue">Collaborate </span> &
								<span class="green"> Create</span>
							</em></h1>
							<h2 class="subtitle pull-right" style="margin-right: 2%;">the life you REALLY want to live.</h2>
						</div><!--/ .col-md-6-->
					</div><!--/ .row-->
				</div><!--/ .video-full-entry-->
			</div><!--/ .container-->
			<img class="swoosh" src="{% static 'images/swoosh.png' %}" />
		</section><!--/ .section-->
	</section>
	<!-- - - - - - - -/ WELCOME HOME BLOCK - - - - - - - -->

	<!-- - - - - - - - D2F COMMUNITY INTRO BLOCK - - - - - - - -->
	<section class="community section">
		<div class="container">
	        <div class="row">
	            <div class="section-header col-xs-12 text-center">
	                <h1 class="section-title">Our Community</h1>
	                <h3 class="section-subtitle">The world’s leading business and personal development experts at your fingertips, when you need them, all for less than 2 lattes a month.</h3>
	                <hr>
	            </div><!--/ .section-header-->
	        </div><!--/ .row-->
		</div><!--/ .container-->
		<div class="row community-items">
				<div class="col-sm-6 col-lg-3 slideRight">
					<a href="{% url 'd2f-community' %}">
						<div class="entry">
							<div class="icon top">
								<i class="fa fa-desktop"></i>
							</div><!--/ .icon-->
							<h2 class="entry-title">Online Mentoring</h2>
							<div class="entry-body">
								<p>Curabitur consequat iaculis neque a faucibus. Sed in rhoncus tellus. Mauris tortor nibh, convallis quis sagittis ut, ornare eget metus. Phasellus vel varius ante.</p>
							</div><!--/ .entry-body-->
							<div class="icon bottom">
								<i class="fa fa-plus "></i>
							</div><!--/ .icon-->
						</div><!--/ .entry-->
					</a>
				</div><!--/ .col-sm-6-->
				<div class="col-sm-6 col-lg-3 slideUp">
					<a href="{% url 'd2f-community' %}">
						<div class="entry">
							<div class="icon top">
								<i class="fa fa-comments"></i>
							</div><!--/ .icon-->
							<h2 class="entry-title">Live Discussion Boards</h2>
							<div class="entry-body">
								<p>Curabitur consequat iaculis neque a faucibus. Sed in rhoncus tellus. Mauris tortor nibh, convallis quis sagittis ut, ornare eget metus. Phasellus vel varius ante.</p>
							</div><!--/ .entry-body-->
							<div class="icon bottom">
								<i class="fa fa-plus "></i>
							</div><!--/ .icon-->
						</div><!--/ .entry-->
					</a>			
				</div><!--/ .col-sm-6-->
				<div class="col-sm-6 col-lg-3 slideLeft">
					<a href="{% url 'd2f-community' %}">
						<div class="entry">
							<div class="icon top">
								<i class="fa fa-users"></i>
							</div><!--/ .icon-->
							<h2 class="entry-title">Connect With Peers</h2>
							<div class="entry-body">
								<p>Curabitur consequat iaculis neque a faucibus. Sed in rhoncus tellus. Mauris tortor nibh, convallis quis sagittis ut, ornare eget metus. Phasellus vel varius ante.</p>
							</div><!--/ .entry-body-->
							<div class="icon bottom">
								<i class="fa fa-plus "></i>
							</div><!--/ .icon-->
						</div><!--/ .entry-->
					</a>
				</div><!--/ .col-sm-6-->
				<div class="col-sm-6 col-lg-3 slideDown">
					<a href="{% url 'd2f-community' %}">
						<div class="entry">
							<div class="icon top">
								<i class="fa fa-book"></i>
							</div><!--/ .icon-->
							<h2 class="entry-title">Empowering Resources</h2>
							<div class="entry-body">
								<p>Curabitur consequat iaculis neque a faucibus. Sed in rhoncus tellus. Mauris tortor nibh, convallis quis sagittis ut, ornare eget metus. Phasellus vel varius ante.</p>
							</div><!--/ .entry-body-->
							<div class="icon bottom">
								<i class="fa fa-plus"></i>
							</div><!--/ .icon-->
						</div><!--/ .entry-->
					</a>
				</div><!--/ .col-sm-6-->
			</div><!--/ .row-->
	</section>
	<!-- - - - - - - -/ D2F COMMUNITY INTRO BLOCK - - - - - - - -->

	<!-- - - - - - - - CTS INTRO BLOCK - - - - - - - -->
	<section class="welcome-home">
		<section class="section parallax padding-off">
			<div class="full-bg-image"></div>
			<div class="container">	
				<div class="video-full-entry">
					<div class="row">
						<div class="col-sm-6">
							<div class="text-center">
								<img class="company-logo" src="{% static 'images/decide-to-fly-logo2.png' %}"/>
							</div>
							<h2 style="margin-left: 13%;">The community to:</h2>
							<h1 class="text-center"><em>
								<span class="red">Connect, </span>
								<span class="blue">Collaborate </span> &
								<span class="green"> Create</span>
							</em></h1>
							<h2 class="pull-right" style="margin-right: 2%;">the life you REALLY want to live.</h2>
						</div><!--/ .col-md-6-->
					</div><!--/ .row-->
				</div><!--/ .video-full-entry-->
			</div><!--/ .container-->
			<img class="swoosh" src="{% static 'images/swoosh.png' %}" />
		</section><!--/ .section-->
	</section>
	<!-- - - - - - - -/ CTS INTRO BLOCK - - - - - - - -->
	
	{% include "includes/footer-contact.html" %}

</div><!--/ #wrapper-->
<!-- - - - - - - - - - - - - end Wrapper - - - - - - - - - - - - - - - -->
{% endblock content %}

{% block loader %}
<div class="loader"></div><!-- - - - - - - - - Loader - - - - - - - - - -->
{% endblock loader %}

{% block javascript %}
{{ block.super }}
{% include "includes/js_marketing.html" %}
<script type="text/javascript">
$('#contact-form #submit').click(function(e) {
	e.preventDefault();
	$('#contact-form').submit();
});
</script>
{% endblock javascript %}
{% block css %}
{{ block.super }}
{% include "includes/css_marketing.html" %}
{% endblock css %}
