{% extends "base.html" %}
{% load staticfiles i18n crispy_forms_tags %}

{% comment %}
{% block header %}
<!-- - - - - - - - - - - - - - HEADER NAV - - - - - - - - - - - - - - - - -->
<header id="header" class="transparent">
    <div class="header-member">
      <div class="header-in">
        <nav id="nav-member" class="navigation">
          <ul>
            {% block nav_user %}
              {% include "menus/nav_user.html" %}
            {% endblock nav_user %}
          </ul>
        </nav><!--/ #navigation-->
      </div><!--/ .header-in-->
    </div><!--/ .header-member-->
	<div class="header-in">
		<a href="{% url 'home' %}">
			<img id="logo" src="{% static 'images/decide-to-fly-logo.png' %}">
		</a>
		<a id="responsive-nav-button" class="responsive-nav-button" href="#"></a>
		<nav id="navigation" class="navigation">
			<ul>
              <li class="current-menu-item"><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'about' %}">About</a></li>
              <li><a href="{% url 'd2f-community' %}">Our Community</a></li>
              <li><a>Programs</a>
              	<ul>
              		<li><a href="{% url 'courage-to-soar' %}">Courage to Soar</a></li>
              		<li><a href="{% url 'accelerate-your-destiny' %}">Accelerate Your Destiny</a></li>
              	</ul>
              </li>
              <li><a href="{% url 'blog' %}">Blog</a></li>
			</ul>
		</nav><!--/ #navigation-->
	</div><!--/ .header-in-->
</header><!--/ #header-->
<!-- - - - - - - - - - - - - /HEADER NAV - - - - - - - - - - - - - - - -->
{% endblock header %}
{% endcomment %}
{% block header %}
  <header id="header">
       	    {% block messages %}
		{% include "includes/messages.html" %}
    {% endblock messages %}
    <div class="header-member">
      <div class="header-in">
        <nav id="nav-member" class="navigation">
          <ul>
            {% block nav_user %}
              {% include "menus/nav_user.html" %}
            {% endblock nav_user %}
          </ul>
        </nav><!--/ #navigation-->
      </div><!--/ .header-in-->
    </div><!--/ .header-member-->              
    <div class="header-main">
      <div class="header-in">
        <a href="{% url 'home' %}"><img id="logo" src="{% static 'images/decide-to-fly-logo.png' %}"></a>
        <a id="responsive-nav-button" class="responsive-nav-button" href="#"></a>
        <nav id="navigation" class="navigation">
          <ul>
            {% block nav %}
              {% include "menus/nav_marketing.html" %}
            {% endblock nav %}
          </ul>
        </nav><!--/ #navigation-->
      </div><!--/ .header-in-->
    </div><!--/ .header-main-->
  </header><!--/ #header-->
{% endblock header %}
{% block sub_header %}
{% endblock sub_header %}
{% block footer %}
{% endblock footer %}

{% block bodyclass %}home{% endblock bodyclass %}

{% block content %}
<div id="wrapper">

	<!-- - - - - - - - WELCOME HOME BLOCK - - - - - - - -->
	<section class="welcome-home">
		<section class="section parallax padding-off">
			<div class="full-bg-image"></div>
			<div class="container">	
				<div class="video-full-entry">
					<div class="row">
						<div class="col-sm-6">
							<div class="text-center">
								<img class="company-logo" src="{% static 'images/decide-to-fly-logo2.png' %}"/>
							</div>
							<h2 style="margin-left: 13%;">The community to:</h2>
							<h1 class="text-center"><em>
								<span class="red">Connect, </span>
								<span class="blue">Collaborate </span> &
								<span class="green"> Create</span>
							</em></h1>
							<h2 class="pull-right" style="margin-right: 2%;">the life you REALLY want to live.</h2>
						</div><!--/ .col-md-6-->
					</div><!--/ .row-->
				</div><!--/ .video-full-entry-->
			</div><!--/ .container-->
			<img class="swoosh" src="{% static 'images/swoosh.png' %}" />
		</section><!--/ .section-->
	</section>
	<!-- - - - - - - -/ WELCOME HOME BLOCK - - - - - - - -->

	<!-- - - - - - - - D2F COMMUNITY INTRO BLOCK - - - - - - - -->
	<section class="community section">
		<div class="container">
			<div class="section-title">
				<h1>Our Community</h1>
				<h2>The world’s leading business and personal development experts at your fingertips, when you need them, all for less than 2 lattes a month.</h2>	
			</div><!--/ .section-title-->
		</div><!--/ .container-->
		<div class="row community-items">
				<div class="col-sm-6 col-lg-3 slideRight">
					<a href="{% url 'd2f-community' %}">
						<div class="entry">
							<div class="icon top">
								<i class="fa fa-desktop"></i>
							</div><!--/ .icon-->
							<h2 class="entry-title">Online Mentoring</h2>
							<div class="entry-body">
								<p>Curabitur consequat iaculis neque a faucibus. Sed in rhoncus tellus. Mauris tortor nibh, convallis quis sagittis ut, ornare eget metus. Phasellus vel varius ante.</p>
							</div><!--/ .entry-body-->
							<div class="icon bottom">
								<i class="fa fa-plus "></i>
							</div><!--/ .icon-->
						</div><!--/ .entry-->
					</a>
				</div><!--/ .col-sm-6-->
				<div class="col-sm-6 col-lg-3 slideUp">
					<a href="{% url 'd2f-community' %}">
						<div class="entry">
							<div class="icon top">
								<i class="fa fa-comments"></i>
							</div><!--/ .icon-->
							<h2 class="entry-title">Live Discussion Boards</h2>
							<div class="entry-body">
								<p>Curabitur consequat iaculis neque a faucibus. Sed in rhoncus tellus. Mauris tortor nibh, convallis quis sagittis ut, ornare eget metus. Phasellus vel varius ante.</p>
							</div><!--/ .entry-body-->
							<div class="icon bottom">
								<i class="fa fa-plus "></i>
							</div><!--/ .icon-->
						</div><!--/ .entry-->
					</a>			
				</div><!--/ .col-sm-6-->
				<div class="col-sm-6 col-lg-3 slideLeft">
					<a href="{% url 'd2f-community' %}">
						<div class="entry">
							<div class="icon top">
								<i class="fa fa-users"></i>
							</div><!--/ .icon-->
							<h2 class="entry-title">Connect With Peers</h2>
							<div class="entry-body">
								<p>Curabitur consequat iaculis neque a faucibus. Sed in rhoncus tellus. Mauris tortor nibh, convallis quis sagittis ut, ornare eget metus. Phasellus vel varius ante.</p>
							</div><!--/ .entry-body-->
							<div class="icon bottom">
								<i class="fa fa-plus "></i>
							</div><!--/ .icon-->
						</div><!--/ .entry-->
					</a>
				</div><!--/ .col-sm-6-->
				<div class="col-sm-6 col-lg-3 slideDown">
					<a href="{% url 'd2f-community' %}">
						<div class="entry">
							<div class="icon top">
								<i class="fa fa-book"></i>
							</div><!--/ .icon-->
							<h2 class="entry-title">Empowering Resources</h2>
							<div class="entry-body">
								<p>Curabitur consequat iaculis neque a faucibus. Sed in rhoncus tellus. Mauris tortor nibh, convallis quis sagittis ut, ornare eget metus. Phasellus vel varius ante.</p>
							</div><!--/ .entry-body-->
							<div class="icon bottom">
								<i class="fa fa-plus"></i>
							</div><!--/ .icon-->
						</div><!--/ .entry-->
					</a>
				</div><!--/ .col-sm-6-->
			</div><!--/ .row-->
	</section>
	<!-- - - - - - - -/ D2F COMMUNITY INTRO BLOCK - - - - - - - -->

	<!-- - - - - - - - CTS INTRO BLOCK - - - - - - - -->
	<section class="welcome-home">
		<section class="section parallax padding-off">
			<div class="full-bg-image"></div>
			<div class="container">	
				<div class="video-full-entry">
					<div class="row">
						<div class="col-sm-6">
							<div class="text-center">
								<img class="company-logo" src="{% static 'images/decide-to-fly-logo2.png' %}"/>
							</div>
							<h2 style="margin-left: 13%;">The community to:</h2>
							<h1 class="text-center"><em>
								<span class="red">Connect, </span>
								<span class="blue">Collaborate </span> &
								<span class="green"> Create</span>
							</em></h1>
							<h2 class="pull-right" style="margin-right: 2%;">the life you REALLY want to live.</h2>
						</div><!--/ .col-md-6-->
					</div><!--/ .row-->
				</div><!--/ .video-full-entry-->
			</div><!--/ .container-->
			<img class="swoosh" src="{% static 'images/swoosh.png' %}" />
		</section><!--/ .section-->
	</section>
	<!-- - - - - - - -/ CTS INTRO BLOCK - - - - - - - -->

	<!-- - - - - - - - CONTACT FOOTER TITLE BLOCK - - - - - - - -->
	<section class="contact-title section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="section-title align-center">
						<h1>Contact Us</h1>
						<h2>We look forward to hearing from you!</h2>
					</div><!--/ .section-title-->
				</div><!--/ .col-xs-12-->
			</div><!--/ .row-->
		</div><!--/ .container-->
	</section>
	<!-- - - - - - - -/ CONTACT FOOTER TITLE BLOCK - - - - - - - -->

	<!-- - - - - - - - CONTACT FOOTER BLOCK - - - - - - - -->
	<footer class="contact-footer">
		<section class="section footer-bg">
			<div class="container">
				<div class="row">
					<div class="col-md-6 ">
						{% crispy contact_form %}
					</div><!--/ .col-md-6-->
					<div class="col-md-6">
						<h2>Decide to Fly&trade;</h2>
						<p>Address: 12 Street, Los Angeles, CA, 94101</br>
						   Phone: (800) 123-4567</br>
						   Email: <a href="mailto:ask@decidetofly.com">ask@decidetofly.com</a></p>
						<div class="widget widget_social">
							<ul class="social-icons">
								<li class="twitter"><a href="https://twitter.com/DecideToFly"><i class="icon-twitter"></i>Twitter</a></li>
								<li class="facebook"><a href="http://facebook.com/decidetofly"><i class="icon-facebook"></i>Facebook</a></li>
								<li class="pinterest"><a href="http://www.pinterest.com/decidetofly"><i class="icon-pinterest-circled"></i>Pinterest</a></li>
								<li class="rss"><a href="#"><i class="icon-rss"></i>Rss</a></li>
								<li class="youtube"><a href="http://www.youtube.com/DecidetoFly"><i class="icon-youtube"></i>Youtube</a></li>
								<li class="instagram"><a href="#"><i class="icon-instagramm"></i>Instagram</a></li>
							</ul><!--/ .social-icons-->
						</div><!--/ .widget_social-->
					</div><!--/ .col-md-6-->
				</div><!--/ .row-->
			</div><!--/ .container-->
		</section><!--/ .section-->		
	    <div class="bottom-footer clearfix">
	      <div class="container">
	        <div class="row">
	          <div class="col-sm-6">
	            <div class="copyright">
	            	Copyright &copy; 2014 <a href="{% url 'home' %}">Decide to Fly&trade;</a>. All rights reserved
	            </div><!--/ .copyright-->
	          </div><!--/ .col-sm-6-->
	          <div class="col-sm-3 col-sm-offset-3">
	            <div class="developed">
	            	Designed by <a target="_blank" href="http://rabbitholestud.io/">Rabbit Hole Studio</a>
	            </div><!--/ .developed-->
	          </div><!--/ .col-sm-3-->
	        </div><!--/ .row-->
	      </div><!--/ .container-->
	    </div><!--/ .bottom-footer-->
	</footer><!-- - - - - - - -/ CONTACT FOOTER BLOCK - - - - - - - -->

</div><!--/ #wrapper-->
<!-- - - - - - - - - - - - - end Wrapper - - - - - - - - - - - - - - - -->


{% endblock content %}

{% block loader %}
<div class="loader"></div><!-- - - - - - - - - Loader - - - - - - - - - -->
{% endblock loader %}

{% block javascript %}
{{ block.super }}
{% include "includes/js_marketing.html" %}
<script type="text/javascript">
$('#contact-form #submit').click(function(e) {
	e.preventDefault();
	$('#contact-form').submit();
});
</script>
{% endblock javascript %}
{% block css %}
{{ block.super }}
{% include "includes/css_marketing.html" %}
{% endblock css %}
