/* line 5, ../sass/project.scss */
.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

/* line 11, ../sass/project.scss */
.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* line 17, ../sass/project.scss */
.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

/* line 23, ../sass/project.scss */
.alert-warning {
  color: black;
  background-color: orange;
  border-color: #d6e9c6;
}

/* line 29, ../sass/project.scss */
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

/* line 36, ../sass/project.scss */
.media-body ul {
  padding-left: 40px;
}

/* line 40, ../sass/project.scss */
.panel-body ul {
  padding-left: 40px;
}

/* line 44, ../sass/project.scss */
.tab-pane {
  padding: 10px;
}

/* line 48, ../sass/project.scss */
.sortable_item .caption {
  height: 200px;
  overflow: hidden;
}

/* line 53, ../sass/project.scss */
.no_transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* line 60, ../sass/project.scss */
.fav_button.is_active .state-1, .fav_button .state-2 {
  display: block;
}

/* line 64, ../sass/project.scss */
.fav_button.is_active .state-2, .fav_button .state-1 {
  display: none;
}

/* line 68, ../sass/project.scss */
.history_item.is_active {
  display: table-row;
}

/* line 72, ../sass/project.scss */
.history_item {
  display: none;
}

/* line 76, ../sass/project.scss */
.favourite_item.is_active {
  display: table-row;
}


/* line 80, ../sass/project.scss */
.favourite_item {
  display: none;
}

/* line 84, ../sass/project.scss */

.notify-balloon {
  position: fixed;
  z-index: 100500;
  top: 30%;
  left: 50%;
  padding: 15px;
  margin-left: -190px;
  width: 380px;
  color: #FFF;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  box-shadow: 0 2px 15px #888;
  text-shadow: 0px 1px 0px #262626;
  line-height: 160%;
}
