/* -------------------------------------------------------------------
Stylesheet Guide
----------------------------------------------------------------------

01. Reset

02. Basic Elements
	1. Clearfix
	2. General Classes
	3. Typography
	4. Dropcap
	5. Loader
	6. Images
	7. Dividers
	8. Forms
	9. Contact and Comments Form
	10. Buttons

03. Header
	1. Logo
	2. Main Navigation

04. Slider
	1. Slides

05. Wrapper

06. Main
	1. Section
		- Content Title
		- Parallax
		- Video Full Container
		- Team
		- Counter Box
		- Twitter
		- Clients
		- Pricing Table

07. Blog
	1. Single Post Navigation
	2. Image Slider
	3. Pagenavi
	4. Comments
	5. Respond

08. Portfolio
	1. Portfolio Filter
	2. Portfolio Items
	3. Portfolio Single

09. Sidebar
	1. Widgets
		- Default Widgets
		- Recent Posts
		- Tags Cloud
		- Search

10. Footer 
	1. Widgets
	2. Logo In Footer
	3. Bottom Footer

11. Widgets + Shortcodes
	1. Social Icons
	2. Progress Bar
	3. Accordion and Toggle
	4. Quotes
	5. Tabs
	6. Notifications
	7. List
	8. Map

12. Other
	1. Back To Top


 */

/* ---------------------------------------------------------------------- */
/*	Wrapper
/* ---------------------------------------------------------------------- */

#wrapper { width: 100%; }

	#content { padding-top: 40px; }
		
/* ---------------------------------------------------------------------- */
/*	Main
/* ---------------------------------------------------------------------- */

	.sbr #main { float: left;  }
	.sbl #main { float: right; }
	
	/* ---------------------------------------------------------------------- */
	/*	Section
	/* ---------------------------------------------------------------------- */
	
	.page { width: 100%; }
	
		.section {
			position: relative;
			overflow: hidden;
			width: 100%;
			z-index: 2;
			padding: 100px 0;
			background-color: #fff;
		}
			
		.padding-top-off      { padding-top: 0; }
		.padding-bottom-off   { padding-bottom: 0; }
		.padding-off		  { padding: 0; }
		.padding-top-half-off { padding-top: 50px; }

		.border { border-bottom: 1px solid #ececec; }
		
		/* -------------------------------------------------- */
		/* Content Title
		/* -------------------------------------------------- */	
		
		.content-title {
			margin-bottom: 25px;
			font-weight: 300;
			text-transform: uppercase;
		}
		
		/* -------------------------------------------------- */
		/* Parallax
		/* -------------------------------------------------- */
		
			.parallax { 
				z-index: 0;
				background-color: transparent;
			}
		
			/* BG Overlay Grid  */
		
			.parallax-overlay {
				position: absolute;
				z-index: 0;
				left: 0;
				top: 0;
				margin: 0 auto;
				width: 100%;
				height: 100%;
				background-image: url(../images/overlay-pattern.png);
				background-repeat: repeat;
			}
			
			#slides .parallax-overlay { z-index: 1; }
			
			/* BG Color for Image Parallax */
		
			.bg-turquoise-color { background-color: #00c2a9; }
			.bg-dark-color		{ background-color: #000;    }
			
			/* BG Color */
		
			.bg-gray-color		{ background-color: #f8f8f8; }

			/* BG Image */
		
			.full-bg-image {
				position: absolute;
				z-index: -1;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-position: 50% 50%;
				background-repeat: repeat;	
				background-image: url(../images/umbrella-woman.jpg)	
			}
			
			.no-touch .full-bg-image { 
				background-attachment: fixed;
				background-size: cover;
			}
			
			.bg-turquoise-color .full-bg-image {
				opacity: .07;
				filter: alpha(opacity = 7);
			}
			
			.bg-dark-color .full-bg-image {
				opacity: 0.6;
				filter: alpha(opacity = 60);				
			}
		
			.parallax-bg-1 .full-bg-image { background-image: url(../images/parallax/parallax-1.jpg); }
			.parallax-bg-2 .full-bg-image { background-image: url(../images/parallax/parallax-2.jpg); }
			.parallax-bg-3 .full-bg-image { background-image: url(../images/parallax/parallax-3.jpg); }
			.parallax-bg-4 .full-bg-image { background-image: url(../images/parallax/parallax-4.jpg); }
		
			/* Mobile Video Image */
			
			.mobile-video-image .full-bg-image { 
				display: none;
				background-image: url(../images/temp/mobile-video-image.jpg);
			}
			
			.touch .mobile-video-image .full-bg-image { display: block; }
			
			/* Bg Video */
			
			.mbYTP_wrapper { z-index: -2 !important; }
			
			.mb-wrapper {
				position: fixed;
				z-index: -99;
				min-width: 100%;
				min-height: 100%;
				left: 0;
				top: 0;
				overflow: hidden;
				opacity: 1;
				
				-webkit-backface-visibility: hidden;
						backface-visibility: hidden;
				-webkit-transition: opacity 200ms;
						transition: opacity 200ms;
			}
			
				.mb-wrapper iframe {
					position: absolute;
					top: 0;
					left: 0;
					z-index: -2;
					width: 120%;
					height: 120%;
					margin-top: -10%;
					margin-left: -10%;
					overflow: hidden;
					opacity: 1;
				}
				
		/* -------------------------------------------------- */
		/* Video Full Container
		/* -------------------------------------------------- */	
		
		.video-full-container { 
			display: table;
			width: 100%; 
		}
		
			.video-full-entry {
				display: inline-block;
				padding: 70px 0;
				width: 100%;
			}
			
			.video-full-container > .video-full-entry {
				position: relative;
				display: table-cell;
				margin: auto;
				padding: 115px 0 70px;
				vertical-align: middle;
			}
			
				.video-title {
					margin-bottom: 50px;
					font-size: 80px; 
					font-family: 'Julius Sans One', sans-serif;
					text-transform: uppercase;
				}

				.parallax .video-title { color: #fff; }
				
				.video-full-entry .button { margin: 0 22px 15px; }
				
		/* -------------------------------------------------- */
		/* Team
		/* -------------------------------------------------- */	

		.team-member { 
			position: relative;
			overflow: hidden;
			font-size: 0;
		}

			.team-contents { width: 50000px; }

				.team-member article {
					overflow: hidden;
					float: left;
					display: block;
					margin: 0 20px;
					vertical-align: top;

					-webkit-transition: width .35s ease;
							transition: width .35s ease;
				}

					.contents { width: 250px; overflow: hidden; }

						.team-info {
							float: left;
							width: 250px;
						}

							.team-image { margin-bottom: 10px; min-height: 1px; }

								.team-group {
									padding: 25px 20px;
									border: 1px solid #e0e0e0;
									background-color: #fcfcfc;

									-webkit-transition: all .3s ease-in;
											transition: all .3s ease-in;
								}

								.team-member article:hover .team-group,
								.open .team-group {
									border-color: transparent;
									background-color: #00c2a9;
								}

									.team-title {
										margin-bottom: 3px;
										text-transform: uppercase;
										font-size: 24px;
									}

									.team-position {
										margin-bottom: 5px;
										color: #aeaeae;
										font-size: 16px;
									}

									.team-title,
									.team-position {
										-webkit-transition: color .3s ease-in;
												transition: color .3s ease-in;
									}

									.team-member article:hover .team-title,
									.team-member article:hover .team-position,
									.open .team-title,
									.open .team-position { color: #fff; }

							.team-content {
								margin-left: 260px;
								border: 1px solid #e0e0e0;
								background-color: #fcfcfc;
								font-size: 15px;
							}

								.team-entry {
									padding: 20px 25px;
									width: 400px;
								}
			
			/* Directional Nav */
			
			.team-nav a {
				position: absolute; 
				top: 50%; 
				z-index: 10;
				display: block;
				overflow: hidden;
				margin-top: -35px; 
				width: 35px; 
				height: 70px; 
				border: 1px solid #dcdcdc;
				background-color: #fff;
				background-color: rgba(255,255,255, .75);
				text-align: center;
				font-size: 0;

				-webkit-border-radius: 3px;
						border-radius: 3px;
				-webkit-transition: all .25s ease;
						transition: all .25s ease;
			}
			
			.team-nav .prev { left: 30px;  }
			.team-nav .next { right: 30px; }

			.team-nav a:hover { 
				border-color: transparent;
				background-color: #00c2a9; 
			}

			.team-nav a:before {
				display: block;
				color: #00c2a9;
				font-size: 30px; 
				font-family: 'fontello';
				line-height: 68px;

				-webkit-transition: color .25s ease;
						transition: color .25s ease;	
			}

			.team-nav .prev:before { content: '\e8b7'; }
			.team-nav .next:before { content: '\e8b8'; }

			.team-nav a:hover:before { color: #fff; }
			
		/* -------------------------------------------------- */
		/* Counter Box
		/* -------------------------------------------------- */			

		.counter-box { text-align: center; }

			.counter {
				display: inline-block;
				margin: 0 20px;
				width: 150px;
				text-align: center;
				font-size: 0;
			}

				.counter .count {
					margin-bottom: 20px;
					height: 150px;
					border: 1px solid #c8c8c8;
					display: block;
					background-color: rgba(255,255,255,.1);
					color: #00c2a9;
					font-weight: 300;
					font-size: 70px;
					line-height: 145px;
					
					-webkit-border-radius: 6px;
							border-radius: 6px;		
				}

				.counter .details {
					color: #777;
				}
				
				.parallax .counter .details { color: #fff; }

		/* -------------------------------------------------- */
		/* Twitter 
		/* -------------------------------------------------- */	

		.tweet .tweets { text-align: center; }

			.tweet .tweets li { font-weight: 300; }
			
			.parallax .tweet .tweets li { color: #fff; }
			
			.ie8 .tweet .tweets li { background-color: transparent !important; }
			
			.sidebar-tweet .tweets li {
				position: relative;
				margin-bottom: 15px;
				padding-left: 45px;
			}
			
			.sidebar-tweet .tweets li:before {
				position: absolute;
				top: 5px;
				left: 0;
				color: #1fc3ff;
				font-size: 30px;
				font-family: 'fontello';
				content: '\e980';
			}
			
				.tweet .tweets .tweet_text {
					position: relative;
					margin-bottom: 25px;
					padding: 0 10% 40px;
					line-height: 1.75em;
					font-size: 24px;
					text-align: center;
				}
				
				.tweet .tweet_text:before {
					display: block;
					margin-bottom: 30px;
					font-size: 50px;
					font-family: 'fontello';
					content: '\e980';
					text-align: center;
				}
				
				.tweet .tweets .tweet_text:after {
					position: absolute;
					bottom: 0;
					left: 50%;
					margin-left: -6%;
					width: 12%;
					height: 1px;
					background-color: #ececec;
					content: '';
				}
				
				.parallax .tweet .tweets .tweet_text:after {
					background-color: #fff;
					background-color: rgba(255,255,255,.35);	
				}
				
				.tweet .tweet_time { font-size: 16px; }
			
					.tweets a { color: #00c2a9; }
					
					.sidebar-tweet .tweet_time a { color: #aeaeae; }

		/* Tweets Navigation */

		.tweets-control-nav {
			padding: 10px 0 0;
			text-align: center;
		}

			.tweets-control-nav a {
				position: relative;
				display: inline-block;
				margin: 0 3px;
				width: 9px;
				height: 9px;
				cursor: pointer;
				background-color: #ececec;
				font-size: 0;

				-webkit-transition: background-color .25s linear;
						transition: background-color .25s linear;
				-webkit-border-radius: 50%;
						border-radius: 50%;
			}

			.tweets-control-nav .activeSlide { background-color: #777; }	
			
			.parallax .tweets-control-nav a {
				background-color: #ececec;
				background-color: rgba(255,255,255,.5);	
			}
			
			.parallax .tweets-control-nav .activeSlide { background-color: #fff; }
		
	/* -------------------------------------------------- */
	/*	Pagenavi
	/* -------------------------------------------------- */
	
	.pagenavi { 
		margin-bottom: 25px;
		font-size: 0; 
	}
	
		.pagenavi .page-numbers {
			display: inline-block;
			margin-right: 5px;
			width: 35px;
			height: 35px;
			border: 1px solid #cfcfcf;
			color: #00c2a9;
			text-align: center;
			font-size: 14px;
			line-height: 33px;
			
			-webkit-border-radius: 6px;
					border-radius: 6px;
		}
		
		.pagenavi .current,
		.pagenavi .page-numbers:hover { 
			border-color: transparent;
			background-color: #00c2a9;
			color: #fff;
		}

	/* -------------------------------------------------- */
	/*	Comments
	/* -------------------------------------------------- */

	#comments { margin-bottom: 50px; }
	
	#comments h3 { 
		font-weight: 300;
		text-transform: uppercase; 
	}
	
		.comment {
			padding-top: 30px;
			list-style: none;
			border-bottom: 1px solid #ebebeb;
		}

			.comment .gravatar {
				float: left;
				margin-right: 20px;
			}

			.comment-body { display: table; }

				.comment .comment-author h6 { margin-bottom: 0; }

					.comment .comment-author a {
						color: #00c2a9;
						font-weight: 400;
						text-transform: uppercase;
					}

				.comment .comment-date { 
					margin-bottom: 10px;
					line-height: 1; 
				}

					.comment .comment-date a {
						color: #aeaeae;
						font-size: 12px;
					}

		/* Children */

		.comment .children {
			margin: 0;
			padding-left: 80px;
		}

			.children .comment {
				padding-top: 30px;
				border-bottom-width: 0;
				border-top: 1px solid #ebebeb;
			}

	/* -------------------------------------------------- */
	/*	Respond
	/* -------------------------------------------------- */
	
	#respond h3 { 
		margin-bottom: 25px;
		font-weight: 300;
		text-transform: uppercase; 
	}

		#respond input[type="text"],
		#respond input[type="email"],
		#respond input[type="url"] { width: 55%; }
		
		#respond textarea {
			width: 80%;
			min-width: 80%; 
		}

/* ---------------------------------------------------------------------- */
/*	Portfolio
/* ---------------------------------------------------------------------- */

	/* -------------------------------------------------- */
	/*	Portfolio Filter
	/* -------------------------------------------------- */

	.portfolio-filter {
		margin-bottom: 45px;
		font-size: 0;
		text-align: center;
		width: 100%;
	}
	
		.portfolio-filter li {
			position: relative;
			display: inline-block;
			margin: 0 0 5px 0;
			padding: 6px 34px;
			border-color: #cfcfcf;
			border-style: solid;
			border-width: 1px 0 1px 1px;
			font-size: 14px;
			cursor: pointer;
			-webkit-transition: all .25s ease;
			transition: all .25s ease;
		}
		
		.ie8 .portfolio-filter li			   { border-width: 1px 1px 1px 0; }
		.ie8 .portfolio-filter li:first-child  { border-left-width: 1px; }
		
		.portfolio-filter li:first-child {
			-webkit-border-radius: 6px 0 0 6px;
					border-radius: 6px 0 0 6px;
		}
		
		.portfolio-filter li:last-child {
			border-right-width: 1px;
			-webkit-border-radius: 0 6px 6px 0;
					border-radius: 0 6px 6px 0;
		}
		
		.portfolio-filter li:hover { background-color: #f6f6f6; }
		
		.portfolio-filter li.active {
			border-color: #00c2a9;
			background-color: #00c2a9;
			color: #fff;
		}
		
		.portfolio-filter li.active + li { border-left-color: #00c2a9; }

	/* -------------------------------------------------- */
	/*	Portfolio Items
	/* -------------------------------------------------- */
	
	ul.portfolio-items { 
		font-size: 0;
		
		-webkit-backface-visibility: hidden;
		-webkit-font-smoothing: antialiased;
		-webkit-user-select: none;
		   -moz-user-select: none;
				user-select: none;
	}
	
		ul.portfolio-items li {
			position: relative;
			display: inline-block;
			padding: 0 1px 1px 0;
			width: 20%;
			max-width: 20%;
			vertical-align: top;
			font-size: 0;
			text-align: left;
		}
		
		ul.portfolio-items .mix { display: none; }
		
				ul.portfolio-items img { display: block; }
			
		.work-item {
			position: relative;
			overflow: hidden;
		}
		
			.work-item img {
				display: block;
				-webkit-transition: -webkit-transform .25s ease-in-out;
						transition: transform .25s ease-in-out;
			}
			
			.work-item:hover img {
				-webkit-transform: scale(1.2);
						transform: scale(1.2);
			}
		
			.image-extra {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 3;
				overflow: hidden;
				width: 100%;
				height: 100%;
				text-align: center;
				opacity: 0;
				filter: alpha(opacity = 0);
				background-color: rgba(0, 194, 169, 0.1);
				
				-webkit-transition: opacity .25s ease, background-color .45s ease;
						transition: opacity .25s ease, background-color .45s ease;
			}
			
			.ie8 .image-extra { visibility: hidden; }

			.work-item.touched .image-extra,
			.work-item:hover .image-extra {
				background-color: #00c2a9;
				background-color: rgba(0, 194, 169, 0.8);
				opacity: 1;
				filter: alpha(opacity = 80);
			}

			.ie8 .work-item:hover .image-extra { visibility: visible; }
				
				.extra-content {
					display: table;
					overflow: hidden;
					width: 100%;
					height: 100%;
					vertical-align: middle;
					text-align: center;
				}	

					.inner-extra {
						display: table-cell;
						margin: 0;
						padding: 0 10px;
						width: 100%;
						height: 100%;
						vertical-align: middle;
					}
					
					.link-icon .curtain,
					.plus-icon .curtain {
						display: inline-block;
						width: 50px;
						height: 50px;
						border: 1px solid #fff;
						
						-webkit-border-radius: 50%;
								border-radius: 50%;	
						-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1);
						-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
						   -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
							-ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
							 -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
								transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
					}
				
					.single-image.link-icon .curtain {
						-webkit-transform: translateX(-300%);
								transform: translateX(-300%);
					}

					.single-image.plus-icon .curtain {
						-webkit-transform: translateX(300%);
								transform: translateX(300%);
					}
					
					.work-item:hover .link-icon .curtain,
					.work-item:hover .plus-icon .curtain {
						-webkit-transform: translateX(0);
								transform: translateX(0);
					}
					
					.link-icon .curtain:hover,
					.plus-icon .curtain:hover {
						border-color: transparent;
						background-color: #fff;
						background-color: rgba(255,255,255,.9);
					}

					.link-icon .curtain:after,
					.plus-icon .curtain:after {
						position: absolute;
						left: 0;
						top: 0;
						display: block;
						width: 100%;
						height: 100%;
						color: #fff;
						text-align: center;
						font-size: 20px;
						font-family: 'fontello';
						line-height: 50px;

						-webkit-border-radius: 50%;
								border-radius: 50%;
						-webkit-transition: color .25s ease-in-out;
								transition: color .25s ease-in-out;
					}

					.plus-icon .curtain:after  { content: '\e9a1'; font-size: 28px; }
					.link-icon .curtain:after  { content: '\e84f'; }
					
					.link-icon .curtain:hover:after,
					.plus-icon .curtain:hover:after { color: #00c2a9; }

						.extra-title  { 
							margin-bottom: 6px;
							color: #fff;
							text-transform: uppercase;
						}

						.extra-category {
							margin-bottom: 0;
							color: #fff;
							font-weight: 300;
						}

	/* -------------------------------------------------- */
	/*	Portfolio Single
	/* -------------------------------------------------- */
	
	.project-single-entry .image-slider { margin-bottom: 40px; }
	
		.project-page-header {
			position: relative;
			margin-bottom: 55px;
		}

			.project-page-header .project-title {
				padding-right: 115px;
				color: #5b5e60;
				font-weight: 100;
				font-size: 60px;
				text-transform: uppercase;
			}

		/* Project Nav */

		.project-nav {
			position: absolute;
			top: 50%;
			right: 0;
			margin-top: -15px;
			font: 0/0 a;
		}

			.project-nav li {
				display: inline-block;
				margin-left: 20px;
				vertical-align: top;
			}

				.project-nav li a {
					display: block;
					font: 0/0 a;
					cursor: pointer;
					z-index: 10;				
				}

				.project-nav li a:after {
					display: block;
					color: #aeaeae;
					font-size: 36px;
					font-family: 'fontello';
					text-align: center;
					line-height: 35px;
					content: "";
				}

				.project-nav .prev:after		 { content: "\ea07"; }
				.project-nav .next:after		 { content: "\ea08"; }
				.project-nav .all-projects:after { content: "\eac0"; font-size: 30px; }
	
				.project-nav li a:hover:after { color: #00c2a9; }
				
	/* Project Meta */
	
	.project-meta { margin-bottom: 25px; }
	
		.project-meta li { margin-bottom: 15px; }

			.project-meta-title {
				color: #00c2a9;
				font-weight: 400;
				font-size: 16px;
				line-height: 1em;
			}

			.project-meta .project-meta-date {
				color: #aeaeae;
				font-size: 16px;
				line-height: 1em;
			}
			
	/* Project Similar Posts */
	
	.project-similar { font-size: 0; }
	
		.project-similar li {
			display: inline-block;
			width: 20%;
			border-left: 1px solid #fff;
			border-bottom: 1px solid #fff;
			vertical-align: top;
		}
		
		.row .project-similar li { width: 33.33333333333333%; }

/* ---------------------------------------------------------------------- */
/*	Sidebar
/* ---------------------------------------------------------------------- */

.sbr #sidebar { float: right; }
.sbl #sidebar { float: left;  }

	/* -------------------------------------------------- */
	/*	Widgets
	/* -------------------------------------------------- */

		#sidebar .widget { margin-bottom: 60px; }
		
			#sidebar .widget-title {
				margin-bottom: 25px;
				font-weight: 300;
				font-size: 20px;
				text-transform: uppercase;
			}

		/* ---------------------------------------- */
		/*	Default Widgets
		/* ---------------------------------------- */
		
		/* read-more links */
		.more-link {}
		
		/* blogroll links */
		.linkcat {}
		.blogroll {}
		
		/* text widget */
		.textwidget {}
		.widget_text {}
		.textwidget p {}
		
		.widget .sub-menu { padding-top: 5px; }
		
		.widget_categories ul li,
		.widget_archive ul li, 
		.widget_links ul li,
		.widget_meta ul li,
		.widget_pages ul li,
		.widget_recent_entries ul li {
			padding: 8px 0;
			border-top-width: 1px;
			border-top-style: solid;
			border-top-color: #e6e6e6;
			list-style: none;
		}
		
		.widget_categories ul li:first-child,
		.widget_archive ul li:first-child, 
		.widget_links ul li:first-child,
		.widget_meta ul li:first-child,
		.widget_pages ul li:first-child,
		.widget_recent_entries ul li:first-child { border-top-width: 0; }
		
		/* ---------------------------------------- */
		/*	Recent Posts
		/* ---------------------------------------- */
		
		.widget_recent_posts .entry {
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid #e6e6e6;
		}
		
		.widget_recent_posts .entry:after {
			clear: both;
			display: block;
			visibility: hidden;
			height: 0;
			content: "";
		}
		
		.widget_recent_posts .entry:last-child { 
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom-width: 0;
		}

			.widget_recent_posts .entry-image { 
				float: left;
				margin-right: 20px;
				margin-bottom: 0;
			}

			.widget_recent_posts .post-holder { display: table; }

		/* ---------------------------------------- */
		/*	Tags Cloud
		/* ---------------------------------------- */		
			
		.widget_tag_cloud .tagcloud { font-size: 0; }

			.widget_tag_cloud .tagcloud a {
				display: inline-block;
				margin-right: 5px;
				margin-bottom: 5px;
				padding: 3px 18px;
				border: 1px solid #cfcfcf;
				color: #00c2a9;
				font-weight: 400;
				font-size: 13px;
				text-transform: uppercase;
				
				-webkit-border-radius: 6px;
						border-radius: 6px;
				-webkit-transition: all .25s ease;
						transition: all .25s ease;
			}
			
			.widget_tag_cloud .tagcloud a:hover {
				border-color: transparent;
				background-color: #00c2a9;
				color: #fff;
			}
			
		/* ---------------------------------------- */
		/*	Search
		/* ---------------------------------------- */	
		
		#searchform { position: relative; }

			#searchform input[type="text"] { 
				padding-right: 60px;
				font-style: italic;
				font-size: 15px;
			}

			#searchform .submit-search {
				position: absolute;
				top: 0;
				right: 0;
				padding: 0;
				width: 55px;
				height: 100%;
				border-left: 1px solid #dcdcdc;
				text-align: center;
			}
			
			#searchform .submit-search:before {
				display: block;
				color: #5b5e60;
				text-align: center;
				font-size: 20px;
				font-family: 'fontello';
				line-height: 55px;
				content: '\e800';
				
				-webkit-transition: color .25s ease;
						transition: color .25s ease;
			}
			
			#searchform input[type="text"]:focus + .submit-search        { border-left-color: #00c2a9; }
			#searchform input[type="text"]:focus + .submit-search:before { color: #00c2a9; }
	
/* ---------------------------------------------------------------------- */
/*	Widgets + Shortcodes
/* ---------------------------------------------------------------------- */
	
	/* -------------------------------------------------- */
	/*	Progress Bar
	/* -------------------------------------------------- */		
	
	.progress-bar {
		position: relative;
		margin-bottom: 18px;
	}

		.progressbar-title {
			margin-bottom: 3px;
			color: #aeaeae;
			font-size: 16px;
		}

		.percent {
			position: absolute;
			top: -5px;
			right: 0;
			display: block;
			color: #aeaeae;
			font-size: 16px;
			line-height: 35px;
		}	
		
		.bar-outer {
			position: relative;
			width: 100%;
			height: 12px;
			border: 1px solid #cfcfcf;
			
			-webkit-border-radius: 5px;
					border-radius: 5px;
		}

			.bar {
				position: absolute;
				top: -1px;
				left: 0;
				z-index: 2;
				width: 0%;
				height: 12px;
				background-color: #00c2a9;
				
				-webkit-border-radius: 5px;
						border-radius: 5px;
			}

	/* -------------------------------------------------- */
	/*	Accordion and Toggle
	/* -------------------------------------------------- */
		
	.acc-box { margin-bottom: 20px; }

		.acc-trigger {
			position: relative;
			display: block;
			margin-bottom: 5px;
			padding: 10px 55px 10px 20px;
			border: 1px solid #cfcfcf;
			cursor: pointer;
			
			-webkit-border-radius: 6px;
					border-radius: 6px;
			-webkit-transition: all .25s ease;
					transition: all .25s ease;
		}
		
		.acc-trigger:hover { background-color: #f6f6f6; }
		
		.acc-trigger.active {
			border-color: transparent;
			background-color: #00c2a9;
		}
		
		.acc-trigger:after {
			position: absolute;
			top: 0;
			right: 0;
			display: block;
			width: 48px;
			height: 100%;
			border-left: 1px solid #cfcfcf;
			color: #5b5e60;
			text-align: center;
			font-size: 24px;
			font-family: 'fontello';
			line-height: 47px;
			content: '\e9a1';
		}

		.acc-trigger.active:after { 
			border-color: #fff;
			border-color: rgba(255,255,255, .3);
			color: #fff; 
			content: '\e9a4';
		}  

			.acc-trigger a {
				color: #777;
				font-size: 14px;
				font-weight: 300;
			}
			
			.acc-trigger.active a { color: #fff; }

				.acc-trigger.active + .acc-container p { margin: 0 0 10px 0; }

		.acc-container { 
			padding: 15px 0;
			display: none; 
		}
	
	/* -------------------------------------------------- */
	/*	Quotes
	/* -------------------------------------------------- */

	.quotes { 
		position: relative;
		margin-bottom: 25px;
	}
	
		.quotes li { display: none; }
		.quotes li:first-child { display: block; }
		
		.ie8 .quotes li { background-color: transparent !important; }
	
		li .quote-text {
			position: relative;
			padding: 10px 10% 0;
		}
		
		.parallax .quote-text { color: #fff; }

		li .quote-text:before {
			display: block;
			margin-bottom: 35px;
			content: "\e86c";
			font-size: 50px;
			font-family: 'fontello';
		}
		
		.ie8 .align-center .quote-text:before { text-align: center; }
		
		.quote-image {
			position: relative;
			display: inline-block;
			margin: 10px 0 10px;
		}
		
		.quote-image:before,
		.quote-image:after { 
			position: absolute;
			top: 50%;
			width: 130%;
			height: 1px;
			background-color: #dcdcdc;
			background-color: rgba(270,270,270, .5);
		}
		
		.quote-image:before {
			left: -150%;
			content: '';
		}
		
		.quote-image:after {
			right: -150%;
			content: ''; 
		}
		
			.quote-image img {
				overflow: hidden;
				-webkit-border-radius: 50%;
						border-radius: 50%;
			}
			
		.quote-author {
			color: #00c2a9;
			font-size: 16px;
		}

		.parallax .quote-author { 
			color: #fff;
			font-size: 16px;
		}
		
		.quote-author:before,
		.quote-author:after { content: " - "; }

	/* Quote Navigation */

	.quotes-control-nav {
		padding: 10px 0 0;
		text-align: center;
	}

		.quotes-control-nav a {
			position: relative;
			display: inline-block;
			margin: 0 3px;
			width: 9px;
			height: 9px;
			cursor: pointer;
			font-size: 0;
			background-color: #aeaeae;
			
			-webkit-transition: background-color .25s linear;
					transition: background-color .25s linear;
			-webkit-border-radius: 50%;
					border-radius: 50%;
		}
		
		.quotes-control-nav .activeSlide { background-color: #777; }
		
		.parallax .quotes-control-nav a {
			background-color: #ececec;
			background-color: rgba(255,255,255,.5);			
		}
		
		.parallax .quotes-control-nav .activeSlide { background-color: #fff; }
		
	/* -------------------------------------------------- */
	/*	Tabs
	/* -------------------------------------------------- */

		.tabs-nav {
			margin-bottom: 10px;
			height: 48px;
			border: 1px solid #cfcfcf;
			font-size: 0;
			
			-webkit-border-radius: 6px;
					border-radius: 6px;
		}

			.tabs-nav li {
				position: relative;
				display: inline-block;
				top: -1px;
				left: -1px;
				border-right: 1px solid #cfcfcf;
			}
			
			.tabs-nav .active { border-color: transparent; }
			
				.tabs-nav li a {
					position: relative;
					display: block;
					padding: 10px 35px;
					height: 48px;
					border-top: 1px solid #cfcfcf;
					border-bottom: 1px solid #cfcfcf;
					cursor: pointer;
					color: #777;
					font-size: 14px;

					-webkit-transition: all .25s ease;
							transition: all .25s ease;
				}
				
				.tabs-nav li:first-child a {
					border-left: 1px solid #cfcfcf;
					-webkit-border-radius: 6px 0 0 6px;
							border-radius: 6px 0 0 6px;
				}
				
				.tabs-nav a:hover { 
					border-color: #cfcfcf;
					background-color: #f6f6f6;
				}
				
				.tabs-nav .active a {
					background-color: #00c2a9;
					color: #fff;
				}

		.tabs-container { overflow: hidden; }

			.tab-content { 
				display: none;
				padding: 10px 0;
			}
			
			.tab-content:first-child { display: block; }

	/* -------------------------------------------------- */
	/*	Notifications
	/* -------------------------------------------------- */

	.error, .success, .info, .notice {
		position: relative;
		margin-bottom: 10px;
		padding: 11px 15px 11px 50px;
		display: block;
		color: #777 !important;
		
		-webkit-border-radius: 6px;
				border-radius: 6px;
	}
	
	.error   { background-color: #fac9cf; }
	.success { background-color: #e0f2cd; }
	.info    { background-color: #c6e7f4; }
	.notice  { background-color: #feefc5; }
	
	
	.error:before,
	.success:before,
	.info:before,
	.notice:before {
		position: absolute;
		top: 50%;
		left: 20px;
		margin-top: -13px;
		font-size: 18px;
		font-family: 'fontello';	
	}
	
	.error:before {
		color: #ce717c;
		content: '\ee83';
	}
	
	.success:before {
		color: #8aaa67;
		content: '\ee80';
	}
	
	.info:before {
		color: #66aac4;
		content: '\ece2';
	}
	
	.notice:before {
		color: #c8a749;
		content: '\ecf1';
	}
	
		.alert-close {
			position: absolute;
			top: 50%;
			right: 20px;
			margin-top: -9px;
			line-height: 1;
		}

		.alert-close:before {
			font-size: 18px;
			font-family: 'fontello';
			content: "\e83e";
		}
		
		.error .alert-close   { color: #ce717c; }
		.success .alert-close { color: #8aaa67; }
		.info .alert-close    { color: #66aac4; }
		.notice .alert-close  { color: #dec47b; }

	/* -------------------------------------------------- */
	/*	List
	/* -------------------------------------------------- */

	ul.list { margin-bottom: 20px; }
	
		ul.list li { 
			position: relative;
			padding-left: 30px; 
		}
		
		ul.list li,
		ol.list li { margin-bottom: 4px; }
		
		ul.list li:before {
			position: absolute;
			left: 0;
			top: 0;
			font-size: 16px;
			font-family: 'fontello';
		}
		
		ul.list li.type-1:before { content: '\ed4d'; font-size: 13px; }
		ul.list li.type-2:before { content: '\eb43'; }
		ul.list li.type-3:before { content: '\e8c0'; }
		ul.list li.type-4:before { content: '\ec84'; }
		ul.list li.type-5:before { content: '\e8b2'; }
	
		ul.circle-list li {
			position: relative;
			margin-left: 45px;
			padding: 9px 0;
			border-top: 1px solid #e6e6e6;
		}
		
		ul.circle-list li:first-child { border-top: none; }
		
		ul.circle-list li:before {
			position: absolute;
			top: 50%;
			left: -45px;
			margin-top: -12px;
			width: 25px;
			height: 25px;
			border-width: 1px;
			border-style: solid;
			border-color: #e3e3e3;
			color: #777;
			text-align: center;
			font-family: 'fontello';
			content: '\e8b8';
			line-height: 23px;
			
			-webkit-transition: color .25s ease .01s, border-color .25s ease .01s;
					transition: color .25s ease .01s, border-color .25s ease .01s;
			-webkit-border-radius: 50%;
					border-radius: 50%;
		}
		
		
		ul.circle-list li:after {
			position: absolute;
			top: 50%;
			left: -45px;
			margin-top: -12px;
			width: 25px;
			height: 25px;	
			background-color: #00c2a9;
			content: "";
			opacity: 0;
			
			-webkit-transition: transform .3s ease, opacity .25s ease;
					transition: transform .3s ease, opacity .25s ease;
			-webkit-transform: scale(0);		
					transform: scale(0);		
			-webkit-border-radius: 50%;
					border-radius: 50%;
		}
		
		.ie8 ul.circle-list li:after { visibility: hidden; }
		
		ul.circle-list li:hover:before {
			z-index: 5;
			border-color: transparent;
			color: #fff;
		}
		
		ul.circle-list li:hover:after {
			opacity: 1;
			-webkit-transform: scale(1);
					transform: scale(1);
		}
		
		.ie8 ul.circle-list li:hover:after { visibility: visible; }
		
	/* -------------------------------------------------- */
	/*	Map
	/* -------------------------------------------------- */
	
	.google_map { 
		position: relative;
		width: 100%;
		height: 500px;
	}
	
	.google_map:after,
	.google_map:before {
		position: absolute;
		z-index: 5;
		left: 0;
		width: 100%;
		height: 0;
		content: '';
		
		-webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
				box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);		
	}
	
	.google_map:after { top: 0; }
	
	.google_map:before { 
		bottom: 0;
		-webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
				box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);	
	}
		
		.google_map img { max-width: none; }
	
/* ---------------------------------------------------------------------- */
/*	Other
/* ---------------------------------------------------------------------- */

	/* -------------------------------------------------- */
	/*	Back Top
	/* -------------------------------------------------- */

	#back-top {
		position: fixed;
		right: 40px;
		bottom: 40px;
		z-index: 999;
		display: none;
		width: 50px;
		height: 50px;
		border: 1px solid #e6e6e6;
		background-color: #fff;
		background-color: rgba(255,255,255,.25);
		text-align: center;
		
		-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
		-webkit-transition: all .25s ease;
				transition: all .25s ease;
		-webkit-border-radius: 50%;
				border-radius: 50%;
	}
	
	#back-top:after {
		width: 40px;
		height: 40px;
		text-align: center;
		color: #e1e1e1;
		font-size: 20px;
		font-family: 'fontello';
		content: "\ed4e";
		line-height: 48px;
		
		-webkit-transition: all .25s ease;
				transition: all .25s ease;
	}
	
	#back-top:hover {
		border-color: transparent;
		background-color: #00c2a9;
	}
	
	#back-top:hover:after { color: #fff; }


/* ---------------------------------------------------------------- */
/*	Zak Styles
/* ---------------------------------------------------------------- */

body {
	color: #5b5e60;
	background: none !important;
	background-color: #fff !important;
}

#header.transparent {
	border-bottom: none;
}

.navigation > ul > li > a {
	font-size: 15px;
	font-weight: 400;
}