# Basics
*.py[cod]
*.pyc
__pycache__

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo
*.pot

# Pycharm
.idea

# Vim

*~
*.swp
*.swo

# npm
node_modules/

# Campass
.sass-cache

.DS_Store
media/

# Bower
bower_components/

# My
test_db
local_settings.py
.settings
*/static/CACHE
*.env
var/
*~
salest/static/css
.sass-cache
*.sass-cache
reports/
*pyc
*.db
.sass-cache
src/
media/*
.pydevproject
.sphinx*
.project
static/*
celery
celerybeat-schedule