{% load staticfiles comments %}
<div id="c{{ comment.id }}" style="position:relative;bottom: 50px;"></div>
<div class="comment-post">
<div class="pull-right comment-actions">
  <a href="{% url 'comments-delete' comment.id %}?next={{ request.path }}">
    <i class="fa fa-times-circle-o"></i>
  </a>
  <a href="{% url 'comments-flag' comment.id %}?next={{ request.path }}">
    <i class="fa fa-flag"></i>
  </a>
</div>
  <h3 class="fb-post-heading">
    <img src="{{ comment.user.get_fb_profile_img_url }}" class="fb-profile-img">
    <a href="{% get_comment_permalink comment %}" class="fb-from-user">{{ comment.user.get_full_name }}</a>
    <small class="date">{{ comment.submit_date|date }}</small>
  </h3>
  <div class="panel-body">
    <p>{{ comment.comment }}</p>
    {% if comment.features %}
    {% for feature in comment.features.active %}

    {% include feature.get_template_url.name with content_object=feature.content_object %}
    {% endfor %}
    {% endif %}
  </div>
  <div class="panel-footer">

  {% if not hide_comments %}
  {% render_comment_list for comment %}
  {% endif %}

  {% if user.is_authenticated %}
  {% get_comment_form for comment as form %}
  <form class="form fb-comment-form" action="{% comment_form_target %}" method="POST" data-access-token="{{ request.user.get_fb_access_token }}">
    {% csrf_token %}
    <div class="hidden">{{ form.honeypot }}</div>
    {{ form.content_type }}
    {{ form.object_pk }}
      {{ form.timestamp }}
      {{ form.security_hash }}
      <input type="hidden" name="next" value="{% if facebook_group %}{% url 'facebook_groups:detail' facebook_group.fb_uid %}{% else %}{% url 'facebook_groups:list' %}{% endif %}" />
      <div class="">
          <div class="row">
              <div class="col-xs-2 col-sm-1 fb-profile-comment-img">
                  <img src="{{ request.user.get_fb_profile_img_url }}" class="img-responsive">
              </div>
              <div class="col-xs-10 col-sm-11">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Write a comment..." name="comment" id="id_comment">
                    <span class="input-group-btn">
                      <button type="submit" id="id_submit" class="btn btn-primary"/><i class="fa fa-send fa-fw"></i></button>
                    </span>
                </div>
              </div>
          </div>
      </div>
  </form>
  {% else %}
      <p>Please <a href="{% url 'account_login' %}">log in</a> to leave a comment.</p>
  {% endif %}
  </div>
</div>