{% load staticfiles comments markdown avatar_tags user_thumbnail %}
<div id="c{{ comment.id }}"></div>
<div class="comment-post">
<div class="pull-right comment-actions">
{% if user.is_staff or comment.user == user %}
  <a href="{% url 'comments-delete' comment.id %}?next={{ request.path }}">
    <i class="fa fa-times-circle-o"></i>
  </a>
{% endif %}
{% if comment.user != user %}
  <a href="{% url 'comments-flag' comment.id %}?next={{ request.path }}">
    <i class="fa fa-flag"></i>
  </a>
 {% endif %}
</div>
  <h3 class="fb-post-heading">
    <a href="{% url 'users:detail' comment.user.pk %}" title="View {{ comment.user.first_name }}'s Profile">
      {% if comment.user.fb_uid %}
      <img src="{{ comment.user.get_fb_profile_img_url }}" class="fb-profile-img">
      {% else %}
        {% avatar comment.user %}
      {% endif %}
    </a>
      <a href="{% get_comment_permalink comment %}" class="fb-from-user">{{ comment.user.first_name }}</a>
    <small class="date">{{ comment.submit_date|date }}</small>
  </h3>
  <div class="panel-body">
    <p>{{ comment.comment|markdown }}</p>
    {% if comment.hero_unit %}
      <div class="attached-content">
          {% include 'comments/comment_attached_content.html' with object=comment.hero_unit %}
      </div>
    {% endif %}

  </div>
  <div class="panel-footer">

  {% if not hide_comments %}
      {% render_comment_list for comment %}
  {% endif %}

  {% if user.is_authenticated %}
  {% get_comment_form for comment as form %}

    <form class="form fb-comment-form" action="{% comment_form_target %}" method="POST" data-access-token="{{ request.user.get_fb_access_token }}">
      {% csrf_token %}
      <div class="hidden">{{ form.honeypot }}</div>
      {{ form.content_type }}
      {{ form.object_pk }}
        {{ form.timestamp }}
        {{ form.security_hash }}
        <input type="hidden" name="next" value="{% if facebook_group %}{% url 'facebook_groups:detail' facebook_group.fb_uid %}{% else %}{% url 'facebook_groups:list' %}{% endif %}" />
        <div class="comment-form-control">
          <div class="comment-img">
            <a href="{% url 'users:detail' comment.user.pk %}" title="View {{ comment.user.first_name }}'s Profile">
              {% if comment.user.fb_uid %}
              <img src="{{ comment.user.get_fb_profile_img_url }}" class="fb-profile-img">
              {% else %}
                {% avatar comment.user %}
              {% endif %}
            </a>
          </div>
          <input type="text" class="form-control comment-field" placeholder="Write something..." name="comment" id="id_comment">
          <div class="comment-submit">
          <button type="submit" id="id_submit" class="btn btn-primary"><i class="fa fa-send fa-fw"></i></button>
          </div>
        </div>

      <div class="clearfix"></div>
          </form>
  {% else %}
      <p>Please <a href="{% url 'account_login' %}">log in</a> to leave a comment.</p>
  {% endif %}
  </div>
</div>
