{% load thumbnail %}

{% with content_object as lesson %}

<a class="media" href="{% url 'lessons:detail' lesson.slug %}" title="Go to {{ lesson.name }}">
  <div class="pull-left">
    {% thumbnail lesson.thumbnail '120x100' crop='center' as im %}
    <img src="{{ im.url }}" class="img-circle media-object" alt="{{ lesson.name }}">
    {% endthumbnail %}
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{ lesson.name }}</h4>
    <p>{{ lesson.description|truncatewords:25 }}</p>
  </div>
</a>

{% endwith %}