{% extends "nufiles/base.html" %}

{% block content %}

<section class="nufiles">
  <div class="container">

    <div class="section-title align-center">
      <h1>AYD Sessions</h1>
      <h2>Nam lacus orci, sagittis et sem eu, ullamcorper auctor nulla. Phasellus sed vestibulum diam. Nunc ultrices facilisis mauris et auctor. Suspendisse mauris sem, tincidunt eu fermentum sit amet, vehicula nec sapien.</h2>  
    </div>

    <div class="">
      {% for file in file_list %}

        <div class="media nufiles-list">
          <div class="col-md-5">
            <div class="nufiles-thumb">
              <img class="media-object img-responsive" src="{{ file.img.url }}" alt="Listen to {{ file.title }}">
            </div>
          </div>

          <div class="col-md-7">
            <div class="media-body">
              <h4 class="media-heading nufiles-heading">
              		{{ file.title }}
              </h4>
              <p class="nufiles-description">{{ file.description }}</p>
            </div>

            <audio controls id="file-{{ file.id }}" src="{{ file.file.url }}" class="nufiles-audio"></audio>
          </div>
        </div>

      {% endfor %}
    </div>

  </div>
</section>

{% endblock content %}