{% extends "nufiles/base.html" %}

{% block content %}

<section class="nufiles">
  <div class="container">

    <div class="section-title align-center">
      <h1>Our Community</h1>
      <h2>The world’s leading business and personal development experts at your fingertips, when you need them, all for less than 2 lattes a month.</h2>  
    </div>

    <div class="">
      {% for file in file_list %}

        <div class="media nufiles-list">
          <div class="col-md-4 nufiles-thumb">
            <img class="media-object img-responsive" src="{{ file.img.url }}" alt="Listen to {{ file.title }}">
          </div>

          <div class="col-md-7 col-md-offset-1">
            <div class="media-body">
              <h4 class="media-heading nufiles-heading">
              		{{ file.title }}
              </h4>
              <p class="nufiles-description">{{ file.description }}</p>
            </div>

            <audio controls id="file-{{ file.id }}" src="{{ file.file.url }}" class="nufiles-audio"></audio>
          </div>
        </div>

      {% endfor %}
    </div>
    
  </div>
</section>

{% endblock content %}