{% extends "blog/base.html" %}

{% load tumblr_reader %}

{% block content %}
	<section class="blog section">
		<div class="container">
			<div class="row">
	            <div class="section-header col-xs-12 text-center">
	                <h1 class="section-title">Bird's Eye View</h1>
	                <h3 class="section-subtitle">A blog that will show you how tincidunt leo magna, non sodales est tincidunt aliquam.</h3>
	                <hr>
	            </div><!--/ .section-header-->
			</div><!--/ .row-->
			<div id="main" class="col-md-8 col-md-offset-2">
				<div id="tumblr-posts"></div>
			</div>
		</div><!--/ .container-->
	</section><!--/ .section-->
{% endblock content %}

{% block javascript %}
{{ block.super }}
{% tumblr_posts blog="decidetofly" container="tumblr-posts" %}
{% endblock javascript %}