{% load staticfiles i18n %}

{% block community-cta %}
	<section class="community-cta section parallax parallax-clouds bg-dark-color">
		<div class="full-bg-image"></div>

		<div class="container">
			<div class="col-md-12">

				<h1>D2F Community CTA</h1>
				<h3>Vivamus eget rhoncus purus. Proin non urna ligula. Nunc scelerisque, nunc eget placerat feugiat, arcu quam fringilla mauris, quis blandit diam neque posuere nulla. Aliquam scelerisque diam ut fermentum bibendum. Ut sed ullamcorper nibh. Praesent sit amet molestie lectus, non faucibus tellus. Donec nec orci idenim lacinia auctor. Ut interdum urna ipsum. Aliquam scelerisque diam ut fermentum bibendum.</h3>

				<div class="btn btn-lg btn-danger">Signup Now</div>
				<a href="{% url 'd2f-community' %}"<div class="btn btn-lg btn-success">More Info</div></a>
			</div>
		</div>

	</section><!--/ .section-->
{% endblock community-cta %}