// project specific CSS goes here

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error
.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-warning {
  color: black;
  background-color: orange;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

// !!! Custom style !!!
.media-body ul {
  padding-left: 40px;
}

.panel-body ul {
  padding-left: 40px;
}

.tab-pane {
  padding: 10px;
}

.sortable_item .caption{
  height: 200px;
  overflow: hidden;
}

.no_transition{
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

.ajax_action.is_active .state-1, .ajax_action .state-2{
    display: block;
}

.ajax_action.is_active .state-2, .ajax_action .state-1{
    display: none;
}

.history_item.is_active{
    display: table-row;
}

.history_item{
    display: none;
}

.favourite_item.is_active{
    display: table-row;
}

.favourite_item{
    display: none;
}

.notify-balloon {
  position: fixed;
  z-index: 100500;
  top: 30%;
  left: 50%;
  padding: 15px;
  margin-left: -190px;
  width: 380px;

  color: #FFF;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  box-shadow: 0 2px 15px #888;
  text-shadow: 0px 1px 0px #262626;
  line-height: 160%;
}
//audio js

.audiojs {
  margin: 10px auto;
  width: 435px;
}
.audiojs .play-pause {
  padding: 4px 0;
}

li.dropdown a {
  cursor: pointer;
}
// search-bar

input.search-bar {
  background: white;
  margin-top: 10px;
  margin-left: 15px;
  height: 30px;
  width: 300px; 
}

// !!! /Custom style  !!!