{% load query_string thumbnail %}
<a class="course-item" href="{% url 'courses:detail' course.slug %}{% query_string request.GET %}">
  <div class="thumbnail">
    {% thumbnail course.thumbnail '400x267' crop='center' as im %}
      <img src="{{ im.url }}" class="course-img" alt="{{ course.name }}">
    {% endthumbnail %}
    <div class="caption text-center">
      <h3 class="caption-title">{{ course.name }}</h3>
      <p class="caption-text">{{ course.description|truncatewords:20 }}</p>
    </div><!--/ .caption-->
  </div><!--/ .thumbnail-->
</a><!--/ .course-item-->