{% extends 'courses/base.html' %}
{% load crispy_forms_tags thumbnail %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <h1>COACHING COURSES</h1>
            <p>
                Justo enim velit luctus consectetur vitae nisi scelerisque a cras
                sapien urna? Enim amet - congue praesent rutrum venenatis ipsum
                varius?
            </p>
            <hr />
        </div>
    </div>
    {% if user.is_staff %}
    <div class="row">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Add Course
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        {% crispy form %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row {% if user.is_staff %}sortable{% endif %}" data-url="{% url 'courses:order' %}">
        {% for course in object_list %}
            <div class="sortable_item col-md-4" data-pk='{{ course.pk }}'>
                <a href="{% url 'courses:detail' course.slug %}">
                    <div class="thumbnail">
                        {% thumbnail course.thumbnail '284x180' crop='center' as im %}
                            <img src="{{ im.url }}" class="img-rounded" alt="{{ course.name }}">
                        {% endthumbnail %}
                        <div class="caption">
                            <h3>{{ course.name }}</h3>
                            <p>{{ course.description }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
