{% extends 'courses/base.html' %}
{% load crispy_forms_tags thumbnail staticfiles user_permission_tags query_string markdown %}

{% block nav_actions %}
{{ block.super }}
{% if user|can_manage_content:object %}
<li class="dropdown">
  <a data-toggle="dropdown">
    <i class="fa fa-angle-down state-closed"></i><i class="fa fa-angle-up state-open"></i>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Edit {{ trainings.course_name }}</a></li>
    <li><a href="{% url 'lessons:add' object.slug %}">Add Lesson</a></li>
    <li><a href='{% url "courses:delete" object.slug %}'>Delete</a></li>
  </ul>
</li>
{% if fb_group_list %}    
  <li><a class="btn-share-form" data-toggle="modal" data-target="#shareModal" data-url="{% url 'dtf_comments:share' object.pk %}"><i class="fa fa-share"></i></a></li>
{% endif %}
{% endif %}
{% if user.is_authenticated %}
  {% if user|is_member %}
  <li>
    <a><span>Complete: {{ course_completion }}%</span></a> 
  </li>
  {% endif %}
<li>
  <a class="ajax_action fav_button{% if is_favourite %} is_active{% endif %}" data-url="{% url 'courses:favourite_action' object.slug %}" data-target=".fav_button">
  <span class='state-1'>
    <i class="fa fa-heart"></i>
  </span>
  <span class='state-2'>
    <i class="fa fa-heart-o"></i>
  </span>
  </a>
</li>
{% endif %}
{% endblock nav_actions %}

{% block nav_secondary %}
<li>
  <a href="{% url 'courses:list' %}{% query_string request.GET %}">
  <i class="fa fa-arrow-left"></i> &nbsp; {{ trainings.course_name }}s
  </a>
</li>
{% endblock nav_secondary %}

{% block content %}
<section class="course-detail">
  <div class="col-md-6">
    <div class="course-info">
      <h1>{{ object.name }}</h1>
      <hr>               
      <p>{{ object.description|markdown }}</p>
    </div><!--/ .course-info-->
  </div><!--/ .col-md-6-->
  <div class="col-md-6 bg-white">
    {% if user|can_manage_content:object %}
    <div id="collapseOne" class="panel-collapse collapse">
      {% crispy form %}
        <div class="clearfix"></div>
    </div><!--/ .panel-collapse-->
    {% endif %}
    <div class="list-group lessons {% if user|can_manage_content:object %}sortable{% endif %}" data-url="{% url 'lessons:order' object.slug %}">
      {% for lesson in lesson_list %}
        {% include "lessons/lesson_list_item.html" with course_pk=lesson.course.pk %}
      {% endfor %}
    </div><!--/ .list-group-->
  </div><!--/ .col-md-6-->
  <div class="clearfix"></div>
</section><!--/ .course-detail-->

{% endblock content %}

{% block modal %}
   {% if user.is_authenticated and fb_group_list %}
  {% include 'includes/share_modal.html' %}
  {% endif %}
{% endblock modal %}

{% block javascript %}
{{ block.super }}
{% endblock javascript %}
