{% load query_string thumbnail %}
<a class="list-group-item" href="{% url 'courses:detail' course.slug %}{% query_string request.GET %}">
    <div class="row">
        <div class="col-md-3">
            {% thumbnail course.thumbnail '250x250' crop='center' as im %}
            <img src="{{ im.url }}" class="img-rounded img-responsive" alt="{{ course.name }}">
            {% endthumbnail %}
        </div>
        <div class="col-md-9">
            <h4 class="list-group-item-heading">{{ course.name }}</h4>
            <p class="list-group-item-text">{{ course.description|truncatewords:25 }}</p>
        </div>
    </div>
</a>