{% extends 'courses/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 section-title">
            <h1>My Favourite Courses</h1>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            {% for object in object_list %}
                <tr id='course_favourite_{{ object.slug }}' class='favourite_item is_active'>
                    <td>{{ object.created }}</td>
                    <td>
                        <a href="{% url 'courses:detail' object.course.slug %}">
                            {{ object.course }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'courses:favourite_action' object.course.slug %}"
                            class="ajax_action" 
                            data-target="#course_favourite_{{ object.slug }}"
                            data-url="{% url 'courses:favourite_action' object.course.slug %}">
                                <i class="fa fa-trash-o"></i>
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td align="center">There are no favourites yet ;)</td>
                </tr>                
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}