{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Login | Decide to Fly" %}{% endblock %}

{% block content %}
<section class="login-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <h2 class="title">{% trans "Login" %}</h2>
        {% comment %}
        {% if socialaccount.providers  %}
          <p>{% blocktrans with site.name as site_name %}Sign in with your existing Facebook or {{site_name}} account below. You can also <a href="{{ signup_url }}">sign up</a> for a {{site_name}} account and sign in below.{% endblocktrans %}</p>
          <div class="socialaccount_ballot">
            <ul class="nav nav-pills socialaccount_providers">
              {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>
            <div class="clearfix"></div>
            <div class="login-or">{% trans 'or' %}</div>
          </div>
          {% include "socialaccount/snippets/login_extra.html" %}
        {% endif %}
        {% endcomment %}
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form|crispy }}
          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-success btn-lg" type="submit">{% trans "Sign In" %}</button>
          <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
