{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Sign Up | Decide to Fly" %}{% endblock title %}

{% block content %}


<div class="signup-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <h2 class="title">{% trans "Sign Up" %}</h2>
    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">log in</a>.{% endblocktrans %}</p>
    {% crispy form %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}


