.etfar-tool {
  min-height: 500px;
  .etfar-canvas {
    min-height: 380px;
  }
  .event-title {
    margin: 0;
    padding: 0 0 19px 143px;
  }
  .right-editor, .left-editor, .etfar-form {
     .transition(.3s);
  }

  .etfar-form {

  }
  .progress-check {
    .transition(.5s);
  }
}