//-------------------------------------//
//-------------- FOOTERS --------------//
//-------------------------------------//

/* ------ Universal Styles
/* --------------------------------------- */
footer {
	background-color: darken(@brand-primary-dark, 12%);
	.text-white();
	a {
		color: @brand-secondary;
		&:hover { color: #fff; }
	}
	.widget-title { margin-bottom: 20px; }
	.contact-widget p { margin: 0; }
}
.bottom-footer {
	background-color: transparent;
	color: fadeout(#fff, 17%);
	padding: 35px 0;
	font-size: 12px;
}

// ------ Main Footer & App Footer
// ---------------------------------------
.footer-main,
.footer-app { margin-top: 60px; }
.footer-content {
	background-color: @brand-primary-dark;
	padding: 50px 0 70px;
	text-align: left;
	// Box Shadow
	box-shadow: 0 0 10px fadeout(#000, 40%);
	-mox-box-shadow: 0 0 10px fadeout(#000, 40%);
	-o-box-shadow: 0 0 10px fadeout(#000, 40%);
	-webkit-box-shadow: 0 0 10px fadeout(#000, 40%);
	ul {
		list-style: none;
		padding-left: 0;
	}
}

// ------ Contact Footer (Homepage)
// ---------------------------------------
.contact-footer {
	.flute-divider { background-color: @brand-secondary; }
	.contact-section {
		padding: 60px 0 30px;
		background-color: @brand-primary-dark;
	}
	.btn-lg.submit { line-height: 1.45; }
}
