//-------------------------------------------//
//-------------- WEB APP FOOTER -------------//
//-------------------------------------------//

//--------------------------------------------//
//---------- MARKETING SITE FOOTERS ----------//
//--------------------------------------------//

footer {
	&.footer-main,
	&.contact-footer {
		color: @gray-lighter;
		a:hover { color: #fff; }
		.contact-widget p { margin: 0; }
		input, textarea {
			border-color: @gray-light;
			background-color: transparent;
			&:focus {
				border-color: @brand-primary;
				// Box Shadow
				box-shadow: fadeout(@brand-primary, 70%) 0px 0px 7px 1px;
				-moz-box-shadow: fadeout(@brand-primary, 70%) 0px 0px 7px 1px;
				-o-box-shadow: fadeout(@brand-primary, 70%) 0px 0px 7px 1px;
				-webkit-box-shadow: fadeout(@brand-primary, 70%) 0px 0px 7px 1px;
			}
		}
	}
	.bottom-footer {
		background-color: @gray-darker;
		color: @gray-light;
		padding: 35px 0;
		.copyright { font-size: 12px; }
	}
}

// ------ Primary Footer
// ---------------------------------------
.footer-main {
	background-color: @gray-dark;
	.section {
		padding: 75px 0;
		background-color: transparent;
	}
	.widget { margin-bottom: 0; }
	.widget-title {
		color: @gray-lighter;
		text-transform: uppercase;
	}
	.footer-widgets {
		text-align: left;
		padding: 60px 0;
		background-color: fadeout(#000, 70%);
		-webkit-box-shadow: 0 0 10px fadeout(#000, 40%);
		box-shadow: 0 0 10px fadeout(#000, 40%);
		.widget-subtitle { margin-bottom: 15px; }
	}
	.bottom-footer { background-color: fadeout(#000, 50%); }
}

// ------ Contact Footer
// ---------------------------------------
.contact-footer {
	background-color: #fff;
	.section {
		padding-bottom: 0;
		&.contact-form {
			background-color: @gray-dark;
		}
	}
	textarea { border-radius: 6px; }
}

.bottom-menu {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	.bottom-menu-trigger {
		background-color: @gray-dark;
		color: #fff;
		padding: 10px;
		>a {
			width: 100%;
			margin: 0;
			color: #fff;
			font-size: 0.9em;
		}
	}
	.bottom-menu-content {
		display: none;
		&.active {
			display: block;
		}
	}
}
