//------------------------------------------//
//---------------- NAV MENUS ---------------//
//------------------------------------------//

// Universal Styles
// ---------------------------------------
.navbar {
	border: none;
	border-radius: 0;
	margin-bottom: 0;
	a {
		font-family: "Montserrat", Helvetica, sans-serif;
		font-size: 12px;
		font-weight: 600;
		letter-spacing: 1px;
		text-transform: uppercase;
		// Caret Transitions
		.caret {
			transition: color .25s;
			-moz-transition: color .25s;
			-o-transition: color .25s;
			-webkit-transition: color .25s;
		}
	}
	.dropdown-menu a {
		font-size: 12px;
		font-weight: 600;
		padding: 5px 20px;
	}
	.container-fluid { padding: 0 35px;}
	.profile { padding: 5px 15px; }
	.img-thumbnail {
		border-radius: 50%;
		border: 3px solid transparent;
		padding: 0;
		// Transitions
		transition: border-color .25s;
		-moz-transition: border-color .25s;
		-o-transition: border-color .25s;
		-webkit-transition: border-color .25s;
		&:hover {
			border-color: @brand-primary;
		}
	}
	// Alerts
	.alert {
		border-radius: 0;
		margin-bottom: 0;
	}
}
.navbar-nav > li > .dropdown-menu { border: none; }

// Box Shadows
.nav-user,
.nav-member,
.nav-marketing,
.nav-secondary {
	box-shadow: 0 0 10px fadeout(#000, 40%);
	-moz-box-shadow: 0 0 10px fadeout(#000, 40%);
	-o-box-shadow: 0 0 10px fadeout(#000, 40%);
	-webkit-box-shadow: 0 0 10px fadeout(#000, 40%);
}

// User & Member Navigation
// ---------------------------------------
.nav-user,
.nav-member {
	background-color: @gray-lighter;
	.nav-logo {
		padding: 9px 20px 0 0;
		max-height: 40px;
	}
	.navbar-nav > li > a {
		color: @gray-dark;
		&:hover {
			background-color: transparent;
			color: @brand-primary;
		}
	}
	.navbar-form {
		&.navbar-right:last-child { margin-right: -10px; }
		.form-control {
			border: none;
			border-radius: 0;
			box-shadow: none;
			-webkit-box-shadow: none;
			margin-right: -4px;
		}
		.btn-default {
			border: 1px solid #fff;
			border-radius: 0;
			&:hover { background-color: #fff; }
		}
	}
	.dropdown-menu > li > a {
		color: @gray-dark;
		&:hover {
			color: @brand-primary;
			background-color: transparent;
		}
	}
	.nav .open {
		> a,
		> a:hover,
		> a:focus {
			background-color: transparent;
			color: @brand-primary;
			.caret { color: @brand-primary; }
		}
	}
}

// Secondary & Marketing Navigation
// ---------------------------------------
.nav-secondary,
.nav-marketing {
	background-color: @gray-dark;
	.navbar-nav > li > a {
		color: @gray-light2;
		.caret { color: @gray-light2; }
		&:hover,
		&:focus {
			color: #fff;
			background-color: transparent;
			.caret { color: #fff; }
		}
	}
	.dropdown-menu {
		background-color: @gray-dark;
		> li > a {
			color: @gray-light2;
			&:hover {
				color: #fff;
				background-color: transparent;
			}
		}
	}
	.nav .open {
		> a, 
		> a:hover, 
		> a:focus {
			color: #fff;
			background-color: transparent;
			.caret { color: #fff; }
		}
	}
}

// Secondary Navigation
// ---------------------------------------
.nav-secondary {
	margin-bottom: 40px;
	// bootstrap removes this for mobile view
	.navbar-nav {
    // prevent from collapsing on mobile
    float: left;
    margin: 0;
    &.navbar-right { float: right; }
    > li {
      float: left;
      > a {
      	color: @gray-light2;
      	cursor: pointer;
        padding-top:    @navbar-padding-vertical;
        padding-bottom: @navbar-padding-vertical;
				&:hover {
					background-color: transparent;
					color: #fff;
				}
      }
    }
    &:first-child { margin-left: -@navbar-padding-horizontal; }
    &.navbar-right:last-child { margin-right: -@navbar-padding-horizontal; }
  }
}

// Marketing Navigation
// ---------------------------------------
.nav-marketing {
	.nav-logo { 
		max-height: 56px;
		padding-top: 24px;
	}
	.navbar-nav > li > a { line-height: 50px; }
	// Homepage Marketing Nav
	&.home {
		background-color: fadeout(@gray-darker, 30%);
		margin-bottom: -80px;
		.dropdown-menu { background-color: fadeout(@gray-darker, 30%); }
	}
}