//-------------------------------------------//
//-------------- WEB APP NAVS ---------------//
//-------------------------------------------//

.primary-nav,
.secondary-nav {
	border: none;
	border-radius: 0;
	.navbar-nav > li > a {
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
	}
}
// Primary App Navigation
// ---------------------------------------
.primary-nav {
	background-color: @gray-dark;
	-webkit-box-shadow: 0 0 10px fadeout(#000, 40%);
	box-shadow: 0 0 10px fadeout(#000, 40%);

	.nav-logo {
		padding: 5px 10px 0;
		max-height: 45px;
	}

	.navbar-nav > li > a {
		color: @gray-lightest;
		&:hover {
			color: @gray-dark;
			background-color: @gray-lightest;
		}
	}
}
// Staff Navigation
// ---------------------------------------
.secondary-nav {
	background-color: @gray-lightest;
	border-bottom: 1px solid @table-border-color;
	.navbar-nav > li > a {
		color: @gray;
		&:hover {
			background-color: @table-border-color;
		}
	}
}

//-------------------------------------------//
//----------- MARKETING SITE NAVS -----------//
//-------------------------------------------//

.navbar-member,
.navbar-marketing {
	border: none;
	-webkit-box-shadow: 0 0 10px fadeout(#000, 40%);
	box-shadow: 0 0 10px fadeout(#000, 40%);
	.navbar-right { padding-right: 20px; }
	.navbar-nav > li > a {
		text-transform: uppercase;
	}
}
// Member Navigation
// ---------------------------------------
.navbar-member {
	background-color: @gray-dark;
	.navbar-nav > li > a {
		color: @gray-lightest;
		font-size: 14px;
		font-weight: 600;
		&:hover {
			color: @gray-dark;
			background-color: @gray-lightest;
		}
	}
}
// Marketing Navigation
// ---------------------------------------
.navbar-marketing {
	top: 50px;
	background-color: @brand-dtf;
	.navbar-nav > li > a {
		color: #fff;
		line-height: 40px;
		font-weight: 400;
		.caret { color: #fff; }
		&:hover,
		&:focus {
			color: @brand-dtf;
			background-color: #fff;
			.caret { color: @brand-dtf; }
		}
	}
	.dropdown-menu {
		background-color: fadeout(@gray-dark, 20%);
		> li > a {
			padding: 3px 30px;
			color: #fff;
			line-height: 30px;
			text-transform: uppercase;
			&:hover {
				color: @gray-dark;
				background-color: #fff;
			}
		}
	}
	.open {
		> a, 
		> a:hover, 
		> a:focus {
			color: @brand-dtf;
			background-color: #fff;
			border: none;
			.caret { color: @brand-dtf; }
		}
	}
}