//----------------------------------//
//--------- CUSTOM THEME -----------//
//----------------------------------//

body { padding-top: @navbar-height; }

/* Typography
/* ----------------------------------- */
p { font-weight: 300; }
.text-white { color: #fff; }
.company-title { margin-top: 0; }
// Text Selection
::selection {
	background-color: @brand-primary;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background-color: @brand-primary;
	color: #fff;
	text-shadow: none;
}
// Links
a {
	.transition(color .25s ease);
	&:hover { text-decoration: none; }
}

/* Buttons
/* ----------------------------------- */
.btn {
	border: none;
	// Transitions
	.transition(color .25s ease);
	.transition(background-color .25s ease);
}
.btn,
.btn-lg,
.btn-sm,
.btn-xs { border-radius: 0; }

/* Forms
/* ----------------------------------- */
.input-sm,
.input-lg,
.form-control {
	border: none;
	border-radius: 0;
}

/*	Pager
/* ----------------------------------- */
ul.pager {
	.previous,
	.next {
		a {
			font-weight: 400;
			color: #fff;
			background-color: @brand-primary;
			border-color: @brand-primary;
			i { color: #fff; }
			&:hover {
				background-color: darken(@brand-primary, 8%);
				border-color: darken(@brand-primary, 8%);
			}
		}
		&.disabled a, {
			color: @gray-light;
			background-color: @gray-lighter;
			border-color: @gray-lighter;
			i { color: @gray-light; }
		}
	}
}

/* Labels
/* ----------------------------------- */
.label { line-height: 2em; }
.label-secondary { background-color: @brand-secondary; }

/* Panels
/* ----------------------------------- */
.panel,
.panel-heading {
	border: none;
	border-radius: 0;
}
.panel-secondary > .panel-heading {
	color: #ffffff;
	background-color: @brand-secondary;
	border-color: @brand-secondary;
}