//-------------------------------------------//
//--------------- TYPOGRAPHY ----------------//
//-------------------------------------------//

// Section Headers
// ---------------------------------------
.section-header,
.section-header-2 {
	margin-bottom: 40px;
	.section-title { font-weight: 300; }
	hr {
		margin: 15px auto 0;
		width: 400px;
		height: 2px;
		// Linear Gradient
		background: linear-gradient(to right, transparent 0%, rgba(187,187,187,1) 20%, rgba(187,187,187,1) 80%, transparent 100%);
		background: -moz-linear-gradient(left, transparent 0%, rgba(187,187,187,1) 20%, rgba(187,187,187,1) 80%, transparent 100%);
		background: -ms-linear-gradient(left, transparent 0%, rgba(187,187,187,1) 20%, rgba(187,187,187,1) 80%,transparent 100%);
		background: -o-linear-gradient(left, transparent 0%, rgba(187,187,187,1) 20%, rgba(187,187,187,1) 80%,transparent 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%, transparent), color-stop(20%, rgba(187,187,187,1)), color-stop(80%, rgba(187,187,187,1)), color-stop(100%, transparent));
		background: -webkit-linear-gradient(left, transparent 0%, rgba(187,187,187,1) 20%, rgba(187,187,187,1) 80%, transparent 100%);
	}
	.section-subtitle {
		margin-top: 15px;
		font-weight: 300;
	}
}
.section-header {
	.section-title {
		text-transform: uppercase;
		color: @brand-primary;
	}
}
.section-header-2 {
	.section-title span { 
		color: @brand-primary;
		font-weight: 400;
	}
	.section-subtitle { color: @gray-light; }
}

// ------Product Header
// ---------------------------------------
.product-header {
	.section-title,
	.section-subtitle {
		margin-bottom: 30px;
		color: #fff;
	}
	.section-title {
		font-size: 56px;
		font-family: 'Julius Sans One', sans-serif;
		font-weight: 600;
	}
	.section-subtitle {
		font-size: 20px;
		font-weight: 300;
		line-height: 1.5em;
	}
}

// ------Basic Call-to-Action
// ---------------------------------------
.basic-cta {
	text-align: center;
	.cta-title {
		color: #fff;
		font-weight: 400;
	}
	.cta-subtitle {
		color: #fff;
		line-height: 1.3em;
		font-weight: 300;
	}
}
@media (min-width: @screen-md-min) {
	.basic-cta { text-align: left; }
}

// ------Member Login/Logout Forms
// ---------------------------------------
.login-wrapper,
.signup-wrapper {
	.title {
		text-transform: uppercase;
		color: @brand-primary;
	}
}
.logout-wrapper {
	.title {
		text-transform: uppercase;
		color: @brand-danger;
	}
}