//-------------------------------------------------------------------------//
//--------------------------------- ZAK'S ---------------------------------//
//---------------------------------- LESS ---------------------------------//
//--------------------------------- STYLES --------------------------------//
//-------------------------------------------------------------------------//

//--------------------------------------//
//--------- Universal Styles -----------//
//--------------------------------------//


// ------ Import Marina Font ------ //
@font-face {
	font-family: Marina;
	src: url(../../fonts/marina.ttf);
}

// ------ Background Colors ------ //
.bg-transparent.section {
	background-color: transparent;
}

// ------ General ------ //

 a {
 	color: @brand-dtf;

	&:hover {
		text-decoration: none;
	}
 }

a, .btn {
	-webkit-transition: color .25s ease, background-color .25s ease, border .25s ease;
	-moz-transition: color .25s ease, background-color .25s ease, border .25s ease;
	transition: color .25s ease, background-color .25s ease, border .25s ease;
}

.thumbnail > img {
	border-radius: 0;
}

// ------ Background Color Classes ------ //
.bg-white { background-color: #fff; }

// ------ Pager ------ //
ul.pager {
	.previous, .next {
		a {
			font-weight: 400;
			color: #fff;
			background-color: @brand-dtf;
			border-color: @brand-dtf;
			i { color: #fff; }

			&:hover {
				background-color: darken(@brand-dtf, 8%);
				border-color: darken(@brand-dtf, 8%);
			}
		}

		&.disabled a, {
			color: @gray-light;
			background-color: @gray-lighter;
			border-color: @gray-lighter;
			i { color: @gray-light; }
		}
	}
}

// ------ Section Title ------ //
.section-title {
	position: relative;
	margin-bottom: 70px;
	padding-bottom: 15px;
	text-align: center;

	&:after {
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -7%;
		width: 14%;
		height: 2px;
		background-color: #ececec;
		content: "";
	}

	h1 {
		margin: 0 0 20px;
		color: @brand-dtf;
		text-transform: uppercase;
		font-weight: 100;
		line-height: 1.1em;
	}
	h2 {
		font-weight: 300;
		text-transform: none;
	}
}

.section-title-2 {
	margin-bottom: 80px;
	text-align: center;

	h1 {
		font-weight: 100;

		span { 
			color: @brand-dtf;
			font-weight: 400;
		}
	}
	h2 {
		color: @section-title-gray;
		font-weight: 300; 
	}
}

.section-title, .section-title-2 {
	h1 {
		font-size: 42px;
	}
	h2 {
		font-size: 20px;
	}
}

@media (min-width: @screen-sm-min) {
	.section-title, .section-title-2 {
		h1 {
			font-size: 60px;
		}
		h2 {
			font-size: 24px;
		}
	}
}

// Fix for Parallax //
.parallax .section-title {
	&:after {
		background-color: #cfcfcf;
		background-color: rgba(207,207,207,.4);
	}

	h2 { color: #fff; }
}


// ------ Buttons ------ //

.btn {
	font-weight: 300;
}

.btn-success:hover {
	background-color: @brand-dtf-dark;
}
.btn-danger:hover {
	background-color: @brand-danger-dark;
}
.btn-default {
	color:  @brand-dtf;
	border: 2px solid  @brand-dtf;
	background: transparent;
	
	&:hover {
		color: @brand-gray;
		border: 2px solid @brand-gray;
		background: transparent;
	}
}

// ------ D2F Community CTA Block ------ //
.community-cta {
	text-align: center;
	
	&.bg-dark-color .full-bg-image {
		opacity: 0.8;
	}

	&.parallax-clouds .full-bg-image {
		background-image: url(../../images/clouds.jpg);
		//background-image: url(../../../images/clouds.jpg);
	}

	h1 {
		margin-bottom: 30px;
		color: #fff;
		font-size: 35px;
		font-family: 'Julius Sans One', sans-serif;
		text-transform: uppercase;
	}
	h3 {
		margin-bottom: 30px;
		color: #fff;
		font-size: 16px;
		font-family: 'Roboto', sans-serif;
		line-height: 1.5em;
		font-weight: 300;
	}
	
	.btn-lg {
		width: 200px;
		margin-top: 15px;
	}
}

@media (min-width: @screen-sm-min) {
	.community-cta {
		h1 {
			font-size: 60px;
		}
		h3 {
			font-size: 20px;
		}

		.btn-lg {
			&.btn-success {
				margin-left: 20px;
			}
		}
	}
}


// ------ Free Product CTA Block ------ //

.free-product-cta {
	a {
		color: @brand-dtf;

		&:hover {
			color: @brand-gray;
		}
	}

	.main-entry {
		padding-bottom: 0;
		border-bottom: none;
		
		.entry-image {
			margin-bottom: 20px;
		}
	}
	.entry-image h3 {
		color: #fff;
		font-size: 28px;
	}
}

@media (min-width: @screen-md-min) {
	.free-product-cta {
		.entry-image h3 {
			font-size: 24px;
		}
	}
}

@media (min-width: @screen-lg-min) {
	.free-product-cta {
		.entry-image h3 {
			font-size: 28px;
		}
	}
}


//--------------------------------------//
//-------------- Homepage --------------//
//--------------------------------------//


// ------Welcome Block ------ //

.welcome-home {
	.section.parallax {
		padding-top: 0;
		padding-bottom: 0;
	}

	.full-bg-image {
		background-image: url(../../images/decide-to-fly-home-banner.jpg);
		//background-image: url(../../../images/decide-to-fly-home-banner.jpg);
	}

	.video-full-entry {
		display: inline-block;

		h1 {
			margin-bottom: 0;
			color: #5b5e60;
			font-size: 29px;
			font-weight: 600;
			font-family: Garamond, sans-serif;
			text-shadow: 2px 2px 3px fadeout(#000, 65%);
			line-height: 1.1em;

			span.red { color: #be2046; }
			span.blue { color: #0a708f; }
			span.green { color: #6d8021; }
		}
		h2 {
			margin-bottom: 0;
			font-family: Marina, sans-serif;
		}

		img.company-logo {
			margin-bottom: 20px;
			max-width: 200px;
		}
	}

	.btn {
		margin-bottom: 25px
	}

	.parallax-overlay {
		z-index: -1;
		background-color: @brand-gray;
		background-color: rgba(0, 0, 0, 0.3);
		background-image: none;
	}

	img.swoosh {
		margin-bottom: -7px;
	}
}

@media (min-width: @screen-sm-min) {
	.welcome-home {
		.section.parallax {
			padding-top: 100px;
		}

		.video-full-entry {
			padding: 0 0 40px;

			h1 {
				font-size: 29px;
			}
			h2 {
				font-size: 20px;
			}
		}
	}
}

@media (min-width: @screen-md-min) {
	.welcome-home {
		.video-full-entry {
			padding: 140px 0 60px;
			
			h1 {
				font-size: 38px;
			}
			h2 {
				font-size: 24px;
			}
		}

		.welcome-title {
			text-align: left;
		}
	}
}

@media (min-width: @screen-lg-min) {
	.welcome-home {
		.video-full-entry {
			h1 {
				font-size: 48px;
			}
		}
	}
}


// ------ D2F Community Intro Block ------ //


.community {
	.community-items {
		padding: 0 5%;
	}

	h2.entry-title {
		font-size: 19px;
		font-weight: 400;
	}
	p {
		font-size: 14px;
		line-height: 1.5em;
		color: @gray;
	}

	.icon {
		text-align: center;
		margin: 19px auto 16px;
	}
	.top {
		width: 70px;
		height: 70px;
		background: transparent;
		border: 2px solid @brand-gray;
		border-radius: 100px;
		padding: 20px 0;
		position: relative;

		i {
			font-size: 30px;
			color: @brand-gray;	
		}
	}

	.entry {
		padding: 0 10px;
		margin-bottom: 10px;
		text-align: center;
		height: auto;
		min-height: 276px;
		background: #fff;
		float: left;
		cursor: pointer;
		-webkit-transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
		-moz-transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
		transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;

		&:hover {
			background:  @brand-dtf;
			color: #fff;

			h2 {
				color: #fff;
			}
			p {
				color: #fff;
			}
			.top {
				border: 2px solid  @brand-dtf;
				background: #fff;

				i {
					color: @brand-dtf;
				}
				&:after {
					border: 2px solid white;
					-webkit-transform: scale(1.2);
					-moz-transform: scale(1.2);
					-ms-transform: scale(1.2);
					transform: scale(1.2);
				}
			}

			.bottom i {
				border: 1px solid #fff;
				color: #fff;
			}
		}

		.top:after {
			position: absolute;
			background: transparent;
			content: '';
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			border-radius: 500px;
			-webkit-transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
			-moz-transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
			transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
		}

		.icon {
			text-align: center;
			margin: 19px auto 16px;

			&.top {
				margin-top: 23px;
			}
		}

		.bottom i {
			width: 31px;
			height: 31px;
			padding-top: 6px;
			font-size: 20px;
			color: @brand-gray;
			background: transparent;
			border: 1px solid @brand-gray;
			border-radius: 100px;
		}
	}
}


// ------ Virtual Mentoring Block ------ //

.vm-item-1, .vm-item-2 {
	text-align: center;

	h1 {
		color:  @brand-dtf;
		font-weight: 100;
		font-size: 48px;
		line-height: 1.1em;
	}

	.btn-lg {
		width: 180px;
	}
}
.vm-item-1 {
	margin-bottom: 80px;
}
.vm-item-2 {
	margin-bottom: 60px;
}

@media (min-width: @screen-md-min) {
	.vm-item-1 {
		text-align: right;
	}
	.vm-item-2 {
		text-align: left;
	}
}


// ------ Jami Amidon Intro Block ------ //
.about-jami {
	.list li {
		margin-left: 30px;
	}

	.btn-lg {
		margin-top: 24px;
		height: 55px;
		line-height: 1.74;
	}
}


//--------------------------------------//
//------------- About Page -------------//
//--------------------------------------//


// ------ About D2F Block ------ //

.about-d2f {
	.item-02 {
		margin-top: 60px;
	}
}


// ------ Testimonials Block ------ //

.testimonials {
	li blockquote {
		font-size: 18px;
	}
}

@media (min-width: @screen-sm-min) {
	.testimonials {
		li blockquote {
			font-size: 24px;
		}
	}
}

// ------ D2F Team Block ------ //

.team {
	.team-nav {
		visibility: hidden;
	}

	.team-contents {
		width: 100%;
	}
	.contents {
		width: 100%;
	}

	.team-entry {
		padding: 20px 20px;
		width: 100%;
	}

	.team-plus-icon .curtain {
		-webkit-transition: none;
		-moz-transition: none;
		transition: none;
	}
	.team-plus-icon:hover .curtain {
		margin-left: -200px;
	}
	.single-image.team-img {
		cursor: default;
	}

	.team-member article {
		margin: 0 0 40px;
		width: 100%;
		
		.team-group {
			border: 1px solid #e0e0e0;
			background-color: #fff;
		}
		
		&:hover {
			.team-group {
				border: 1px solid #e0e0e0;
				background-color: #fff;
			}
			.team-title {
				color: @brand-gray;
			}
			.team-position {
				color: #aeaeae;
			}
		}
	}

	.team-info {
		width: 100%;
	}
	.team-image {
		width: 40%;
		margin-right: 3%;
	}
	.team-group {
		width: 57%;
	}

	.team-content {
		margin: 0;
		display: table;
		width: 100%;
	}

	.team-title {
		font-size: 20px;
	}
}

@media (min-width: @screen-sm-min) {
	.team {
		.team-info {
			width: 250px;
		}
		.team-image {
			width: 100%;
			margin-right: 0;
		}
		.team-group {
			width: 100%;
		}

		.team-content {
			margin-left: 260px;
			display: block;
			width: auto;
		}

		.team-member article {
			margin: 0 20px 40px;
		}

		.team-title {
			font-size: 24px;
		}
	}
}

@media (min-width: @screen-md-min) {
	.team {
		.team-contents {
			width: 50000px;
		}
		.contents {
			width: 250px;
		}

		.team-plus-icon .curtain {
			-webkit-transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
			-moz-transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
			transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
		}
		.team-plus-icon:hover .curtain {
			margin-left: 0;
		}
		.single-image.team-img {
			cursor: pointer;
		}
		
		.team-member article {
			margin: 0 20px;
			width: auto;

			&:hover {
				.team-group {
					border-color: transparent;
					background-color:  @brand-dtf;
				}
				.team-title, .team-position {
					color: #fff;
				}
			}
		}
	}
}


// ------ FAQs Block ------ //

.faqs {
	.section-title h1 {
		text-transform: none;
	}
}


//------------------------------------------------------//
//----------------- D2F Community Page -----------------//
//------------------------------------------------------//


// ------ About Community Block ------ //

.about-community {
	.btn-lg {
		height: 60px;
		margin-top: 80px;
		line-height: 36px;
	}

	.about-left li, .about-right li  {
		line-height: 1.4em;
		height: 64px;
	}
	.about-left {
		text-align: right;
	}
}

.about-content {
	background: none;
}

.about-left li, .about-right li {
	text-align: center;
	padding: 80px 0 100px;
}

.about-item-1 {
	background: url(../../images/icons/comments.png) center top no-repeat;
	//background: url(../../../images/icons/comments.png) center top no-repeat;
}
.about-item-2 {
	background: url(../../images/icons/notebook.png) center top no-repeat;
	//background: url(../../../images/icons/notebook.png) center top no-repeat;
	margin: 0;
}
.about-item-3 {
	background: url(../../images/icons/camera.png) center top no-repeat;
	//background: url(../../../images/icons/camera.png) center top no-repeat;
}
.about-item-4 {
	background: url(../../images/icons/users.png) center top no-repeat;
	//background: url(../../../images/icons/users.png) center top no-repeat;
}
.about-item-5 {
	background: url(../../images/icons/calendar.png) center top no-repeat;
	//background: url(../../../images/icons/calendar.png) center top no-repeat;
	margin: 0;
}
.about-item-6 {
	background: url(../../images/icons/film.png) center top no-repeat;
	//background: url(../../../images/icons/film.png) center top no-repeat;
}

@media (min-width: @screen-sm-min) {
	.about-community {

	}
}

@media (min-width: @screen-md-min) {
	.about-community {
		.about-left li, .about-right li {
			text-align: center;
			padding: 80px 0;
		}

		.about-content {
			background: url(../../images/mandala.png) center top no-repeat;
			//background: url(../../../images/mandala.png) center top no-repeat;
			margin-bottom: 20px;
			background-position-y: 20px;
		}

		.about-left li {
			text-align: right;
			padding: 0 80px 0 0;
		}
		.about-right li {
			text-align: left;
			padding: 0 0 0 80px;
		}

		.about-item-1 {
			background: url(../../images/icons/comments.png) right top no-repeat;
			//background: url(../../../images/icons/comments.png) right top no-repeat;
			margin-bottom: 60px;
		}
		.about-item-2 {
			background: url(../../images/icons/notebook.png) right top no-repeat;
			//background: url(../../../images/icons/notebook.png) right top no-repeat;
			margin: 0 50px 60px 0;
		}
		.about-item-3 {
			background: url(../../images/icons/camera.png) right top no-repeat;
			//background: url(../../../images/icons/camera.png) right top no-repeat;
		}
		.about-item-4 {
			background: url(../../images/icons/users.png) left top no-repeat;
			//background: url(../../../images/icons/users.png) left top no-repeat;
			margin-bottom: 60px;
		}
		.about-item-5 {
			background: url(../../images/icons/calendar.png) left top no-repeat;
			//background: url(../../../images/icons/calendar.png) left top no-repeat;
			margin: 0 0 60px 50px;
		}
		.about-item-6 {
			background: url(../../images/icons/film.png) left top no-repeat;
			//background: url(../../../images/icons/film.png) left top no-repeat;
		}

	}
}


//-----------------------------------------------------------------------//
//----------- Courage to Soar / Accelerate Your Destiny Pages -----------//
//-----------------------------------------------------------------------//


// ------ About VM Products Blocks ------ //

.about-products {
	text-align: center;
	
	.bg-dark-color .full-bg-image {
		opacity: 0.8;
	}

	.parallax-courage .full-bg-image {
		background-image: url(../../images/eagle.jpg);
		//background-image: url(../../../images/eagle.jpg);
	}
	
	.parallax-accelerate .full-bg-image {
		background-image: url(../../images/businesswoman.jpg);
		//background-image: url(../../../images/businesswoman.jpg);
	}

	.products-title {
		h1 {
			margin-bottom: 30px;
			color: #fff;
			font-size: 35px;
			font-family: 'Julius Sans One', sans-serif;
			font-weight: 600;
			text-transform: none;
		}
		h3 {
			margin-bottom: 30px;
			color: #fff;
			font-size: 16px;
			font-family: 'Roboto', sans-serif;
			line-height: 1.5em;
			font-weight: 300;
		}
	}
	
	h1 {
		margin: 10px 0 30px 0;
		color: @brand-dtf;
		text-transform: uppercase;
		font-size: 48px;
		font-weight: 100;
		line-height: 1.1em;
	}

	.btn-lg {
		width: 200px;
		margin-top: 15px;
	}

	.products-items {
		padding: 0 5%;
	}

	h2.entry-title {
		font-size: 19px;
		font-weight: 400;
		padding-top: 10px;
	}
	p {
		font-size: 14px;
		line-height: 1.5em;
	}

	.icon {
		text-align: center;
		margin: 19px auto 16px;
	}
	.top {
		width: 125px;
		height: 125px;
		background: @gray-lighter;
		border: 2px solid @gray-lighter;
		border-radius: 100px;
		padding: 39px 1px 0 0;
		position: relative;
		-webkit-transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
		-moz-transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
		transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;

		i {
			font-size: 47px;
			color: #fff;
		}
	}

	.entry {
		padding: 0 10px;
		margin-bottom: 0;
		text-align: center;
		height: auto;
		min-height: 276px;
		background: #fff;
		float: left;

		&:hover {

			.top {
				border: 2px solid  @brand-dtf;
				background: @brand-dtf;

				&:after {
					border: 2px solid white;
					-webkit-transform: scale(1.2);
					-moz-transform: scale(1.2);
					-ms-transform: scale(1.2);
					transform: scale(1.2);
				}
			}
		}

		.top:after {
			position: absolute;
			background: transparent;
			content: '';
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			border-radius: 500px;
			-webkit-transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
			-moz-transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
			transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
		}

		.icon {
			text-align: center;
			margin: 19px auto 16px;
		}

		.bottom i {
			width: 31px;
			height: 31px;
			padding-top: 6px;
			font-size: 20px;
			color: @brand-gray;
			background: transparent;
			border: 1px solid @brand-gray;
			border-radius: 100px;
		}
	}
}

@media (min-width: @screen-sm-min) {
	.about-products {
		.products-title {
			h1 {
				font-size: 56px;
			}
			h3 {
				font-size: 20px;
			}
		}

		.btn-lg {
			&.btn-success {
				margin-left: 20px;
			}
		}
	}
}

@media (min-width: @screen-md-min) {
	.about-products {
	}
}

@media (min-width: @screen-lg-min) {
	.about-products {
		.products-title {
			h1 {
				font-size: 68px;
			}
		}
	}
}


// ------ Purchase CTA Blocks ------ //

.purchase-cta {
	text-align: center;

	h1 {
		color: #fff;
		font-weight: 400;
		font-size: 34px;
	}

	h3 {
		color: #fff;
		font-size: 20px;
		font-family: 'Roboto', sans-serif;
		line-height: 1.5em;
		font-weight: 300;
	}

	.btn {
		margin-top: 30px;
		margin-bottom: 10px;
		height: 60px;
		line-height: 2;
	}
}

@media (min-width: @screen-sm-min) {
	.purchase-cta {
		h1 {
			font-size: 44px;
		}
	}
}

@media (min-width: @screen-md-min) {
	.purchase-cta {
		text-align: left;

		.btn {
			margin-top: 63px;
		}
	}
}


//-----------------------------------------------//
//-------------- Free Product Page --------------//
//-----------------------------------------------//


// ------ Speaker Info Block ------ //

.about-speaker {
	.list li {
		margin-left: 30px;
	}

	.btn-lg {
		margin-top: 24px;
		height: 55px;
		line-height: 1.74;
	}
}


//---------------------------------------------//
//----------------- Blog Page -----------------//
//---------------------------------------------//

.blog {
	&.section {
		padding: 80px 0 100px;
	}

	.tumblr-reader-body img {
		width: 100%;
	}

	.tumblr-reader-title {
		margin-bottom: 15px;
		font-size: 32px;
		color: @brand-gray;
		line-height: 38px;
	}

	.tumblr-reader-post-regular {
		border-bottom: 1px solid #ececec;
		padding-bottom: 50px;
		margin-bottom: 40px;
	}
}

@media (min-width: @screen-md-min) {
	.blog {
		&.section {
			padding: 100px 0;
		}
		
		.tumblr-reader-title {
			font-size: 42px;
			line-height: 44px;
		}
	}
}

//---------------------------------------------------------------//
//----------------- General Membership Elements -----------------//
//---------------------------------------------------------------//


//--------- Signin Form ---------//

.login-wrapper,
.signup-wrapper {
	padding: 60px 0 65px;

	h2 {
		text-transform: uppercase;
		font-size: 44px;
		font-weight: 300;
		color: @brand-dtf;
	}

	.btn-lg {
		padding: 12px 80px;
	}

	label {
		margin-bottom: 3px;
	}
	.button {
		color: @brand-gray;
	}
}

.signup-wrapper {
	.btn-lg {
		margin-top: 20px;
	}
}

.logout-wrapper {
	padding: 80px 0;
}


//--------- Verification Email Pages ---------//

.verify-wrapper {
	padding: 80px 0;

	p {
		margin-bottom: 0;
	}
}

.email-wrapper {
	padding: 80px 0;
}

//--------- Password Change Pages ---------//

.password-wrapper {
	padding: 80px 0;
}

//--------- AYD User Welcome Page ---------//

.user-welcome-wrapper {
	padding: 80px 0;

	.user-detail-box {
		background-color: @brand-gray-bg;
		padding: 40px 30px 50px;
		border-radius: 7px;

		.img-thumbnail {
			margin-right: 20px;
			display: block;
			float: left;
		}
	}

	h1 {
		text-transform: uppercase;
		font-size: 32px;
		font-weight: 300;
		color: @brand-dtf;
	}
}

//--------- User Profile Form ---------//

.user-form-wrapper {
	padding: 80px 0;

	label {
		margin-bottom: 3px;
	}
	.btn-lg {
		margin-top: 20px;
		padding: 12px 80px;
	}

	.form-horizontal .form-group {
		margin-left: 0;
		margin-right: 0;
	}
}

//--------- Avatar Change ---------//

.avatar-wrapper {
	padding: 80px 0;
}

//--------- User Account Emails ---------//

.acct-email-wrapper {
	padding: 80px 0;

	.buttonHolder {
		padding: 5px 0 20px;
	}

	.verified {
		color: @brand-dtf;
	}
	.unverified {
		color: @brand-danger;
	}

	.separator {
		padding: 0 5px;
	}
}

//--------- Users List ---------//

.user-list-wrapper {
	padding: 80px 0;

	h2 {
		font-size: 36px;
	}

	.img-thumbnail {
		margin-right: 20px;
	}
}

//------------------------------------------------//
//----------------- Nufiles Page -----------------//
//------------------------------------------------//

.nufiles {
	padding: 60px 0;

	.section-title {
		margin-bottom: 40px;

		&:after {
			display: none;
		}
	}

	.media {
		margin-top: 0;
	}

	.nufiles-list {
		background-color: @brand-gray-bg;
		padding: 40px 3%;
		border-radius: 7px;
		margin-bottom: 40px;

		&:last-child {
			margin-bottom: 20px;
		}
	}

	.nufiles-heading {
		font-size: 24px;
	}

	.nufiles-description {
		font-size: 16px;
	}
}

