//-------------------------------------------------------------------------//
//--------------------------------- ZAK'S ---------------------------------//
//---------------------------------- LESS ---------------------------------//
//--------------------------------- STYLES --------------------------------//
//-------------------------------------------------------------------------//

//--------------------------------------//
//--------- Universal Styles -----------//
//--------------------------------------//

// ------ Background Colors ------ //
.bg-transparent.section { background-color: transparent; }
.bg-white { background-color: #fff; }

// Links
// ---------------------------------------
a:hover { text-decoration: none; }
a,
.btn {
	-webkit-transition: color .25s ease, background-color .25s ease, border .25s ease, box-shadow .25s ease;
	-moz-transition: color .25s ease, background-color .25s ease, border .25s ease, box-shadow .25s ease;
	transition: color .25s ease, background-color .25s ease, border .25s ease, box-shadow .25s ease;
}

// ------ Image Thumbnail ------ //
.thumbnail > img { border-radius: 0; }

// ------ Pager ------ //
ul.pager {
	.previous,
	.next {
		a {
			font-weight: 400;
			color: #fff;
			background-color: @brand-dtf;
			border-color: @brand-dtf;
			i { color: #fff; }
			&:hover {
				background-color: darken(@brand-dtf, 8%);
				border-color: darken(@brand-dtf, 8%);
			}
		}
		&.disabled a, {
			color: @gray-light;
			background-color: @gray-lighter;
			border-color: @gray-lighter;
			i { color: @gray-light; }
		}
	}
}

// ------ Buttons ------ //
.btn { font-weight: 300;}
.btn-success:hover { background-color: @brand-dtf-dark; }
.btn-danger:hover { background-color: @brand-danger-dark; }
.btn-default {
	color:  @brand-dtf;
	border: 2px solid  @brand-dtf;
	background: transparent;
	&:hover {
		color: @brand-gray;
		border: 2px solid @brand-gray;
		background: transparent;
	}
}

// ------ D2F Community CTA Block ------ //
.community-cta {
	text-align: center;
	&.bg-dark-color .full-bg-image { opacity: 0.8; }
	&.parallax-clouds .full-bg-image {
		background-image: url(../../images/clouds.jpg);
		//background-image: url(../../../images/clouds.jpg);
	}
	.title {
		margin-bottom: 30px;
		color: #fff;
		font-size: 35px;
		font-family: 'Julius Sans One', sans-serif;
		text-transform: uppercase;
	}
	.subtitle {
		margin-bottom: 30px;
		color: #fff;
		line-height: 1.5em;
		font-weight: 300;
	}
	.btn-lg {
		width: 200px;
		margin-top: 15px;
	}
}
@media (min-width: @screen-sm-min) {
	.community-cta {
		.title { font-size: 60px; }
		.btn-lg {
			&.btn-success { margin-left: 20px; }
		}
	}
}

// ------ Free Product CTA Block ------ //
.free-product-cta {
	a {
		color: @brand-dtf;
		&:hover { color: @brand-gray; }
	}
	.main-entry {
		padding-bottom: 0;
		border-bottom: none;
		.entry-image {
			margin-bottom: 20px;
			.title {
				color: #fff;
				font-size: 28px;
			}
		}
	}
}
@media (min-width: @screen-md-min) {
	.free-product-cta {
		.entry-image .title { font-size: 24px; }
	}
}
@media (min-width: @screen-lg-min) {
	.free-product-cta {
		.entry-image .title { font-size: 28px; }
	}
}

//--------------------------------------//
//-------------- Homepage --------------//
//--------------------------------------//

// ------Welcome Block ------ //
.welcome-home {
	.section {
		padding-top: 40px;
		padding-bottom: 0;
	}
	.full-bg-image {
		background-image: url(../../images/decide-to-fly-home-banner.jpg);
		//background-image: url(../../../images/decide-to-fly-home-banner.jpg);
	}
	.content { margin-bottom: 60px; }
	.video-wrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		margin-bottom: 20px;
		height: 0;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			box-shadow: 0px 0px 10px 0px fadeout(#000, 30%);
		}
	}
	img.swoosh { margin-bottom: -7px; }
}
@media (min-width: @screen-sm-min) {
	.welcome-home {
		.section { padding-top: 100px; }
	}
}


// ------ D2F Community Intro Block ------ //
.community {
	padding-bottom: 40px;
	.community-items { padding: 0 5%; }
	.entry-title {
		font-size: 19px;
		font-weight: 400;
	}
	.entry-body {
		font-size: 14px;
		line-height: 1.5em;
		color: @gray;
	}
	.icon {
		text-align: center;
		margin: 19px auto 16px;
	}
	.top {
		width: 70px;
		height: 70px;
		background: transparent;
		border: 2px solid @brand-gray;
		border-radius: 100px;
		padding: 20px 0;
		position: relative;
		i {
			font-size: 30px;
			color: @brand-gray;	
		}
	}
	.entry {
		padding: 10px 20px;
		margin-bottom: 10px;
		text-align: center;
		height: auto;
		min-height: 276px;
		background: #fff;
		border-radius: 10px;
		float: left;
		cursor: pointer;
		-webkit-transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
		-moz-transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
		transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
		&:hover {
			background:  @brand-dtf;
			color: #fff;
			.entry-title,
			.entry-body { color: #fff; }
			.top {
				border: 2px solid  @brand-dtf;
				background: #fff;
				i { color: @brand-dtf; }
				&:after {
					border: 2px solid white;
					-webkit-transform: scale(1.2);
					-moz-transform: scale(1.2);
					-ms-transform: scale(1.2);
					transform: scale(1.2);
				}
			}
			.bottom i {
				border: 1px solid #fff;
				color: #fff;
			}
		}
		.top:after {
			position: absolute;
			background: transparent;
			content: '';
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			border-radius: 500px;
			-webkit-transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
			-moz-transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
			transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
		}
		.icon {
			text-align: center;
			margin: 19px auto 16px;
			&.top { margin-top: 23px; }
		}
		.bottom i {
			width: 31px;
			height: 31px;
			padding-top: 6px;
			font-size: 20px;
			color: @brand-gray;
			background: transparent;
			border: 1px solid @brand-gray;
			border-radius: 100px;
		}
	}
}

//--------------------------------------//
//------------- About Page -------------//
//--------------------------------------//

// ------ About D2F Block ------ //
.about-d2f {
	.item-02 { margin-top: 60px; }
}

// ------ Testimonials Block ------ //
.testimonials {
	li blockquote { font-size: 18px; }
}
@media (min-width: @screen-sm-min) {
	.testimonials {
		li blockquote { font-size: 24px; }
	}
}

// ------ D2F Team Block ------ //
.team {
	.team-nav { visibility: hidden; }
	.team-contents { width: 100%; }
	.contents { width: 100%; }
	.team-entry {
		padding: 20px 20px;
		width: 100%;
	}
	.team-plus-icon .curtain {
		-webkit-transition: none;
		-moz-transition: none;
		transition: none;
	}
	.team-plus-icon:hover .curtain { margin-left: -200px; }
	.single-image.team-img { cursor: default; }
	.team-member article {
		margin: 0 0 40px;
		width: 100%;
		.team-group {
			border: 1px solid #e0e0e0;
			background-color: #fff;
		}
		&:hover {
			.team-group {
				border: 1px solid #e0e0e0;
				background-color: #fff;
			}
			.team-title { color: @brand-gray; }
			.team-position { color: #aeaeae; }
		}
	}
	.team-info { width: 100%; }
	.team-image {
		width: 40%;
		margin-right: 3%;
	}
	.team-group { width: 57%; }
	.team-content {
		margin: 0;
		display: table;
		width: 100%;
	}
	.team-title { font-size: 20px; }
}

@media (min-width: @screen-sm-min) {
	.team {
		.team-info { width: 250px; }
		.team-image {
			width: 100%;
			margin-right: 0;
		}
		.team-group { width: 100%; }
		.team-content {
			margin-left: 260px;
			display: block;
			width: auto;
		}
		.team-member article { margin: 0 20px 40px; }
		.team-title { font-size: 24px; }
	}
}

@media (min-width: @screen-md-min) {
	.team {
		.team-contents { width: 50000px;}
		.contents { width: 250px;}
		.team-plus-icon .curtain {
			-webkit-transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
			-moz-transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
			transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
		}
		.team-plus-icon:hover .curtain { margin-left: 0; }
		.single-image.team-img { cursor: pointer; }
		.team-member article {
			margin: 0 20px;
			width: auto;
			&:hover {
				.team-group {
					border-color: transparent;
					background-color:  @brand-dtf;
				}
				.team-title,
				.team-position { color: #fff; }
			}
		}
	}
}

//------------------------------------------------------//
//----------------- D2F Community Page -----------------//
//------------------------------------------------------//

// ------ About Community Block ------ //
.about-community {
	.btn-lg {
		height: 60px;
		margin-top: 80px;
		line-height: 36px;
	}
	.about-left li,
	.about-right li  {
		line-height: 1.4em;
		height: 64px;
	}
	.about-left { text-align: right; }
}
.about-content { background: none; }
.about-left li,
.about-right li {
	text-align: center;
	padding: 80px 0 100px;
}
.about-item-1 {
	background: url(../../images/icons/comments.png) center top no-repeat;
	//background: url(../../../images/icons/comments.png) center top no-repeat;
}
.about-item-2 {
	background: url(../../images/icons/notebook.png) center top no-repeat;
	//background: url(../../../images/icons/notebook.png) center top no-repeat;
	margin: 0;
}
.about-item-3 {
	background: url(../../images/icons/camera.png) center top no-repeat;
	//background: url(../../../images/icons/camera.png) center top no-repeat;
}
.about-item-4 {
	background: url(../../images/icons/users.png) center top no-repeat;
	//background: url(../../../images/icons/users.png) center top no-repeat;
}
.about-item-5 {
	background: url(../../images/icons/calendar.png) center top no-repeat;
	//background: url(../../../images/icons/calendar.png) center top no-repeat;
	margin: 0;
}
.about-item-6 {
	background: url(../../images/icons/film.png) center top no-repeat;
	//background: url(../../../images/icons/film.png) center top no-repeat;
}
@media (min-width: @screen-md-min) {
	.about-community {
		.about-left li,
		.about-right li {
			text-align: center;
			padding: 80px 0;
		}
		.about-content {
			background: url(../../images/mandala.png) center top no-repeat;
			//background: url(../../../images/mandala.png) center top no-repeat;
			margin-bottom: 20px;
			background-position-y: 20px;
		}
		.about-left li {
			text-align: right;
			padding: 0 80px 0 0;
		}
		.about-right li {
			text-align: left;
			padding: 0 0 0 80px;
		}
		.about-item-1 {
			background: url(../../images/icons/comments.png) right top no-repeat;
			//background: url(../../../images/icons/comments.png) right top no-repeat;
			margin-bottom: 60px;
		}
		.about-item-2 {
			background: url(../../images/icons/notebook.png) right top no-repeat;
			//background: url(../../../images/icons/notebook.png) right top no-repeat;
			margin: 0 50px 60px 0;
		}
		.about-item-3 {
			background: url(../../images/icons/camera.png) right top no-repeat;
			//background: url(../../../images/icons/camera.png) right top no-repeat;
		}
		.about-item-4 {
			background: url(../../images/icons/users.png) left top no-repeat;
			//background: url(../../../images/icons/users.png) left top no-repeat;
			margin-bottom: 60px;
		}
		.about-item-5 {
			background: url(../../images/icons/calendar.png) left top no-repeat;
			//background: url(../../../images/icons/calendar.png) left top no-repeat;
			margin: 0 0 60px 50px;
		}
		.about-item-6 {
			background: url(../../images/icons/film.png) left top no-repeat;
			//background: url(../../../images/icons/film.png) left top no-repeat;
		}
	}
}


//-----------------------------------------------------------------------//
//----------- Courage to Soar / Accelerate Your Destiny Pages -----------//
//-----------------------------------------------------------------------//


// ------ About VM Products Blocks ------ //

.about-products {
	.bg-dark-color .full-bg-image {
		opacity: 0.8;
	}
	.parallax-courage .full-bg-image {
		background-image: url(../../images/eagle.jpg);
		//background-image: url(../../../images/eagle.jpg);
	}
	.parallax-accelerate .full-bg-image {
		background-image: url(../../images/businesswoman.jpg);
		//background-image: url(../../../images/businesswoman.jpg);
	}
	.btn-lg {
		width: 200px;
		margin-top: 15px;
	}
	.products-items { padding: 0 5%; }
	.entry-title {
		font-size: 19px;
		font-weight: 400;
		padding-top: 10px;
	}
	.entry-body { line-height: 1.3em; }
	.icon {
		text-align: center;
		margin: 19px auto 16px;
	}
	.top {
		width: 125px;
		height: 125px;
		background: @gray-lighter;
		border: 2px solid @gray-lighter;
		border-radius: 100px;
		padding: 39px 1px 0 0;
		position: relative;
		-webkit-transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
		-moz-transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
		transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
		i {
			font-size: 47px;
			color: #fff;
		}
	}
	.entry {
		padding: 0 10px;
		margin-bottom: 0;
		text-align: center;
		height: auto;
		min-height: 276px;
		background: #fff;
		float: left;
		&:hover {

			.top {
				border: 2px solid  @brand-dtf;
				background: @brand-dtf;

				&:after {
					border: 2px solid white;
					-webkit-transform: scale(1.2);
					-moz-transform: scale(1.2);
					-ms-transform: scale(1.2);
					transform: scale(1.2);
				}
			}
		}
		.top:after {
			position: absolute;
			background: transparent;
			content: '';
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			border-radius: 500px;
			-webkit-transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
			-moz-transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
			transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
		}
		.icon {
			text-align: center;
			margin: 19px auto 16px;
		}
		.bottom i {
			width: 31px;
			height: 31px;
			padding-top: 6px;
			font-size: 20px;
			color: @brand-gray;
			background: transparent;
			border: 1px solid @brand-gray;
			border-radius: 100px;
		}
	}
}

// ------ Basic Call-to-Action ------ //
.basic-cta {
	.btn {
		margin-top: 30px;
		margin-bottom: 10px;
		height: 60px;
		line-height: 2;
	}
}
@media (min-width: @screen-md-min) {
	.basic-cta {
		.btn { margin-top: 63px; }
	}
}

//-----------------------------------------------//
//-------------- Free Product Page --------------//
//-----------------------------------------------//

// ------ Speaker Info Block ------ //
.about-speaker {
	.list li { margin-left: 30px; }
	.btn-lg {
		margin-top: 24px;
		height: 55px;
		line-height: 1.74;
	}
}

//---------------------------------------------//
//----------------- Blog Page -----------------//
//---------------------------------------------//

.blog {
	&.section { padding: 80px 0 100px; }
	.tumblr-reader-body img { width: 100%;}
	.tumblr-reader-title {
		margin-bottom: 15px;
		font-size: 32px;
		color: @brand-gray;
		line-height: 38px;
	}
	.tumblr-reader-post-regular {
		border-bottom: 1px solid #ececec;
		padding-bottom: 50px;
		margin-bottom: 40px;
	}
}
@media (min-width: @screen-md-min) {
	.blog {
		&.section { padding: 100px 0; }
		.tumblr-reader-title {
			font-size: 42px;
			line-height: 44px;
		}
	}
}

//---------------------------------------------------------------//
//----------------- General Membership Elements -----------------//
//---------------------------------------------------------------//

//--------- Member Form Pages ---------//
.login-wrapper,
.signup-wrapper,
.logout-wrapper,
.verify-wrapper,
.email-wrapper,
.password-wrapper,
.avatar-wrapper {
	padding: 60px 0 65px;
}

//--------- AYD User Welcome Page ---------//
.user-welcome-wrapper {
	padding: 80px 0;
	.user-detail-box {
		background-color: @brand-gray-bg;
		padding: 40px 30px 50px;
		border-radius: 7px;
		.img-thumbnail {
			margin-right: 20px;
			display: block;
			float: left;
		}
	}
}

//--------- User Profile Form ---------//
.user-form-wrapper {
	padding: 80px 0;
	.btn-lg {
		margin-top: 20px;
		padding: 12px 80px;
	}
	.form-horizontal .form-group {
		margin-left: 0;
		margin-right: 0;
	}
}

//--------- User Account Emails ---------//
.acct-email-wrapper {
	padding: 80px 0;
	.buttonHolder { padding: 5px 0 20px; }
	.verified { color: @brand-dtf; }
	.unverified { color: @brand-danger; }
	.separator { padding: 0 5px; }
}

//--------- Users List ---------//
.user-list-wrapper {
	padding: 80px 0;
	.img-thumbnail { margin-right: 20px; }
}

//------------------------------------------------//
//----------------- Nufiles Page -----------------//
//------------------------------------------------//

.nufiles {
	padding: 60px 0;
	.section-title {
		margin-bottom: 40px;
		&:after { display: none; }
	}
	.media { margin-top: 0; }
	.nufiles-list {
		background-color: @brand-gray-bg;
		padding: 40px 3%;
		border-radius: 7px;
		margin-bottom: 40px;
		&:last-child { margin-bottom: 20px; }
	}
	.nufiles-heading { font-size: 24px; }
	.nufiles-description { font-size: 16px; }
}

