{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Delete Password" %}{% endblock %}

{% block content %}
<section class="password-wrapper">
	<div class="container">
	  <div class="row">
	    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		    <h2>{% trans "Delete Password" %}</h2>
		    <p>{% blocktrans %}You may delete your password since you are currently logged in using OpenID.{% endblocktrans %}</p>
		    <form method="post" action="">
		        {% csrf_token %}
		        <button class="btn btn-danger btn-md" type="submit">{% trans "Delete My Password" %}</button>
		    </form>
	    </div>
	  </div>
	</div>
</section>
{% endblock %}
