{% extends "base.html" %}
{% load static thumbnail markdown %}

{% block nav_secondary %}
<li>
  <a href="{% url 'affiliates:partner_list' %}">
  <i class="fa fa-arrow-left"></i> &nbsp; Resources
  </a>
</li>
{% endblock nav_secondary %}

{% block content %}
<section class="course-detail">
  <div class="col-md-6 bg-turquoise-color">
    <div class="course-info">
      <h1>{{ object.name }}</h1>
      <hr>               
      <p>{{ object.description|markdown }}</p>
    </div><!--/ .course-info-->
  </div><!--/ .col-md-6-->
  <div class="col-md-6 bg-white">

    <div class="list-group lessons">
      {% for product in object.products.active %}
        {% include "affiliates/partner_product_card.html" %}
      {% endfor %}
    </div><!--/ .list-group-->
  </div><!--/ .col-md-6-->
  <div class="clearfix"></div>
</section><!--/ .course-detail-->

{% endblock %}