{% extends "facebook_groups/base.html" %}
{% load staticfiles i18n %}

{% block title %}{{ facebook_group.name }}{{ block.super }}{% endblock title %}

{% block css %}
{{ block.super }}
<style>
.facebook-feed .fb-post .img-profile {
	max-width: 64px;
}
</style>
{% endblock css %}
{% block content %}
<section class="facebook-feed">
<div class="container">
	<h1 class="page-header"><img src="{{ facebook_group.icon }}">{{ facebook_group.name }}</h1>
	<p class="lead">{{ facebook_group.description }}</p>
	<div class="clearfix"></div>
	{% for post in feed.data %}
		<div id="post-{{ post.id }}" class="media fb-post">
			<a data-fbuser="{{ post.from.id }}" class="pull-left img-profile">
				<img src="http://graph.facebook.com/{{ post.from.id }}/picture?width=64&height=64" class="img-responsive">
			</a>
			<div class="media-body">
				<h4 class="media-heading">{{ post.from.name }}</h4>
				{% if post.picture %}
					<img src="{{ post.picture }}" class="img-responsive">
				{% endif %}
				<p>{{ post.message }}</p>
				{% if post.comments.data %}
					{% for comment in post.comments.data %}
						<div id="comment-{{ comment.id }}" class="media fb-post">
							<a data-fbuser="{{ comment.from.id }}" class="pull-left img-profile">
								<img src="http://graph.facebook.com/{{ comment.from.id }}/picture?width=64&height=64">
							</a>
							<div class="media-body">
								<h4 class="media-heading">{{ comment.from.name }}</h4>
								<p>{{ comment.message }}</p>
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	{% endfor %}
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<ul class="pager">
			  <li class="previous"><a href="{% url 'facebook_groups:feed' facebook_group.fb_uid %}?page={{ feed.paging.next|urlencode }}">&larr; Older</a></li>
			  <li class="next"><a href="{% url 'facebook_groups:feed' facebook_group.fb_uid %}?page={{ feed.paging.previous|urlencode }}">Newer &rarr;</a></li>
			</ul>
		</div>
	</div>
</div>
</section>
{% endblock content %}