{% extends 'lessons/base.html' %}
{% load crispy_forms_tags staticfiles %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'js/uploader/css/jquery.fileupload.css' %}">
<link rel="stylesheet" href="{% static 'js/uploader/css/jquery.fileupload-ui.css' %}">
{% endblock css %}
{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/uploader/js/jquery.iframe-transport.js' %}"></script>
<script type="text/javascript" src="{% static 'js/uploader/js/jquery.fileupload.js' %}"></script>
{% endblock javascript %}


{% block content %}
<div class="container">
    <div class="row">
        {% crispy form %}
    </div>
</div>
{% endblock content %}

        