{% extends "base.html" %}
{% load avatar_tags %}
{% load static %}

{% block title %}{{ object.username }} | Decide to Fly{% endblock %}

{% block content %}
<div class="user-detail-wrapper">
  <div class="container">

    <div class="row">
      <div class="col-md-6">
        <h2>User: {{ object.username }}</h2>

        {% if object == request.user %}
          <!-- Action buttons -->
            <a class="btn btn-danger" href="{% url 'users:update' %}">My Info</a>
            <a class="btn btn-success" href="{% url 'account_email' %}">E-Mail</a>
            <a class="btn btn-success" href="{% url 'avatar_change' %}">Avatar</a>
          <!-- Your Stuff: Custom user template urls -->
          <!-- End Action buttons -->
        {% endif %}
      </div>

      <div class="col-md-6">
        <h2>Welcome to Accelerate Your Destiny!</h2>
      </div>
    </div>

  </div>
</div>
{% endblock content %}
