{% extends "base.html" %}
{% load avatar_tags %}
{% load staticfiles i18n %}

{% block title %}{{ object.username }} | Decide to Fly{% endblock %}

{% block content %}
<section class="user-welcome-wrapper">
  <div class="container">

    <div class="row">
      <div class="col-md-5">
        <div class="user-detail-box">

          {% avatar user %}
          <h2>Hello, {{ object.username }}!</h2>

          {% if object == request.user %}
            <div class="">
              <!-- Action buttons -->
                <a class="btn btn-info" href="{% url 'users:update' %}">My Info</a>
                <a class="btn btn-success" href="{% url 'account_email' %}">Email</a>
                <a class="btn btn-success" href="{% url 'avatar_change' %}">Profile Picture</a>
              <!-- Your Stuff: Custom user template urls -->
              <!-- End Action buttons -->
            </div>
          {% endif %}

        </div>
      </div>

      <div class="col-md-7">
        <h1>Welcome to Accelerate Your Destiny!</h1>
        <p>Donec semper id sapien ac feugiat. Proin turpis eros, pharetra lacinia accumsan sed, imperdiet in nisl. Sed aliquam sem mauris, ac elementum velit pretium vitae. Aenean ac odio eu odio lacinia accumsan.</p>
        <a class="btn btn-danger btn-lg" href="{% url 'nufiles:list' %}">View All Sessions</a>
      </div>
    </div>

  </div>
</section>
{% endblock content %}
