{% extends "base.html" %}
{% load staticfiles i18n %}

{% block title %}Blog | Decide to Fly{% endblock title %}

{% block content %}
<div id="wrapper">
	
	<section id="blog" class="section">
	
		<div id="content">

			<div class="container">
				
				<div class="row">
					<div class="col-xs-12">
						<div class="section-title first-title align-center">
							<h1>Bird's Eye View</h1>
							<h2>A blog that will show you how tincidunt leo magna, non sodales est tincidunt aliquam.</h2>
						</div>	
					</div>
				</div><!--/ .row-->

				<div class="row">

					<section id="main" class="col-md-8">

						<article class="entry main-entry">

							<div class="entry-meta">
								<span class="date"><a href="#">15.11.2013</a></span>
								<span>by <a href="#">Jami Amidon</a></span>							
								<span>0 Comments</span>
							</div><!--/ .entry-meta-->

							<h2 class="entry-title">
								<a href="{% url 'blog-single' %}">A Post With No Image...</a>
							</h2><!--/ .entry-title-->

							<div class="entry-body">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut lacus at velit consequat sodales. Ut posuere neque in molestie gravida. Integer feugiat neque, elementum posuere purus.  Nam vitae convallis ipsum. Maecenas a vulputate ipsum, vestibulum lobortis enim...</p>
							</div><!--/ .entry-body-->
							
							<a href="{% url 'blog-single' %}"><div class="btn btn-md btn-success">Read More</div></a>
							
							<span class="tags">
								<a href="#">Gallery</a>
								<a href="#">Post</a>
							</span><!--/ .tags-->

						</article><!--/ .entry-->

						<article class="entry main-entry">

							<div class="entry-image">
								<div class="work-item">
									<img src="{% static 'images/blog/iceland.jpg' %}" alt="" />
									<div class="image-extra">
										<div class="extra-content">
											<div class="inner-extra">
												<a class="single-image link-icon" href="{% url 'blog-single' %}"></a>
												<a class="single-image plus-icon" data-fancybox-group="blog" href="{% static 'images/blog/iceland.jpg' %}"></a>	
											</div><!--/ .inner-extra-->	
										</div><!--/ .extra-content-->
									</div><!--/ .image-extra-->	
								</div><!--/ .work-item-->	
							</div><!--/ .entry-image-->

							<div class="entry-meta">
								<span class="date"><a href="#">15.11.2013</a></span>
								<span>by <a href="#">Jami Amidon</a></span>							
								<span>0 Comments</span>
							</div><!--/ .entry-meta-->

							<h2 class="entry-title">
								<a href="{% url 'blog-single' %}">Your Standard Post with an Image</a>
							</h2><!--/ .entry-title-->

							<div class="entry-body">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut lacus at velit consequat sodales. Ut posuere neque in molestie gravida. Integer feugiat neque, elementum posuere purus. Nam vitae convallis ipsum. Maecenas a vulputate ipsum, vestibulum lobortis enim...</p>
							</div><!--/ .entry-body-->
							
							<a href="{% url 'blog-single' %}"><div class="btn btn-md btn-success">Read More</div></a>
							
							<span class="tags">
								<a href="#">Gallery</a>
								<a href="#">Post</a>
							</span><!--/ .tags-->

						</article><!--/ .entry-->	
						
						<article class="entry main-entry">

							<div class="entry-image">
								<iframe width="770" height="490" src="http://www.youtube.com/embed/qGsTlYLbwy4?wmode=transparent" frameborder="0" allowfullscreen></iframe>
							</div><!--/ .entry-image-->

							<div class="entry-meta">
								<span class="date"><a href="#">15.11.2013</a></span>
								<span>by <a href="#">Jami Amidon</a></span>							
								<span>0 Comments</span>
							</div><!--/ .entry-meta-->

							<h2 class="entry-title">
								<a href="{% url 'blog-single' %}">Here's a Post with a Video</a>
							</h2><!--/ .entry-title-->

							<div class="entry-body">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut lacus at velit consequat sodales. Ut posuere neque in molestie gravida. Integer feugiat neque, elementum posuere purus.  Nam vitae convallis ipsum. Maecenas a vulputate ipsum, vestibulum lobortis enim...</p>
							</div><!--/ .entry-body-->
							
							<a href="{% url 'blog-single' %}"><div class="btn btn-md btn-success">Read More</div></a>
							
							<span class="tags">
								<a href="#">Gallery</a>
								<a href="#">Post</a>
							</span><!--/ .tags-->

						</article><!--/ .entry-->
						
						<article class="entry main-entry">

							<div class="entry-image">
								<div class="work-item">
									<img src="{% static 'images/blog/women-jump-ribbons.jpg' %}" alt="" />
									<div class="image-extra">
										<div class="extra-content">
											<div class="inner-extra">
												<a class="single-image link-icon" href="{% url 'blog-single' %}"></a>
												<a class="single-image plus-icon" data-fancybox-group="blog" href="{% static 'images/blog/women-jump-ribbons.jpg' %}"></a>	
											</div><!--/ .inner-extra-->	
										</div><!--/ .extra-content-->
									</div><!--/ .image-extra-->	
								</div><!--/ .work-item-->	
							</div><!--/ .entry-image-->

							<div class="entry-meta">
								<span class="date"><a href="#">01.14.2014</a></span>
								<span>by <a href="#">Jami Amidon</a></span>							
								<span>3 Comments</span>
							</div><!--/ .entry-meta-->

							<h2 class="entry-title">
								<a href="{% url 'blog-single' %}">The Order That Determines the Outcome</a>
							</h2><!--/ .entry-title-->

							<div class="entry-body">
								<p>I wanted to take a moment to share a power moment of understanding that my most recent Let Go and Live Group experienced. It was a moment of understanding why we are spiraling out of control emotionally, when we are feeling like we just cant stop the spinning and don’t know what to do to get ourselves together...</p>
							</div><!--/ .entry-body-->
							
							<a href="{% url 'blog-single' %}"><div class="btn btn-md btn-success">Read More</div></a>
							
							<span class="tags">
								<a href="#">Gallery</a>
								<a href="#">Post</a>
							</span><!--/ .tags-->

						</article><!--/ .entry-->
						
						<div class="pagenavi">
							<span class="page-numbers current">1</span>
							<a href="#" class="page-numbers">2</a>
							<a href="#" class="page-numbers">3</a>
							<a href="#" class="page-numbers">4</a>
							<a href="#" class="page-numbers">5</a>
							<a href="#" class="page-numbers">6</a>
						</div><!--/ .pagenavi-->						

					</section><!--/ #main-->

					<aside id="sidebar" class="col-md-4">
						
						<div class="widget widget_search">
							
							<form action="/" id="searchform" method="get">
								<p>
									<input placeholder="Search" type="text" value="" name="s">
									<button class="submit-search" type="submit">Search</button>	
								</p>
							</form>	
							
						</div><!--/ .widget-->

						<div class="widget widget_tag_cloud">
							
							<h3 class="widget-title">Tags</h3>
							
							<div class="tagcloud">
								<a href="#">Web</a>
								<a href="#">Video</a>
								<a href="#">Business</a>
							</div>
							
						</div><!--/ .widget-->

						<div class="widget widget_recent_posts">
	
							<h3 class="widget-title">Recent Posts</h3>
				
							<section>

								<article class="entry"> 
									
									<div class="entry-image">
										<a href="#" class="single-image">
											<img src="{% static 'images/blog/thumbs/iceland.jpg' %}" />
										</a>	
									</div><!--/ .entry-image-->
									
									<div class="post-holder">
										<div class="entry-meta">
											<span class="date"><a href="#">15.11.2013</a></span>
											<span>0 Comments</span>
										</div><!--/ .entry-meta-->
										<h6 class="entry-title">
											<a href="{% url 'blog-single' %}">Your Standard Post with an Image</a>
										</h6>
									</div><!--/ .post-holder-->
									
								</article><!--/ .entry-->

								<article class="entry"> 
									
									<div class="entry-image">
										<a href="#" class="single-image">
											<img alt="" src="{% static 'images/blog/thumbs/women-jump-ribbons.jpg' %}" />
										</a>	
									</div><!--/ .entry-image-->
									
									<div class="post-holder">
										<div class="entry-meta">
											<span class="date"><a href="#">01.14.2014</a></span>
											<span>3 Comments</span>
										</div><!--/ .entry-meta-->
										<h6 class="entry-title">
											<a href="{% url 'blog-single' %}">The Order That Determines the Outcome</a>
										</h6>
									</div><!--/ .post-holder-->
									
								</article><!--/ .entry-->

								<article class="entry"> 
									
									<div class="entry-image">
										<a href="#" class="single-image">
											<img alt="" src="{% static 'images/blog/thumbs/kitten.jpg' %}" />
										</a>	
									</div><!--/ .entry-image-->
									
									<div class="post-holder">
										<div class="entry-meta">
											<span class="date"><a href="#">15.11.2013</a></span>
											<span>0 Comments</span>
										</div><!--/ .entry-meta-->
										<h6 class="entry-title">
											<a href="{% url 'blog-single' %}">Everybody Loves Kittens!!!</a>
										</h6>
									</div><!--/ .post-holder-->
									
								</article><!--/ .entry-->
					
							</section>
		
						</div><!--/ .widget-->
						
						<div class="widget widget_latest_tweets">
							
							<h3 class="widget-title">Latest Tweet</h3>
							
							<div class="sidebar-tweet"></div>
							
						</div><!--/ .widget-->

					</aside><!--/ #sidebar-->		

				</div><!--/ .row-->

			</div><!--/ .container-->

		</div><!--/ #content-->
		
	</section><!--/ .section-->
	
</div><!--/ #wrapper-->


<!-- - - - - - - - - - - - - end Wrapper - - - - - - - - - - - - - - - -->

{% endblock content %}