{% extends "pages/base.html" %}
{% load staticfiles i18n %}

{% block title %}About{{ block.super }}{% endblock title %}

{% block content %}
<!-- - - - - - - - - - - - - Wrapper - - - - - - - - - - - - - - - -->
<div id="wrapper">
	
	<section class="about-d2f"><!-- - - - - - - - ABOUT D2F BLOCK - - - - - - - -->
		<section class="section">
			<div class="container">

				<div class="row">
					<div class="col-xs-12">
						<div class="slogan align-center">
							<h1>Why <span>Decide to Fly&trade;</span>?</h1>
							<h2>Vivamus eget rhoncus purus. Proin non urna ligula. Nunc scelerisque, nunc eget placerat feugiat, arcu quam fringilla mauris, quis blandit diam neque posuere nulla. Aliquam scelerisque diam ut fermentum bibendum. Ut sed ullamcorper nibh. Praesent sit amet molestie lectus, non faucibus tellus.</h2>
						</div><!--/ .slogan-->
					</div><!--/ .col-xs-12-->
				</div><!--/ .row-->

				<div class="row">
					<div class="col-md-6 col-md-push-6 ">
						<p><img src="{% static 'images/woman-run-banner.jpg' %}" alt="Jami Amidon" /></p>
					</div>

					<div class="col-md-6 col-md-pull-6">
						<h3>Company Bio</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat justo id tristique fringilla. Sed tempor, dolor eget scelerisque pretium, leo dui laoreet ligula, vitae convallis lorem ligula et velit.</p>
						<p>Proin vitae nulla at ligula tempor vulputate. Proin vehicula porttitor libero vel molestie. Quisque et convallis nunc. In ut semper magna. Duis ac lectus ac sapien consectetur faucibus et eu dolor. Pellentesque molestie ipsum sem, sit amet posuere nulla ultrices quis. Praesent lacinia tincidunt euismod. Proin mollis fringilla ligula non facilisis.</p>
					</div>
				</div><!--/ .row-->

				<div class="row item-02">
					<div class="col-md-6">
						<p><img src="{% static 'images/d2f-ventana.jpg' %}" alt="Jami Amidon" /></p>
					</div>

					<div class="col-md-6">
						<h3>Our Mission</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat justo id tristique fringilla. Sed tempor, dolor eget scelerisque pretium, leo dui laoreet ligula, vitae convallis lorem ligula et velit.</p>
						<p>Proin vitae nulla at ligula tempor vulputate. Proin vehicula porttitor libero vel molestie. Quisque et convallis nunc. In ut semper magna. Duis ac lectus ac sapien consectetur faucibus et eu dolor. Pellentesque molestie ipsum sem, sit amet posuere nulla ultrices quis. Praesent lacinia tincidunt euismod. Proin mollis fringilla ligula non facilisis.</p>
					</div>
				</div><!--/ .row-->

			</div><!--/ .container-->
		</section><!--/ .section-->	
	</section><!-- - - - - - - - /ABOUT D2F BLOCK - - - - - - - -->
		

	<section class="testimonials section parallax parallax-bg-1 bg-turquoise-color"><!-- - - - - - - - TESTIMONIALS BLOCK - - - - - - - -->
		<div class="full-bg-image"></div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					
					<ul class="quotes" data-timeout="6000">

						<li class="align-center">
							<blockquote class="quote-text">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut aliquet leo sapien bibendum Aenean sit amet tempor augue.</p>
							</blockquote>

							<div class="quote-image"><img alt="Jack Black" src="http://placehold.it/70x70"></div>
							<div class="quote-author"><span>Jack Black, Web Designer</span></div>
						</li>

						<li class="align-center">
							<blockquote class="quote-text">
								<p>Consecetur adipiscing donec ipsum, loboris convallis rutrum culis. Aliquam vitae odio elit nullam condimentum varius. Consecetur adipiscing donec ipsum, loboris.</p>
							</blockquote>

							<div class="quote-image"><img alt="Jack Black" src="http://placehold.it/70x70"></div>
							<div class="quote-author"><span>Amanda Black, Web Designer</span></div>
						</li>

					</ul><!--/ .quotes-->
					
				</div><!--/ .col-xs-12-->
			</div><!--/ .row-->
		</div><!--/ .container-->
	</section><!-- - - - - - - - /TESTIMONIALS BLOCK - - - - - - - -->
	

	<section class="team"><!-- - - - - - - - D2F TEAM BLOCK - - - - - - - -->
		<section class="section bg-gray-color">
			
			<div class="container">
				<div class="row">

					<div class="col-xs-12">
						<div class="section-title align-center">
							<h1>Meet Our Team</h1>
							<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut aliquet leo sapien bibendum Aenean sit amet tempor augue.</h2>	
						</div>			
					</div><!--/ .col-xs-12-->
					
				</div><!--/ .row-->
			</div><!--/ .container-->	
			
			<section class="team-member">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							
							<div class="team-contents clearfix">


								<article class="scale">
									<div class="contents clearfix">

										<div class="team-info">

											<div class="team-image">
												<a class="single-image team-img team-img team-plus-icon" href="#"><img src="{% static 'images/team/jami-amidon.jpg' %}" alt="" /></a>
											</div>

											<div class="team-group">
												<h2 class="team-title">Jami Amidon</h2>
												<h5 class="team-position">Web Designer</h5>
											</div>

										</div><!--/ .team-info-->

										<div class="team-content">
											<div class="team-entry">

												<p>Lorem ipsum dolor sit amet, consectur adipiscing elit. Pellentesque ut lacus at velit consequat sodales. Ut posuere neque molestie gravida. Integer eu feugiat neque, elementum posuere purus. Nam vitae convallis ipsum.Maecenas a vulputate ipsum, vestibulum lobortis enim. Sed nec consequat felis. Proin sit amet sollicitudin neque, a rhoncus nisl. Aliquam malesuada elementum risus, sit amet dictum tempor nec.  Suspendisse lectus massa, consequat at pellentesque sed.</p>

												<ul class="social-icons">
													<li class="twitter"><a href="#"><i class="icon-twitter"></i>Twitter</a></li>
													<li class="facebook"><a href="#"><i class="icon-facebook"></i>Facebook</a></li>
													<li class="linkedin"><a href="#"><i class="icon-linkedin"></i>LinkedIn</a></li>
													<li class="rss"><a href="#"><i class="icon-rss"></i>Rss</a></li>
													<li class="instagram"><a href="#"><i class="icon-instagramm"></i>Instagram</a></li>
												</ul><!--/ .social-icons-->	

											</div><!--/ .team-entry-->
										</div><!--/ .team-content-->				

									</div><!--/ .contents-->
								</article>


								<article class="scale">
									<div class="contents clearfix">

										<div class="team-info">

											<div class="team-image">
												<a class="single-image team-img team-plus-icon" href="#"><img src="{% static 'images/team/kim-hicks.jpg' %}" alt="" /></a>
											</div>

											<div class="team-group">
												<h2 class="team-title">Kim Hicks</h2>
												<h5 class="team-position">Web Designer</h5>
											</div>

										</div><!--/ .team-info-->

										<div class="team-content">
											<div class="team-entry">

												<p>Lorem ipsum dolor sit amet, consectur adipiscing elit. Pellentesque ut lacus at velit consequat sodales. Ut posuere neque molestie gravida. Integer eu feugiat neque, elementum posuere purus. Nam vitae convallis ipsum.Maecenas a vulputate ipsum, vestibulum lobortis enim. Sed nec consequat felis. Proin sit amet sollicitudin neque, a rhoncus nisl. Aliquam malesuada elementum risus, sit amet dictum tempor nec.  Suspendisse lectus massa, consequat at pellentesque sed.</p>

												<ul class="social-icons">
													<li class="twitter"><a href="#"><i class="icon-twitter"></i>Twitter</a></li>
													<li class="facebook"><a href="#"><i class="icon-facebook"></i>Facebook</a></li>
													<li class="linkedin"><a href="#"><i class="icon-linkedin"></i>LinkedIn</a></li>
													<li class="rss"><a href="#"><i class="icon-rss"></i>Rss</a></li>
													<li class="instagram"><a href="#"><i class="icon-instagramm"></i>Instagram</a></li>
												</ul><!--/ .social-icons-->												

											</div><!--/ .team-entry-->

										</div><!--/ .team-content-->				

									</div><!--/ .contents-->
								</article>


								<article class="scale">
									<div class="contents clearfix">

										<div class="team-info">

											<div class="team-image">
												<a class="single-image team-img team-plus-icon" href="#"><img src="{% static 'images/team/taylor-wilson.jpg' %}" alt="" /></a>
											</div>

											<div class="team-group">
												<h2 class="team-title">Taylor Wilson</h2>
												<h5 class="team-position">Web Designer</h5>
											</div>

										</div><!--/ .team-info-->

										<div class="team-content">
											<div class="team-entry">

												<p>Lorem ipsum dolor sit amet, consectur adipiscing elit. Pellentesque ut lacus at velit consequat sodales. Ut posuere neque molestie gravida. Integer eu feugiat neque, elementum posuere purus. Nam vitae convallis ipsum.Maecenas a vulputate ipsum, vestibulum lobortis enim. Sed nec consequat felis. Proin sit amet sollicitudin neque, a rhoncus nisl. Aliquam malesuada elementum risus, sit amet dictum tempor nec.  Suspendisse lectus massa, consequat at pellentesque sed.</p>

												<ul class="social-icons">
													<li class="twitter"><a href="#"><i class="icon-twitter"></i>Twitter</a></li>
													<li class="facebook"><a href="#"><i class="icon-facebook"></i>Facebook</a></li>
													<li class="linkedin"><a href="#"><i class="icon-linkedin"></i>LinkedIn</a></li>
													<li class="rss"><a href="#"><i class="icon-rss"></i>Rss</a></li>
													<li class="instagram"><a href="#"><i class="icon-instagramm"></i>Instagram</a></li>
												</ul><!--/ .social-icons-->		

											</div><!--/ .team-entry-->
										</div><!--/ .team-content-->				

									</div><!--/ .contents-->
								</article>				


								<article class="scale">
									<div class="contents clearfix">

										<div class="team-info">

											<div class="team-image">
												<a class="single-image team-img team-plus-icon" href="#"><img src="{% static 'images/team/renee-eastman.jpg' %}" alt="" /></a>
											</div>

											<div class="team-group">
												<h2 class="team-title">Renee Eastman</h2>
												<h5 class="team-position">Web Designer</h5>
											</div>

										</div><!--/ .team-info-->

										<div class="team-content">
											<div class="team-entry">

												<p>Lorem ipsum dolor sit amet, consectur adipiscing elit. Pellentesque ut lacus at velit consequat sodales. Ut posuere neque molestie gravida. Integer eu feugiat neque, elementum posuere purus. Nam vitae convallis ipsum.Maecenas a vulputate ipsum, vestibulum lobortis enim. Sed nec consequat felis. Proin sit amet sollicitudin neque, a rhoncus nisl. Aliquam malesuada elementum risus, sit amet dictum tempor nec.  Suspendisse lectus massa, consequat at pellentesque sed.</p>

												<ul class="social-icons">
													<li class="twitter"><a href="#"><i class="icon-twitter"></i>Twitter</a></li>
													<li class="facebook"><a href="#"><i class="icon-facebook"></i>Facebook</a></li>
													<li class="linkedin"><a href="#"><i class="icon-linkedin"></i>LinkedIn</a></li>
													<li class="rss"><a href="#"><i class="icon-rss"></i>Rss</a></li>
													<li class="instagram"><a href="#"><i class="icon-instagramm"></i>Instagram</a></li>
												</ul><!--/ .social-icons-->				

											</div><!--/ .team-entry-->
										</div><!--/ .team-content-->				

									</div><!--/ .contents-->
								</article>	


							</div><!--/ .team-contents-->
							
						</div><!--/ .col-xs-12-->
					</div><!--/ .row-->
				</div><!--/ .container-->
			</section><!--/ .team-member-->		
					
		</section><!--/ .section-->
	</section><!-- - - - - - - - /D2F TEAM BLOCK - - - - - - - -->


	{% include "includes/community-cta.html" %}

	
	<section class="faqs"><!-- - - - - - - - FAQS BLOCK - - - - - - - -->
		<section class="section bg-gray-color">
			<div class="container">

				<div class="row">
					<div class="col-xs-12">
						<div class="section-title align-center">
							<h1>FAQs</h1>
						</div>						
					</div><!--/ .col-xs-12-->
				</div><!--/ .row-->

				<div class="row">

					<div class="col-sm-6 col-lg-4">
						<article class="entry">

							<h3 class="entry-title">How does the Decide To Fly&trade; Online Community work?</h3>
							<div class="entry-body">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut lacus at velit consequat sodales. Ut posuere neque in molestie gravida. Integer eu feugiat neque, elementum posuere purus.</p>
							</div>

						</article><!--/ .entry-->
					</div><!--/ .col-sm-6.col-lg-4-->

					<div class="col-sm-6 col-lg-4">
						<article class="entry">

							<h3 class="entry-title">Who are Jami’s mentors?</h3>
							<div class="entry-body">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut lacus at velit consequat sodales. Ut posuere neque in molestie gravida. Integer eu feugiat neque, elementum posuere purus.</p>
							</div>

						</article><!--/ .entry-->
					</div><!--/ .col-sm-6.col-lg-4-->

					<div class="col-sm-6 col-lg-4">
						<article class="entry">

							<h3 class="entry-title">Will Jami travel for a speaking event or one-on-one mentoring?</h3>
							<div class="entry-body">
								<p>Yes, Depending upon your schedule and hers, Jami is more than happy to come see to you. Please contact our office directly to learn more details.</p>
							</div>

						</article><!--/ .entry-->
					</div><!--/ .col-sm-6.col-lg-4-->

				</div><!--/ .row-->

				<div class="row">

					<div class="col-sm-6 col-lg-4">
						<article class="entry">

							<h3 class="entry-title">Is there another way to work with Jami besides the one-on-one or 360&deg; Mentoring?</h3>
							<div class="entry-body">
								<p>Of course! Jami is available each Sunday evening on a live chat inside the community. You can send your questions to <a href="ask@decidetofly.com">ask@decidetofly.com</a> or just join in the conversation and type in your question.</p>
							</div>

						</article><!--/ .entry-->					
					</div><!--/ .col-sm-6.col-lg-4-->

					<div class="col-sm-6 col-lg-4">
						<article class="entry">

							<h3 class="entry-title">How do I make the most of my Decide To Fly&trade; membership?</h3>
							<div class="entry-body">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut lacus at velit consequat sodales. Ut posuere neque in molestie gravida. Integer eu feugiat neque, elementum posuere purus.</p>
							</div>

						</article><!--/ .entry-->					
					</div><!--/ .col-sm-6.col-lg-4-->

					<div class="col-sm-6 col-lg-4">
						<article class="entry">

							<h3 class="entry-title">As a member, if I have a personal question, can Jami answer it directly?</h3>
							<div class="entry-body">
								<p>Yes. There are many ways to chat with Jami. From her monthly “Ask Jami” live calls to meeting with her live. Simply complete the “Let’s Connect” for on the connect page and we will make sure that we find the best way for you to connect with Jami.</p>
							</div>

						</article><!--/ .entry-->					
					</div><!--/ .col-sm-6.col-lg-4-->
					
				</div><!--/ .row-->
				
			</div><!--/ .container-->
		</section><!--/ .section-->
	</section><!-- - - - - - - - /FAQS BLOCK - - - - - - - -->
	
</div><!--/ #wrapper-->
<!-- - - - - - - - - - - - - end Wrapper - - - - - - - - - - - - - - - -->

{% endblock content %}