{% extends "pages/base.html" %}

{% block title %}Accelerate Your Destiny | Decide to Fly{% endblock title %}

{% block content %}
<div id="wrapper">
	
	<section class="about-products">

		<section class="section parallax parallax-clouds bg-dark-color">
			<div class="full-bg-image"></div>
			<div class="container">
				<div class="products-title col-md-12">

					<h1>Accelerate Your Destiny</h1>
					<h3>Vivamus eget rhoncus purus. Proin non urna ligula. Nunc scelerisque, nunc eget placerat feugiat, arcu quam fringilla mauris, quis blandit diam neque posuere nulla. Aliquam scelerisque diam ut fermentum bibendum. Ut sed ullamcorper nibh. Praesent sit amet molestie lectus, non faucibus tellus.</h3>

				</div><!--/ .col-md-12-->
			</div><!--/ .container-->
		</section><!--/ .section-->

		<section id="about" class="section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 align-center">

						<h1>What to Expect</h1>
					
					</div><!--/ .col-xs-12-->
				</div><!--/ .row-->
			</div><!--/ .container-->

				<div class="row products-items">
					<div class="col-sm-6 col-md-4 slideRight">
							<div class="entry">

								<div class="icon top">
									<i class="fa fa-desktop"></i>
								</div>

								<h2 class="entry-title">Online Mentoring</h2>
								<div class="entry-body">
									<p>Curabitur consequat iaculis neque a faucibus. Sed in rhoncus tellus. Mauris tortor nibh, convallis quis sagittis ut, ornare eget metus. Phasellus vel varius ante. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
								</div><!--/ .entry-body-->

								<div class="icon bottom">
									<i class="fa fa-plus "></i>
								</div>

							</div><!--/ .entry-->
					</div><!--/ .col-sm-6.col-lg-3-->

					<div class="col-sm-6 col-md-4 slideUp">
							<div class="entry">

								<div class="icon top">
									<i class="fa fa-comments"></i>
								</div>

								<h2 class="entry-title">Live Discussion Boards</h2>
								<div class="entry-body">
									<p>Curabitur consequat iaculis neque a faucibus. Sed in rhoncus tellus. Mauris tortor nibh, convallis quis sagittis ut, ornare eget metus. Phasellus vel varius ante. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
								</div><!--/ .entry-body-->

								<div class="icon bottom">
									<i class="fa fa-plus "></i>
								</div>

							</div><!--/ .entry-->		
					</div><!--/ .col-sm-6.col-lg-3-->

					<div class="col-sm-6 col-md-4 slideLeft">
							<div class="entry">

								<div class="icon top">
									<i class="fa fa-users"></i>
								</div>

								<h2 class="entry-title">Connect With Peers</h2>
								<div class="entry-body">
									<p>Curabitur consequat iaculis neque a faucibus. Sed in rhoncus tellus. Mauris tortor nibh, convallis quis sagittis ut, ornare eget metus. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
								</div><!--/ .entry-body-->

								<div class="icon bottom">
									<i class="fa fa-plus "></i>
								</div>

							</div><!--/ .entry-->
					</div><!--/ .col-sm-6.col-lg-3-->
				</div><!--/ .row.community-items-->
		</section><!--/ .section-->
	</section><!--/ .section-->
	

	<section id="team" class="page">
		
		<section class="section bg-gray-color">
			
			<div class="container">

				<div class="row">

					<div class="col-xs-12">
						<hgroup class="section-title align-center opacity">
							<h1>meet our team</h1>
							<h2>We are great team in a stream of web design</h2>	
						</hgroup>			
					</div>
					
				</div><!--/ .row-->

			</div><!--/ .container-->	
			
			<section class="team-member">

				<div class="container">

					<div class="row">

						<div class="col-xs-12">
							
							<div class="team-contents clearfix">

								<article class="scale">

									<div class="contents clearfix">

										<div class="team-info">

											<div class="team-image">
												<a class="single-image team-plus-icon" href="#"><img src="http://placehold.it/250x270" alt="" /></a>
											</div>

											<hgroup class="team-group">
												<h2 class="team-title">Ann Nagell</h2>
												<h5 class="team-position">Web Designer</h5>
											</hgroup>

										</div><!--/ .team-info-->

										<div class="team-content">
											<div class="team-entry">

												<p>
													Lorem ipsum dolor sit amet, consectur adipiscing elit. Pellentesque ut lacus at velit consequat sodales. 
													Ut posuere neque molestie gravida. Integer eu feugiat neque, elementum posuere purus. Nam vitae convallis ipsum.
													Maecenas a vulputate ipsum, vestibulum lobortis enim. Sed nec consequat felis. Proin sit amet sollicitudin neque, 
													a rhoncus nisl. Aliquam malesuada elementum risus, sit amet dictum tempor nec.  Suspendisse lectus massa, 
													consequat at pellentesque sed.
												</p>	

												<ul class="social-icons">
													<li class="twitter"><a href="#"><i class="icon-twitter"></i>Twitter</a></li>
													<li class="facebook"><a href="#"><i class="icon-facebook"></i>Facebook</a></li>
													<li class="linkedin"><a href="#"><i class="icon-linkedin"></i>LinkedIn</a></li>
													<li class="rss"><a href="#"><i class="icon-rss"></i>Rss</a></li>
													<li class="instagram"><a href="#"><i class="icon-instagramm"></i>Instagram</a></li>
												</ul><!--/ .social-icons-->	

											</div><!--/ .team-entry-->
										</div><!--/ .team-content-->				

									</div><!--/ .contents-->

								</article>

								<article class="scale">

									<div class="contents clearfix">

										<div class="team-info">

											<div class="team-image">
												<a class="single-image team-plus-icon" href="#"><img src="http://placehold.it/250x270" alt="" /></a>
											</div>

											<hgroup class="team-group">
												<h2 class="team-title">Jack Nagell</h2>
												<h5 class="team-position">Web Designer</h5>
											</hgroup>

										</div><!--/ .team-info-->

										<div class="team-content">
											<div class="team-entry">

												<p>
													Lorem ipsum dolor sit amet, consectur adipiscing elit. Pellentesque ut lacus at velit consequat sodales. 
													Ut posuere neque molestie gravida. Integer eu feugiat neque, elementum posuere purus. Nam vitae convallis ipsum.
													Maecenas a vulputate ipsum, vestibulum lobortis enim. Sed nec consequat felis. Proin sit amet sollicitudin neque, 
													a rhoncus nisl. Aliquam malesuada elementum risus, sit amet dictum tempor nec.  Suspendisse lectus massa, 
													consequat at pellentesque sed.
												</p>	

												<ul class="social-icons">
													<li class="twitter"><a href="#"><i class="icon-twitter"></i>Twitter</a></li>
													<li class="facebook"><a href="#"><i class="icon-facebook"></i>Facebook</a></li>
													<li class="linkedin"><a href="#"><i class="icon-linkedin"></i>LinkedIn</a></li>
													<li class="rss"><a href="#"><i class="icon-rss"></i>Rss</a></li>
													<li class="instagram"><a href="#"><i class="icon-instagramm"></i>Instagram</a></li>
												</ul><!--/ .social-icons-->												

											</div><!--/ .team-entry-->

										</div><!--/ .team-content-->				

									</div><!--/ .contents-->

								</article>	

								<article class="scale">

									<div class="contents clearfix">

										<div class="team-info">

											<div class="team-image">
												<a class="single-image team-plus-icon" href="#"><img src="http://placehold.it/250x270" alt="" /></a>
											</div>

											<hgroup class="team-group">
												<h2 class="team-title">Ingrid Grant</h2>
												<h5 class="team-position">Web Designer</h5>
											</hgroup>

										</div><!--/ .team-info-->

										<div class="team-content">
											<div class="team-entry">

												<p>
													Lorem ipsum dolor sit amet, consectur adipiscing elit. Pellentesque ut lacus at velit consequat sodales. 
													Ut posuere neque molestie gravida. Integer eu feugiat neque, elementum posuere purus. Nam vitae convallis ipsum.
													Maecenas a vulputate ipsum, vestibulum lobortis enim. Sed nec consequat felis. Proin sit amet sollicitudin neque, 
													a rhoncus nisl. Aliquam malesuada elementum risus, sit amet dictum tempor nec.  Suspendisse lectus massa, 
													consequat at pellentesque sed.
												</p>	

												<ul class="social-icons">
													<li class="twitter"><a href="#"><i class="icon-twitter"></i>Twitter</a></li>
													<li class="facebook"><a href="#"><i class="icon-facebook"></i>Facebook</a></li>
													<li class="linkedin"><a href="#"><i class="icon-linkedin"></i>LinkedIn</a></li>
													<li class="rss"><a href="#"><i class="icon-rss"></i>Rss</a></li>
													<li class="instagram"><a href="#"><i class="icon-instagramm"></i>Instagram</a></li>
												</ul><!--/ .social-icons-->		

											</div><!--/ .team-entry-->
										</div><!--/ .team-content-->				

									</div><!--/ .contents-->

								</article>				

								<article class="scale">

									<div class="contents clearfix">

										<div class="team-info">

											<div class="team-image">
												<a class="single-image team-plus-icon" href="#"><img src="http://placehold.it/250x270" alt="" /></a>
											</div>

											<hgroup class="team-group">
												<h2 class="team-title">Mike Rains</h2>
												<h5 class="team-position">Web Designer</h5>
											</hgroup>

										</div><!--/ .team-info-->

										<div class="team-content">
											<div class="team-entry">

												<p>
													Lorem ipsum dolor sit amet, consectur adipiscing elit. Pellentesque ut lacus at velit consequat sodales. 
													Ut posuere neque molestie gravida. Integer eu feugiat neque, elementum posuere purus. Nam vitae convallis ipsum.
													Maecenas a vulputate ipsum, vestibulum lobortis enim. Sed nec consequat felis. Proin sit amet sollicitudin neque, 
													a rhoncus nisl. Aliquam malesuada elementum risus, sit amet dictum tempor nec.  Suspendisse lectus massa, 
													consequat at pellentesque sed.
												</p>	

												<ul class="social-icons">
													<li class="twitter"><a href="#"><i class="icon-twitter"></i>Twitter</a></li>
													<li class="facebook"><a href="#"><i class="icon-facebook"></i>Facebook</a></li>
													<li class="linkedin"><a href="#"><i class="icon-linkedin"></i>LinkedIn</a></li>
													<li class="rss"><a href="#"><i class="icon-rss"></i>Rss</a></li>
													<li class="instagram"><a href="#"><i class="icon-instagramm"></i>Instagram</a></li>
												</ul><!--/ .social-icons-->				

											</div><!--/ .team-entry-->
										</div><!--/ .team-content-->				

									</div><!--/ .contents-->

								</article>	

							</div><!--/ .team-contents-->
							
						</div>

					</div><!--/ .row-->

				</div><!--/ .container-->

			</section><!--/ .team-member-->		
					
		</section><!--/ .section-->
		
	</section><!--/ .page-->

	
	{% include "includes/free-product-cta.html" with free_cta_title="Free Product CTA" free_cta_subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis consectetur mi vel luctus. Sed accumsan convallis nisi. Etiam mauris magna, mattis vel elementum sed, interdum sit amet nulla." %}

{% endblock content %}