{% extends "base.html" %}
{% load staticfiles i18n %}

{% block title %}Single Post | Decide to Fly{% endblock title %}

{% block content %}
<div id="wrapper">
	
	<section id="blog-single" class="section">
	
		<div id="content">

			<div class="container">
				
				<div class="row">
					<div class="col-xs-12">
						<div class="section-title first-title align-center">
							
							<h1 class="entry-title">The Order That Determines the Outcome</h1>

							<div class="entry-meta">
								<span class="date"><a href="#">01.14.2014</a></span>
								<span>in <a href="#">Design</a></span>
								<span>by <a href="#">Jami Amidon</a></span>					
								<span>3 Comments</span>
							</div><!--/ .entry-meta-->

							<div class="widget widget_tag_cloud">
								<div class="tagcloud">
									<a href="#">Web</a>
									<a href="#">Video</a>
									<a href="#">Business</a>
								</div>
							</div><!--/ .widget-->

						</div>	
					</div>
				</div><!--/ .row-->			

				<div class="row">

					<section id="main" class="col-md-8 col-md-offset-2">

						<article class="entry main-entry single">

							<div class="entry-image">
								<img src="{% static 'images/blog/women-jump-ribbons.jpg' %}" />
							</div><!--/ .entry-image-->

							<div class="entry-body">
								
								<p>I wanted to take a moment to share a power moment of understanding that my most recent Let Go and Live Group experienced. It was a moment of understanding why we are spiraling out of control emotionally, when we are feeling like we just cant stop the spinning and don’t know what to do to get ourselves together.</p>

								<p>Most, if not all of us, will default into behaviors that are only short term “feel good” fixes; shopping, eating, drinking, sleeping, drugs, sex, new relationships, the list is long…Those only serve to distract for a moment and then we are right back to where we were before if not worse.</p>

								<p>Let me suggest a permanent solution to STOP this behavior. Pay attention to the order though, because it truly determines the outcome. Events-Thoughts-Feelings-Actions.</p>
								
							</div><!--/ .entry-body-->

						</article><!--/ .entry-->	
						
						<div class="single-post-nav clearfix">
							<a title="Previous post" class="prev" href="#">Previous Post</a>
							<a title="Next post" class="next" href="#">Next Post</a>
						</div><!--/ .single-post-nav-->		
						
						<section id="comments">

							<h3>Comments</h3>

							<ol class="comments-list">
								
								<li class="comment">

									<article>

										<div class="gravatar"><img alt="" src="{% static 'images/blog/thumbs/walter.jpg' %}"></div>

										<div class="comment-body">

											<div class="comment-meta">
												<div class="comment-author"><h6><a href="#">Walter</a></h6></div>
												<div class="comment-date"><a href="#">15.11.2013 at 3:21 pm</a></div>
											</div><!--/ .comment-meta-->

											<p>
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut lacus at velit consequat sodales. 
												Ut posuere neque in molestie gravida. Integer feugiat neque, elementum posuere purus.  Nam vitae convallis ipsum. 
											</p>

										</div><!--/ .comment-body-->

									</article>

									<ul class="children">

										<li class="comment">

											<article>

												<div class="gravatar"><img alt="" src="{% static 'images/blog/thumbs/jami.jpg' %}"></div>

												<div class="comment-body">

													<div class="comment-meta">
														<div class="comment-author"><a href="#">Jami</a></div>
														<div class="comment-date"><a href="#">15.11.2013 at 3:21 pm</a></div>
													</div><!--/ .comment-meta-->

													<p>
														Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut lacus at velit consequat sodales. 
														Ut posuere neque in molestie gravida. Integer feugiat neque, elementum posuere purus.  Nam vitae convallis ipsum. 
													</p>

												</div><!--/ .comment-body-->

											</article>

										</li><!--/ .comment-->

									</ul><!--/ .children-->

								</li><!--/ .comment-->

								<li class="comment">

									<article>

										<div class="gravatar"><img alt="" src="{% static 'images/blog/thumbs/skyler.jpg' %}"></div>

										<div class="comment-body">

											<div class="comment-meta">
												<div class="comment-author"><h6><a href="#">Skyler</a></h6></div>
												<div class="comment-date"><a href="#">15.11.2013 at 3:21 pm</a></div>
											</div><!--/ .comment-meta-->

											<p>
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut lacus at velit consequat sodales. 
												Ut posuere neque in molestie gravida. Integer feugiat neque, elementum posuere purus.  Nam vitae convallis ipsum. 
											</p>

										</div><!--/ .comment-body-->

									</article>

								</li><!--/ .comment-->

							</ol><!--/ .comments-list-->

						</section><!--/ #comments-->
						
						<section id="respond">

							<h3>Leave a Reply</h3>
							
							<form class="comments-form" method="post" action="/">

								<p class="input-block">
									<input required="" type="text" name="name" id="name" placeholder="Name *" />
								</p>

								<p class="input-block">
									<input required="" type="email" name="email" id="email" placeholder="Email *" />
								</p>

								<p class="input-block">
									<input type="url" name="website" id="url" placeholder="Website" />
								</p>

								<p class="input-block">
									<textarea required="" name="comment" id="comment" placeholder="Comment *"></textarea>	
								</p>

								<p class="input-block">
									<button class="button default middle" type="submit" id="submit">Submit Comment</button>
								</p>

							</form><!--/ .comments-form-->	

						</section><!--/ #respond-->
						
					</section><!--/ #main-->

				</div><!--/ .row-->

			</div><!--/ .container-->

		</div><!--/ #content-->
		
	</section><!--/ .section-->

	{% include "includes/community-cta.html" %}

	{% include "includes/free-product-cta.html" with free_cta_title="Tired of Reading?" free_cta_subtitle="Decide to Fly&trade; is giving you a free video every month to help live life at its greatest potential! Just fill out the form below for access to this month's offer. And don't worry, we never spam you with ads...just informative, valuable resources!" %}

</div><!--/ #wrapper-->


<!-- - - - - - - - - - - - - end Wrapper - - - - - - - - - - - - - - - -->

{% endblock content %}