{% extends "pages/base.html" %}

{% block title %}Courage to Soar | Decide to Fly{% endblock title %}

{% block content %}
<div id="wrapper">

	<section class="about-products">

		<section class="section parallax parallax-courage bg-dark-color">
			<div class="full-bg-image"></div>
			<div class="container">
				<div class="products-title col-md-12">

					<h1>Courage to Soar</h1>
					<h3>Vivamus eget rhoncus purus. Proin non urna ligula. Nunc scelerisque, nunc eget placerat feugiat, arcu quam fringilla mauris, quis blandit diam neque posuere nulla. Aliquam scelerisque diam ut fermentum bibendum. Ut sed ullamcorper nibh. Praesent sit amet molestie lectus, non faucibus tellus.</h3>
					<a href="#"><div class="btn btn-lg btn-danger">Member Login</div></a>

				</div><!--/ .col-md-12-->
			</div><!--/ .container-->
		</section><!--/ .section-->

		<section id="about" class="section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 align-center">

						<h1>What to Expect</h1>
					
					</div><!--/ .col-xs-12-->
				</div><!--/ .row-->
			</div><!--/ .container-->

				<div class="row products-items">
					<div class="col-sm-6 col-md-4 slideRight">
							<div class="entry">

								<div class="icon top">
									<i class="fa fa-desktop"></i>
								</div>

								<h2 class="entry-title">Online Mentoring</h2>
								<div class="entry-body">
									<p>Curabitur consequat iaculis neque a faucibus. Sed in rhoncus tellus. Mauris tortor nibh, convallis quis sagittis ut, ornare eget metus. Phasellus vel varius ante. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
								</div><!--/ .entry-body-->

							</div><!--/ .entry-->
					</div><!--/ .col-sm-6.col-lg-3-->

					<div class="col-sm-6 col-md-4 slideUp">
							<div class="entry">

								<div class="icon top">
									<i class="fa fa-comments"></i>
								</div>

								<h2 class="entry-title">Live Discussion Boards</h2>
								<div class="entry-body">
									<p>Curabitur consequat iaculis neque a faucibus. Sed in rhoncus tellus. Mauris tortor nibh, convallis quis sagittis ut, ornare eget metus. Phasellus vel varius ante. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
								</div><!--/ .entry-body-->

							</div><!--/ .entry-->		
					</div><!--/ .col-sm-6.col-lg-3-->

					<div class="col-sm-6 col-md-4 slideLeft">
							<div class="entry">

								<div class="icon top">
									<i class="fa fa-users"></i>
								</div>

								<h2 class="entry-title">Connect With Peers</h2>
								<div class="entry-body">
									<p>Curabitur consequat iaculis neque a faucibus. Sed in rhoncus tellus. Mauris tortor nibh, convallis quis sagittis ut, ornare eget metus. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
								</div><!--/ .entry-body-->

							</div><!--/ .entry-->
					</div><!--/ .col-sm-6.col-lg-3-->
				</div><!--/ .row.community-items-->
		</section><!--/ .section-->
	</section><!--/ .section-->


	<section class="purchase-cta section bg-turquoise-color">
		<div class="container">
			<div class="row">

				<div class="col-md-8">
					<h1>Ready to begin your journey?</h1>
					<h3>Nunc scelerisque, nunc eget placerat feugiat, arcu quam fringilla mauris, quis blandit diam neque posuere nulla. Aliquam scelerisque diam ut fermentum bibendum.</h3>
				</div><!--/ .col-md-8-->

				<div class="col-md-3 col-sm-8 col-xs-10 col-md-offset-1 col-sm-offset-2 col-xs-offset-1">
					<a href="#"><div class="btn btn-lg btn-block btn-danger">Get Started Now!</div></a>
				</div><!--/ .col-md-3-->

			</div><!--/ .row-->
		</div><!--/ .container-->
	</section><!--/ .section-->
	
	
	{% include "includes/free-product-cta.html" with free_cta_title="Free Product CTA" free_cta_subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis consectetur mi vel luctus. Sed accumsan convallis nisi. Etiam mauris magna, mattis vel elementum sed, interdum sit amet nulla." %}	

</div><!--/ #wrapper-->


<!-- - - - - - - - - - - - - end Wrapper - - - - - - - - - - - - - - - -->

{% endblock content %}