{% extends "pages/base.html" %}

{% block title %}Our Community | Decide to Fly{% endblock title %}

{% block content %}
<div id="wrapper">
	
		
	<section class="about-community"><!-- - - - - - - - ABOUT COMMUNITY BLOCK - - - - - - - -->
		<section class="section first-title">
			<div class="container">

				<div class="row">
					<div class="col-xs-12">
						<div class="slogan align-center">
							<h1>The <span>Decide to Fly&trade;</span>Community</h1>
							<h2>Vivamus eget rhoncus purus. Proin non urna ligula. Nunc scelerisque, nunc eget placerat feugiat, arcu quam fringilla mauris, quis blandit diam neque posuere nulla. Aliquam scelerisque diam ut fermentum bibendum. Ut sed ullamcorper nibh. Praesent sit amet molestie lectus, non faucibus tellus.</h2>	
						</div>
					</div><!--/ .col-xs-12-->
				</div><!--/ .row-->

				<div class="row">
					<div class="col-md-12 about-content">

						<div class="col-md-5 col-md-offset-0 col-sm-8 col-sm-offset-2 about-left">
							<ul>
								<li class="about-item-1">Lorem ipsum dolor sit amet, consecter adipiscing elit. Donec nec orci idenim lacinia auctor. Ut interdum urna ipsum.</li>
								<li class="about-item-2">Lorem ipsum dolor sit amet, consecter adipiscing elit. Donec nec orci idenim lacinia auctor. Ut interdum urna.</li>
								<li class="about-item-3">Lorem ipsum dolor sit amet, consecter adipiscing elit. Donec nec orci idenim lacinia auctor. Ut interdum urna ipsum.</li>
							</ul>
						</div>

						<div class="col-md-5 col-md-offset-2 col-sm-8 col-sm-offset-2 about-right">
							<ul>
								<li class="about-item-4">Lorem ipsum dolor sit amet, consecter adipiscing elit. Donec nec orci idenim lacinia auctor. Ut interdum urna ipsum.</li>
								<li class="about-item-5">Lorem ipsum dolor sit amet, consecter adipiscing elit. Donec nec orci idenim lacinia auctor. Ut interdum urna ipsum.</li>
								<li class="about-item-6">Lorem ipsum dolor sit amet, consecter adipiscing elit. Donec nec orci idenim lacinia auctor. Ut interdum urna ipsum.</li>
							</ul>
						</div>

						<div class="col-sm-4 col-sm-offset-4">
							<div class="btn btn-lg btn-danger btn-block">Join the Community!</div>
						</div>

					</div><!--/ .col-md-12-->
				</div><!--/ .row-->

			</div><!--/ .container-->
		</section><!--/ .section-->
	</section><!-- - - - - - - - /ABOUT COMMUNITY BLOCK - - - - - - - -->

	
	<section id="team" class="page">
		
		<section class="section bg-gray-color">
			
			<div class="container">

				<div class="row">

					<div class="col-xs-12">
						<hgroup class="section-title align-center opacity">
							<h1>meet our team</h1>
							<h2>We are great team in a stream of web design</h2>	
						</hgroup>			
					</div>
					
				</div><!--/ .row-->

			</div><!--/ .container-->	
			
			<section class="team-member">

				<div class="container">

					<div class="row">

						<div class="col-xs-12">
							
							<div class="team-contents clearfix">

								<article class="scale">

									<div class="contents clearfix">

										<div class="team-info">

											<div class="team-image">
												<a class="single-image team-plus-icon" href="#"><img src="http://placehold.it/250x270" alt="" /></a>
											</div>

											<hgroup class="team-group">
												<h2 class="team-title">Ann Nagell</h2>
												<h5 class="team-position">Web Designer</h5>
											</hgroup>

										</div><!--/ .team-info-->

										<div class="team-content">
											<div class="team-entry">

												<p>
													Lorem ipsum dolor sit amet, consectur adipiscing elit. Pellentesque ut lacus at velit consequat sodales. 
													Ut posuere neque molestie gravida. Integer eu feugiat neque, elementum posuere purus. Nam vitae convallis ipsum.
													Maecenas a vulputate ipsum, vestibulum lobortis enim. Sed nec consequat felis. Proin sit amet sollicitudin neque, 
													a rhoncus nisl. Aliquam malesuada elementum risus, sit amet dictum tempor nec.  Suspendisse lectus massa, 
													consequat at pellentesque sed.
												</p>	

												<ul class="social-icons">
													<li class="twitter"><a href="#"><i class="icon-twitter"></i>Twitter</a></li>
													<li class="facebook"><a href="#"><i class="icon-facebook"></i>Facebook</a></li>
													<li class="linkedin"><a href="#"><i class="icon-linkedin"></i>LinkedIn</a></li>
													<li class="rss"><a href="#"><i class="icon-rss"></i>Rss</a></li>
													<li class="instagram"><a href="#"><i class="icon-instagramm"></i>Instagram</a></li>
												</ul><!--/ .social-icons-->	

											</div><!--/ .team-entry-->
										</div><!--/ .team-content-->				

									</div><!--/ .contents-->

								</article>

								<article class="scale">

									<div class="contents clearfix">

										<div class="team-info">

											<div class="team-image">
												<a class="single-image team-plus-icon" href="#"><img src="http://placehold.it/250x270" alt="" /></a>
											</div>

											<hgroup class="team-group">
												<h2 class="team-title">Jack Nagell</h2>
												<h5 class="team-position">Web Designer</h5>
											</hgroup>

										</div><!--/ .team-info-->

										<div class="team-content">
											<div class="team-entry">

												<p>
													Lorem ipsum dolor sit amet, consectur adipiscing elit. Pellentesque ut lacus at velit consequat sodales. 
													Ut posuere neque molestie gravida. Integer eu feugiat neque, elementum posuere purus. Nam vitae convallis ipsum.
													Maecenas a vulputate ipsum, vestibulum lobortis enim. Sed nec consequat felis. Proin sit amet sollicitudin neque, 
													a rhoncus nisl. Aliquam malesuada elementum risus, sit amet dictum tempor nec.  Suspendisse lectus massa, 
													consequat at pellentesque sed.
												</p>	

												<ul class="social-icons">
													<li class="twitter"><a href="#"><i class="icon-twitter"></i>Twitter</a></li>
													<li class="facebook"><a href="#"><i class="icon-facebook"></i>Facebook</a></li>
													<li class="linkedin"><a href="#"><i class="icon-linkedin"></i>LinkedIn</a></li>
													<li class="rss"><a href="#"><i class="icon-rss"></i>Rss</a></li>
													<li class="instagram"><a href="#"><i class="icon-instagramm"></i>Instagram</a></li>
												</ul><!--/ .social-icons-->												

											</div><!--/ .team-entry-->

										</div><!--/ .team-content-->				

									</div><!--/ .contents-->

								</article>	

								<article class="scale">

									<div class="contents clearfix">

										<div class="team-info">

											<div class="team-image">
												<a class="single-image team-plus-icon" href="#"><img src="http://placehold.it/250x270" alt="" /></a>
											</div>

											<hgroup class="team-group">
												<h2 class="team-title">Ingrid Grant</h2>
												<h5 class="team-position">Web Designer</h5>
											</hgroup>

										</div><!--/ .team-info-->

										<div class="team-content">
											<div class="team-entry">

												<p>
													Lorem ipsum dolor sit amet, consectur adipiscing elit. Pellentesque ut lacus at velit consequat sodales. 
													Ut posuere neque molestie gravida. Integer eu feugiat neque, elementum posuere purus. Nam vitae convallis ipsum.
													Maecenas a vulputate ipsum, vestibulum lobortis enim. Sed nec consequat felis. Proin sit amet sollicitudin neque, 
													a rhoncus nisl. Aliquam malesuada elementum risus, sit amet dictum tempor nec.  Suspendisse lectus massa, 
													consequat at pellentesque sed.
												</p>	

												<ul class="social-icons">
													<li class="twitter"><a href="#"><i class="icon-twitter"></i>Twitter</a></li>
													<li class="facebook"><a href="#"><i class="icon-facebook"></i>Facebook</a></li>
													<li class="linkedin"><a href="#"><i class="icon-linkedin"></i>LinkedIn</a></li>
													<li class="rss"><a href="#"><i class="icon-rss"></i>Rss</a></li>
													<li class="instagram"><a href="#"><i class="icon-instagramm"></i>Instagram</a></li>
												</ul><!--/ .social-icons-->		

											</div><!--/ .team-entry-->
										</div><!--/ .team-content-->				

									</div><!--/ .contents-->

								</article>				

								<article class="scale">

									<div class="contents clearfix">

										<div class="team-info">

											<div class="team-image">
												<a class="single-image team-plus-icon" href="#"><img src="http://placehold.it/250x270" alt="" /></a>
											</div>

											<hgroup class="team-group">
												<h2 class="team-title">Mike Rains</h2>
												<h5 class="team-position">Web Designer</h5>
											</hgroup>

										</div><!--/ .team-info-->

										<div class="team-content">
											<div class="team-entry">

												<p>
													Lorem ipsum dolor sit amet, consectur adipiscing elit. Pellentesque ut lacus at velit consequat sodales. 
													Ut posuere neque molestie gravida. Integer eu feugiat neque, elementum posuere purus. Nam vitae convallis ipsum.
													Maecenas a vulputate ipsum, vestibulum lobortis enim. Sed nec consequat felis. Proin sit amet sollicitudin neque, 
													a rhoncus nisl. Aliquam malesuada elementum risus, sit amet dictum tempor nec.  Suspendisse lectus massa, 
													consequat at pellentesque sed.
												</p>	

												<ul class="social-icons">
													<li class="twitter"><a href="#"><i class="icon-twitter"></i>Twitter</a></li>
													<li class="facebook"><a href="#"><i class="icon-facebook"></i>Facebook</a></li>
													<li class="linkedin"><a href="#"><i class="icon-linkedin"></i>LinkedIn</a></li>
													<li class="rss"><a href="#"><i class="icon-rss"></i>Rss</a></li>
													<li class="instagram"><a href="#"><i class="icon-instagramm"></i>Instagram</a></li>
												</ul><!--/ .social-icons-->				

											</div><!--/ .team-entry-->
										</div><!--/ .team-content-->				

									</div><!--/ .contents-->

								</article>	

							</div><!--/ .team-contents-->
							
						</div>

					</div><!--/ .row-->

				</div><!--/ .container-->

			</section><!--/ .team-member-->		
					
		</section><!--/ .section-->
		
	</section><!--/ .page-->


	{% include "includes/free-product-cta.html" with free_cta_title="Free Product CTA" free_cta_subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis consectetur mi vel luctus. Sed accumsan convallis nisi. Etiam mauris magna, mattis vel elementum sed, interdum sit amet nulla." %}
	
</div><!--/ #wrapper-->


<!-- - - - - - - - - - - - - end Wrapper - - - - - - - - - - - - - - - -->

{% endblock content %}