//-------------------------------------------------------//
//--------------------- COMMUNITY FEED ------------------//
//-------------------------------------------------------//

.section-groups {
	.header-container {
		position: relative;
		display: block;
		overflow: hidden;
		max-width: 100%;
		.img-responsive { width: 100%; }
	}
	.discussion-title { margin-top: 0; }
	@media (min-width: @screen-sm) {
		.header {
			position: absolute;
			top: 0;
			width: 100%;
			color: #fff;
			padding: 10px 15px;
			#gradient > .vertical-three-colors(transparent; #000; 1%; transparent);
			.page-title {
				margin: 0;
			}
		}
	}
}

.group-item {
	background-color: #fff;
	display: block;
	margin-bottom: 20px;
	.material-lift();
	.group-img { width: 100%; }
	.group-info { padding: 20px 25px; }
	.group-title,
	.group-text {
		color: @gray-dark;
		margin: 0;
	}
	.group-title { margin-bottom: 15px; }
	@media (min-width: @screen-md-min) {
		.group-info { padding: 25px 25px 25px 5px; }
	}
}

/* Create Comment Form
/* --------------------------------------- */
.panel-comment-create {
	border-radius: 0;
	.nav-tabs { padding: 15px 10px 0; }
	.comment-create-form { border: 1px solid @input-border; }
}

/* Group Feed
/* --------------------------------------- */
.feed {
	.fb-post {
		border-radius: 0;
		border: none;
		&.panel { .box-shadow-1(); }
		.comment-post { border-top: 1px solid @gray-lighter; }
		&.panel .comment-post { border-top: none; }
		p {
			line-height: 20px;
			color: @gray-dark;
			font-weight: 400;
		}
		.fb-post-heading {
			clear: both;
			display: inline-block;
			margin: 0;
			padding: 10px 15px 0;
			.img-circle {
				max-width: 50px;
				display: inline-block;
				float: left;
			}
			.fb-from-user {
				color: @brand-primary;
				display: inline-block;
				font-size: 18px;
				margin: 5px 0 0;
				padding-left: 15px;
			}
			.date, .via {
				color: @gray-light;
				font-size: 11px;
				font-weight: 600;
				margin-bottom: 0;
				padding-left: 15px;
			}
		}
		// Attached Content
		.attached-content {
			border-top: 1px solid @gray-lighter;
			margin-top: 20px;
			padding-top: 15px;
			.list-group-item-heading { color: @gray-dark; }
		}
		// Group Comments
		.fb-comments {
			width: 100%;
			clear: both;
			.media { margin: 0 0 10px; }
			.img-circle { max-width: 40px; }
			.fb-message p {
				font-size: 12px;
				line-height: 16px;
			}
			.fb-actions {
				color: @gray;
				font-size: 12px;
				font-weight: 600;
			}
			.fb-from-user {
				color: @brand-primary;
				float: left;
				margin: 3px 10px 0 0;
			}
			.date {
				color: @gray-light;
				font-size: 11px;
				font-weight: 600;
				margin-bottom: 0;
			}
		}
		.fb-comment-form input { background-color: #fff; }
		// Image posted in an inline comment
		.fb-picture { padding-right: 20px; }
		// Pinned post
		.pin-post {
			visibility: hidden;
			padding: 5px 15px 5px 0;
			&
			a:hover > * { color: @brand-danger; }
		}
		&:hover {
			.pin-post { visibility: visible; }
		}
	}
	// Contrib Comments
	.comment-post {
		.comment-actions {
			padding: 5px 10px 5px 0;
			visibility: hidden;
		}
		.comment-actions a { padding-left: 5px; }
		.comment-actions a:hover > * { color: @brand-danger; }
		&:hover {
			.comment-actions { visibility: visible; }
		}
		.tab-pane { padding: 0; }
		.panel-body { padding: 0 15px 15px; }
	}
	// bootstrap panel overrides
	.panel-pinned {
		border-color: @brand-danger;
		box-shadow: 0 0 3px @brand-danger;
	}
	.panel-footer {
		border-radius: 0;
		background-color: lighten(@gray-lighter, 3%);
	}
}

.comment-form-control {
	.comment-img {
		padding-right: 15px;
		height: 34px;
		float: left;
		.img-circle {
			max-width: 100%;
			max-height: 100%;
			width: auto;
			margin-right: auto;
			display: table;
		}
	}
	.comment-field {
		float: left;
		max-width: 80%;
		box-shadow: none;
	}
	.comment-submit {
		float: left;
		height: 34px;
		.btn {
			margin-left: auto;
			text-align: center;
			display: table;	
		}
	}
	@media (max-width: @screen-phone) {
		.comment-img {width: 16%;}
		.comment-field {max-width: 68%;}
		.comment-submit {width: 16%;}
	}
}
	

