{% extends "pages/hmh/base.html" %}
{% load staticfiles %}

{% block nav_video_1 %} active{% endblock nav_video_1 %}
{% block nav_video_2 %}{% endblock nav_video_2 %}
{% block nav_video_3 %}{% endblock nav_video_3 %}


{% block link_video_2 %}{% endblock link_video_2 %}
{% block link_video_3 %}{% endblock link_video_3 %}


{% block title %}Are you Experiencing The Loss of Your Pet?{% endblock title %}
{% block lead %}Get The Support You Need Now{% endblock lead %}

{% block video %}
    <iframe src="//fast.wistia.net/embed/iframe/x39zfy9zdl" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="360"></iframe>
{% endblock video %}

{% block about %}
<div class="text-center" style="padding: 20px 15px;">
<p class="lead"><strong>We all need</strong> someone to walk beside us and help us not let the lows get too low.</p>
<p class="lead">But most people <strong>don’t understand the feelings</strong> of loss you are having and do not know how to <strong>help you heal</strong> that pain in your heart.</p>
<p class="lead">Take a few minutes for yourself <strong>right now and join me</strong> in this powerful session to explain how you can feel <strong>released</strong> from the pain you are feeling. <strong class="text-red">The video is FREE</strong> and will help you begin the healing journey so you feel <strong>peace, joy,</strong> and <strong>freedom</strong> again.</p>
<br>
<p class="">Please fill out the information below to join us for an informational webinar</p>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">

<form accept-charset="UTF-8" action="https://kb140.infusionsoft.com/app/form/process/9fdb9d77ed482f693a79455013345cc9" class="infusion-form" method="POST">
    
    <input name="inf_form_xid" type="hidden" value="9fdb9d77ed482f693a79455013345cc9" />
    <input name="inf_form_name" type="hidden" value="Video Series&#a;Opt-in Form" />
    <input name="infusionsoft_version" type="hidden" value="1.32.0.69" />
    <div class="infusion-field form-group">
        <label for="inf_field_FirstName">First Name *</label>
        <input class="form-control infusion-field-input-container" id="inf_field_FirstName" name="inf_field_FirstName" type="text" />
    </div>
    <div class="infusion-field form-group">
        <label for="inf_field_Email">Email *</label>
        <input class="form-control infusion-field-input-container" id="inf_field_Email" name="inf_field_Email" type="text" />
        <span class="help-text">We promise to never share your email with spammers</span>
    </div>
    <div class="infusion-submit">
        <input type="submit" value="Join Us" class="btn btn-danger"/>
    </div>
</form>

</div>
</div>
{% endblock about %}