//------------------------------------------------//
//--------------------- LESSONS ------------------//
//------------------------------------------------//

//-------- Lesson List-Groups -------//
.list-group.lessons {
	margin-bottom: 0;
	.list-group-item {
		border-left: none;
		border-radius: 0;
		border-right: none;
		padding: 25px 15px 25px;
		.transition(background-color .25s ease);
		.img-responsive { padding: 0; }
		.list-group-item-heading { margin: 0 0 10px; }
		.list-group-item-text { line-height: 21px; }
	}
}
@media (min-width: @screen-sm-min) {
	.list-group.lessons {
		.list-group-item {
			padding: 25px 45px 25px 40px;
			.list-group-item-heading { margin: 10px 0; }
		}
	}
}

//-------- Lesson List -------//
.lesson-list {
	.list-group.lessons {
		.list-group-item {
			border: none;
			border-radius: 0;
			margin-bottom: 15px;
			padding: 20px 30px;
			.material-lift();
			&:hover { background-color: #fff; }
		}
	}
}

//-------- Lesson Detail -------//
.lesson-detail {
	.course-label {
		font-weight: 500;
		i { padding-right: 5px; }
	}
	.content {
		.fav_button {
			text-transform: uppercase;
			margin-bottom: 20px;
			font-weight: 600;
			color: @brand-danger;
			background-color: transparent;
			border: 2px solid @brand-danger;
			i {
				padding-right: 4px;
				vertical-align: middle;
				font-size: 18px;
			}
		}
	}
	.panel {
		box-shadow: none;
		.box-shadow-1();
		.panel-heading {
			span {
				font-size: 22px;
				text-transform: uppercase;
				font-weight: 400;
				line-height: 24px;
			}
			i {
				color: #fff;
				line-height: 24px;
			}
		}
		.list-group-item {
			border-bottom: 1px solid @table-border-color;
			.transition(background-color .25s ease);
			&:last-child { border-bottom: none; }
		}
	}
	.panel-resource {
		.list-group {
			width: 100%;
			float: left;
			.list-group-item {
				float: left;
				width: 100%;
				.list-group-item-primary {
					width: 90%;
					float: left;
					min-height: 60px;
				}
				.list-group-item-secondary {
					width: 10%;
					float: left;
				}
			}
		}
	}
	.pager { margin: 50px 0 0; }
}