{% load user_thumbnail %}
{% if request.user.is_authenticated %}
  <li class="dropdown">
    <a data-toggle="dropdown" class="profile">
      {% user_thumbnail request.user %}
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <li><a href="{% url 'users:detail' request.user.id %}">Dashboard</a></li>
      <li><a href="{% url 'packages:purchases' %}">Purchases</a></li> 
      <li><a href="{% url 'account_logout' %}">Logout</a></li>
      <li class="divider"></li>
      <li><a class="" href="{% url 'users:update' %}">Edit Info</a></li>
      <li><a class="" href="{% url 'account_email' %}">Edit Email</a></li>  
    </ul>
  </li>

{% else %}
  <li><a href="{% url 'account_signup' %}">Signup</a></li>
  <li><a href="{% url 'account_login' %}">Login</a></li>
{% endif %}