{% load query_string %}
{% if user.is_authenticated %}
  <li class="dropdown">
    <a data-toggle="dropdown">
      Communities
      <i class="fa fa-angle-down state-closed"></i><i class="fa fa-angle-up state-open"></i>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <li><a href="{% url 'facebook_groups:list' %}">All Communities</a></li>
      <li><a href="{% url 'facebook_groups:list' %}{% query_string purchased=1 %}">My Communities</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown">
      Courses
      <i class="fa fa-angle-down state-closed"></i><i class="fa fa-angle-up state-open"></i>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <li><a href="{% url 'courses:list' %}">All Courses</a></li>
      <li><a href="{% url 'courses:list' %}{% query_string purchased=1 %}">My Courses</a></li>
      <li><a href="{% url 'courses:favourites' %}" class="">Favourites</a></li>
      <li><a href="{% url 'courses:history' %}">History</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown">
      Lessons
      <i class="fa fa-angle-down state-closed"></i><i class="fa fa-angle-up state-open"></i>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <li><a href="{% url 'lessons:list' %}">All Lessons</a></li>
      <li><a href="{% url 'lessons:list' %}{% query_string purchased=1 %}">My Lessons</a></li>
      <li><a href="{% url 'lessons:favourites' %}" class="">Favourites</a></li>
      <li><a href="{% url 'lessons:history' %}">History</a></li>
    </ul>
  </li>
{% endif %}
{% if user.is_staff %}
	<li><a href="{% url 'admin:index' %}">Admin</a></li>
{% endif %}