{% load query_string %}
{% if user.is_authenticated %}
  <li class="dropdown">
    <a data-toggle="dropdown">
      {{ trainings.course_name }}s
      <i class="fa fa-angle-down state-closed"></i><i class="fa fa-angle-up state-open"></i>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <li><a href="{% url 'courses:list' %}">All {{ trainings.course_name }}s</a></li>
      <li><a href="{% url 'courses:favourites' %}" class="">Favorites</a></li>
      <li><a href="{% url 'courses:history' %}">History</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown">
      {{ trainings.lesson_name }}s
      <i class="fa fa-angle-down state-closed"></i><i class="fa fa-angle-up state-open"></i>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <li><a href="{% url 'lessons:list' %}">All {{ trainings.lesson_name }}s</a></li>
      <li><a href="{% url 'lessons:favourites' %}" class="">Favorites</a></li>
      <li><a href="{% url 'lessons:history' %}">History</a></li>
    </ul>
  </li>
  <li><a href="{% url 'facebook_groups:list' %}">Discussions</a></li>
{% endif %}
{% if user.is_staff %}
	<li><a href="{% url 'admin:index' %}">Admin</a></li>
{% endif %}

