{% load staticfiles %}

<link href="{% static 'css/grid.css' %}" rel="stylesheet">
<link href="{% static 'css/layout.css' %}" rel="stylesheet">
<link href="{% static 'css/animation.css' %}" rel="stylesheet">
<link href="{% static 'css/tooltipster.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'js/layerslider/css/layerslider.css' %}" />
<link rel="stylesheet" href="{% static 'js/flexslider/flexslider.css' %}" />
<link rel="stylesheet" href="{% static 'js/fancybox/jquery.fancybox.css' %}" />