<!-- ----------- APP FOOTER ----------- -->
<footer class="footer-app">
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3 class="widget-title">App Navigation</h3>
          <ul>
            <li><a href="{% url 'users:detail' request.user.id %}">My Account</a></li>
            {% include "menus/nav_app.html" %}
            <li><a href="{% url 'account_logout' %}">Logout</a></li>
          </ul>
        </div><!--/ .col-md-4-->
        <div class="contact-widget col-md-4">
          <h3 class="widget-title">Contact Us</h3>
            <p><strong>FLUTE LESSONS</strong></p>
            <p>1234 E. Awesome St.<br>
              Super City, AZ 85719</p>
            <p><br><a href="#">(555) 555-5555</a></p>
            <p><a href="#">info@awesome.com</a></p>
        </div><!--/ .contact-widget-->
        <div class="col-md-4">
          <h3 class="widget-title">Need Help?</h3>
          <p>If you're having trouble with the app, checkout our <a href="#"><strong>Support Page</strong></a>. We've answered some frequently asked questions that should help you out.</p>
          <p>But if that doesn't help... just send an email to our support team at <a href="mailto:support@awesome.com">support@awesome.com</a>.</p>
        </div><!--/ .col-md-4-->
      </div><!--/ .row-->
    </div><!--/ .container-->
  </div><!--/ .footer-widgets-->
  <div class="bottom-footer clearfix">
    <div class="container">
      <div class="row">  
        <div class="col-xs-12 text-center">
          <div class="copyright">
            Copyright &copy; 2014 <a href="{% url 'home' %}">Flute Lessons</a>. All rights reserved.
          </div><!--/ .copyright-->
        </div><!--/ .col-xs-12-->
      </div><!--/ .row-->
    </div><!--/ .container-->
  </div><!--/ .bottom-footer-->
</footer>
<!-- ----------- APP FOOTER ----------- -->