<footer class="footer-main"><!-- - - - - - - - FOOTER MAIN BLOCK - - - - - - - -->
  <div class="footer-widgets">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3 class="widget-title">Site Navigation</h3>
          <ul>
            {% include "menus/nav_marketing.html" %}
          </ul>
        </div><!--/ .col-md-4-->
        <div class="contact-widget col-md-4">
          <h3 class="widget-title">Contact Us</h3>
            <p><strong>FLUTE LESSONS</strong></p>
            <p>1234 E. Awesome St.<br>
              Super City, AZ 85719</p>
            <p><a href="#">(555) 555-5555</a></p>
            <p><a href="#">info@awesome.com</a></p>
        </div><!--/ .contact-widget-->
        <div class="free-gift col-md-4">
          <h3 class="widget-title">Mentorship Moments Opt-In</h3>
          <p class="widget-subtitle">Lorem ipsum dolor amet, pellentesque ut lacus at velit consequat ut posuere neque in molestie gravida!</p>
          {% include "includes/infusionsoft/optin_form.html" %}
        </div><!--/ .free-gift-->
      </div><!--/ .row-->
    </div><!--/ .container-->
  </div><!--/ .footer-widgets-->
  <div class="bottom-footer clearfix">
    <div class="container">
      <div class="row">  
        <div class="col-xs-12 text-center">
          <div class="copyright">
            Copyright &copy; 2014 <a href="{% url 'home' %}">Flute Lessons</a>. All rights reserved.
          </div><!--/ .copyright-->
        </div><!--/ .col-xs-12-->
      </div><!--/ .row-->
    </div><!--/ .container-->
  </div><!--/ .bottom-footer-->
</footer><!-- - - - - - - - /FOOTER MAIN BLOCK - - - - - - - -->