<!-- ----------- MAIN FOOTER ----------- -->
<footer class="footer-main">
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <h3 class="widget-title">Site Navigation</h3>
          <ul>
            {% include "menus/nav_marketing.html" %}
          </ul>
        </div><!--/ .col-md-4-->
        <div class="contact-widget col-md-4">
          <h3 class="widget-title">Contact Us</h3>
            <p><strong>FLUTE LESSONS</strong></p>
            <p>1234 E. Awesome St.<br>
              Super City, AZ 85719</p>
            <p><br><a href="#">(555) 555-5555</a></p>
            <p><a href="#">info@awesome.com</a></p>
        </div><!--/ .contact-widget-->
      </div><!--/ .row-->
    </div><!--/ .container-->
  </div><!--/ .footer-widgets-->
  <div class="bottom-footer clearfix">
    <div class="container">
      <div class="row">  
        <div class="col-xs-12 text-center">
          <div class="copyright">
            Copyright &copy; 2014 <a href="{% url 'home' %}">Flute Lessons</a>. All rights reserved.
          </div><!--/ .copyright-->
        </div><!--/ .col-xs-12-->
      </div><!--/ .row-->
    </div><!--/ .container-->
  </div><!--/ .bottom-footer-->
</footer>
<!-- -----------/ MAIN FOOTER ----------- -->