<!-- Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="shareModalLabel">Share:</h4>
      </div>
      <div class="modal-body">
           <!-- Nav tabs -->
           <ul class="nav nav-tabs" role="tablist">
               <li class="active"><a href="#tab-write-new" role="tab" data-toggle="tab">Write</a></li>
               <li><a href="#tab-preview-new" class="tab-preview" data-id='new' data-url="{% url 'dtf_comments:preview_comment' %}" role="tab" data-toggle="tab">Preview</a></li>
           </ul>
           <!-- Tab panes -->
           <div class="tab-content">
             <div class="tab-pane active modal-share-form" id="tab-write-new"></div>
             <div class="tab-pane" id="tab-preview-new"></div>
           </div>
          <div class="attached-content">
              {% include 'comments/comment_attached_content.html' %}
          </div>
      </div>
    </div>
  </div>
</div>